<div class="categories form">
<?php echo $this->Form->create('Blockip'); ?>
	<fieldset>
		<legend><?php echo __('Edit Blockip'); ?></legend>
                <?php

                echo $this->Form->input('ip_address',array('Maxlength'=>15));
                echo $this->Form->input('status');

	        ?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>

<?php //echo $this->element('admin_sidebar'); ?>

