<div class="ui-notification ng-scope user_msg" style="top: 20px; left: 386px">
   <b ng-if="tempMsgDetails.title">{{tempMsgDetails.title}}</b>
   <p ng-if="tempMsgDetails.message" style=" text-align:center;">{{tempMsgDetails.message}}</p>
    <ul ng-if="tempMsgDetails.button">
        <li><button class="btn btn-primary" ng-click="getpayment()" >{{tempMsgDetails.button}}</button></li>
	</ul>
</div>