<div class="categories form">
<?php echo $this->Form->create('Category',array('enctype'=>'multipart/form-data')); ?>
	<fieldset>
		<legend><?php echo __('Edit Sub Category'); ?><?php echo $parentCat;?></legend>
                <?php

                echo $this->Form->input('name',array('value'=>$car['Category']['name'],'style'=>'width:500px;'));
                echo $this->Form->input('project_name',array('required' => 'required','style'=>'width:500px;'));
                echo $this->Form->input('price',array('required' => 'required','style'=>'width:500px;','value'=>$car['Category']['price']));
                echo $this->Form->input('img', array('type' => 'hidden','default' =>$car['Category']['image']));
	        echo $this->Form->input('image',array('type'=>'file'));
                echo $this->Form->input('is_active');

	        ?>

                 <div>
                    <?php
                        if(isset( $car['Category']['image']) and !empty( $car['Category']['image']))
                    {
                    ?>
                    <img alt="" src="<?php echo $this->webroot;?>category_images/<?php echo $car['Category']['image'];?>" style=" height:80px; width:80px;">
                    <?php
                    }
                    else{
                    ?>
                   <img alt="" src="<?php echo $this->webroot;?>category_images/default.png" style=" height:80px; width:80px;">

                    <?php } ?>
                </div>



	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<?php //echo $this->element('admin_sidebar'); ?>

