<div class="emailTemplates form">
<?php echo $this->Form->create('Category',array('enctype'=>'multipart/form-data')); ?>
	<fieldset>
		<legend><?php echo __('Add SubCategory '); ?><?php echo $parentCat;?></legend>
	<?php
		echo $this->Form->input('name',array('required' => 'required','style'=>'width:500px;'));
                echo $this->Form->input('project_name',array('required' => 'required','style'=>'width:500px;'));
                echo $this->Form->input('price',array('required' => 'required','style'=>'width:500px;'));
                echo $this->Form->input('image',array('type'=>'file','style'=>'width:500px;'));
                echo $this->Form->input('is_active');


	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>

