/**************style by soutik*****************/
/********fonts family************/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700);
@font-face {
  font-family: 'kunstler_scriptregular';
  src: url("../fonts/kunstler-webfont.woff2") format("woff2"), url("../fonts/kunstler-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'Roboto', sans-serif; }

.navbar-default {border-radius: 0; border: 0;
  height: auto;
  box-shadow: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 0;
  border-radious: 0;
  background-color: #47115c;
  background-image: url("../images/flower.png"); background-repeat: repeat;}
  .navbar-default .navbar-brand {height: auto; padding: 15px; }
  .navbar-default .navbar-right{margin-top: 30px; }
  .navbar-default .nav-pills li{float: none; height:18px;}
  .navbar-default .nav-pills li:first-child{margin-bottom:10px}
  .navbar-default .nav-pills li a { display: inline-block;font-size: 18px;background: none;color: #fff;font-weight: 700;padding: 0 15px; line-height:18px; font-family: 'Monda' !important; }
  .navbar-default .nav-pills li:first-child a{font-size: 14px; font-family: 'Monda' !important; }
  .navbar-default .nav-pills li a:hover {/*background: #bb75f6;*/ color: #8c8c8c; text-shadow:none }
  .navbar-default .after-login-nav li a{color:#fff; text-shadow:none; text-transform:uppercase; font-family: 'Monda' !important; font-size:16px; font-weight:300;}
/***************************banner*****************/
.banner {
  width: 100%;
  height: auto;
  overflow: hidden;
  /*background-image: url("../images/banner.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 0 90px;
  background-size: cover;
  color: #fff; }
  .banner h1 {
    /*font-family: 'kunstler_scriptregular';*/
	font-family: 'Cinzel' !important;
    font-size: 62px;
    margin-top: 0; text-align:left; margin-left:0; margin:0; margin-top:0 !important; padding-top:30px !important; }
  .banner p {
    font-weight: 300;
/*    text-transform: uppercase;*/
    font-size: 18px;
    margin: 10px 0; font-family: 'Poiret One'!important; }
	.banner p span{font-family: 'Raleway' !important;}
  .banner p b {
    background: #47115c; }
  .banner i {
    font-style: italic;
    font-weight: 300;
    font-size: 16px; }
  .banner i em {
    background: #bb75f6; }
  .banner button {
    background-color: #f2757a;
    color: #fff;
    border: 0;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 20px; }
    .banner button a{color:#fff}
.banner button:hover{background-color: #f0646b;}
.banner_bar {
  width: 100%;
  height: 100px;
  background-color: #47115c;
  background-image: url("../images/flower.png");
  background-repeat: repeat; }

/*********************************/
.how_it_works {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fbf6ff;
  padding: 20px 0 50px; }
  .how_it_works h1 {
    display: block;
    text-align: center;
    color: #282828;
    font-weight: 300;
    text-transform: uppercase;
	margin-bottom:35px;
	margin-top:30px; }
  .how_it_works .tree {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 60px; }
    .how_it_works .tree img {
      display: block;
      margin: 0 auto;
      float: none; }
  .how_it_works .media-left a {
    display: block;
    width: 84px;
    height: 84px;
    background: #47115c;
    border-radius: 100%;
    border: 2px solid #f2757a; }
    .how_it_works .media-left a img {
      display: block;
      margin: 0 auto;
      float: none;
      width: 100%; }
  .how_it_works .media-body h4 {
    color: #563071;
    font-weight: 300;
    font-size: 19px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .how_it_works .media-body p {
    color: #4c4b4b;
    font-weight: 300;
    font-size: 16px;
    display: block;
    text-align: left;
    margin-bottom: 10px;
    line-height: 20px; }
  .how_it_works .media-body button {
    background: #47115c;
    color: #fff;
    border: 0;
    padding: 7px 20px;
    border-radius: 3px;
    margin-top: 10px; }
  .how_it_works .media:hover a {
    background: #f2757a; }
	
	
.how_it_works .container .row .col-md-4 .media .media-left{ display:table; margin:0 auto 15px auto; width:auto; padding:0;}
.how_it_works .container .row .col-md-4 .media .how_it_works .media-body{ display:table; margin:0 auto; width:auto;}


/**********************************service************************************/
.service {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fbf6ff;
  padding: 20px 0 50px;  }
  .service h1 {
    display: block;
    text-align: center;
    color: #282828;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 35px; }
  .service button.cat {
    background-color: #47115c;
    color: #fff;
    border: 0;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 6px 20px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px; }
  .service .cat_img_holder {
    width: 100%;
    height: 224px;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
    margin: 15px 0; }
    .service .cat_img_holder img{width:100%; height: 100%}
    .service .cat_img_holder .middle_box {
      background: RGBA(0, 0, 0, 0.55);
      border-radius: 5px;
      height: 80px;
      left: 10%;
      position: absolute;
      top: 35%;
      width: 80%;
      z-index: 999;
      padding: 10px;
      /*display: none;*/ }
      .service .cat_img_holder .middle_box h2 {
        color: #fff;
        font-weight: 300;
        margin-top: 0;
        font-size: 16px; 
		font-family: 'El Messiri' !important;
		padding:5px 0 0;
		border: none;
		margin-bottom:0;
		}
      .service .cat_img_holder .middle_box p {
        color: #fff;
        font-weight: 300;
        margin-top: 0;
        font-size: 14px;
        line-height: 18px; 
		font-family: 'El Messiri' !important;
		}
      .service .cat_img_holder .middle_box span {
        color: #fff;
        font-weight: 300;
        margin-top: 0;
        font-size: 14px;
        line-height: 18px;
        float: left; }
      .service .cat_img_holder .middle_box button {
        background-color: #47115c;
        color: #fff;
        border: 0;
        float: right;
        padding: 5px 10px;
        border-radius: 3px; }
  .service .cat_img_holder:hover .middle_box {
    display: block; }

/*******************************************/
.crafted_by {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  padding: 70px 0;
  margin-bottom: 4px; }
  .crafted_by p {
    color: #4c4b4b;
    font-size: 28px;
    display: block;
    text-align: center;
    font-weight: 300;
    line-height: 30px; }
  .crafted_by p i {
    color: #47115c; }
  .crafted_by span {
    color: #f2757a;
    font-size: 28px;
    display: block;
    text-align: center;
    font-weight: 300;
    line-height: 30px; }
  .crafted_by ul {
    list_style: none;
    padding: 0;
    display: table;
    margin: 10px auto 0; }
    .crafted_by ul li {
      width: 218px;
      height: 150px;
      overflow: hidden;
      float: left;
      margin: 15px;
      border-radius: 10px; }
      .crafted_by ul li img {
        width: 100%;
		height: 100%; }

/******************************/
.tired_hands {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fbf6ff;
  padding: 70px 0;
  background-image: url("../images/nail_bg1.jpg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 300px; }
  .tired_hands p {
    color: #282828;
    font-size: 36px;
    display: block;
    text-align: center;
    font-weight: 300;
    line-height: 50px; }
  .tired_hands span {
    color: #f2757a;
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 50px; }
  .tired_hands button {
    color: #47115c;
    border: 1px solid #47115c;
    padding: 9px 15px;
    text-transform: uppercase;
    display: block;
    margin: 60px auto;
    font-size: 18px;
    border-radius: 5px; }

/********************************/
.official_meetings {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  padding: 70px 0; }
  .official_meetings p {
    color: #282828;
    font-size: 36px;
    display: block;
    text-align: center;
    font-weight: 300;
    line-height: 50px; }
  .official_meetings span {
    color: #4c4b4b;
    font-size: 18px;
    display: block;
    text-align: center;
    font-weight: 300;
    line-height: 100px; }
    .official_meetings span b {
      font-weight: 300;
      color: #f2757a;
      font-size: 36px; }
    .official_meetings span strong {
      font-weight: 300;
      color: #47115c;
      font-size: 36px; }
  .official_meetings .time_box {
    width: 295px;
    height: 168px;
    background-image: url("../images/pink_date.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px 0;
/*	float:left;*/
 }
    .official_meetings .time_box span {
      color: #fff;
      font-size: 120px;
      text-align: center;
      font-weight: 300;
      line-height: 168px;
      display: block;
      width: 50%;
      float: left; }
	  
.minutes-area{ width:360px; margin:0 auto; position:relative;}
.minutes{ position:absolute; right:0; bottom:0; font-size:16px; color:#4c4b4b;}
/************************/
.banner_bottom {
  width: 100%;
  height: auto;
  overflow: hidden;padding:100px 0;background: url(../images/banner_bottom.jpg);background-size: cover;background-position: bottom center;}

.banner_bottom p{color:#282828; font-size: 36px;
    display: block;
    text-align: center;
    font-weight: 300;line-height: 60px}



.banner_bottom img{display: block;margin: 40px auto;}
.banner_bottom span{color:#4b4a4a; font-size: 18px;
    display: block;
    text-align: center;
    font-weight: 300;line-height: 25px}

.surprise{padding:132px 0;background: url(../images/nail_blue.jpg);background-position: top right;background-repeat: no-repeat;background-color:#fff;margin:5px 0}
.surprise p{color:#282828; font-size: 36px;
    display: block;
    text-align: center;
    font-weight: 300;line-height: 60px}
.surprise p b{
	 font-weight: 300;
      color: #47115c;
      font-size: 36px; 
}
.surprise p strong{
	 font-weight: 300;
      color: #f2757a;
      font-size: 36px; 
}
.surprise span{color:#4b4a4a; font-size: 18px;
    display: block;
    text-align: center;
    font-weight: 300;line-height: 25px}



.newly_joined{width:100%;height: auto;overflow: hidden;background:#fbf6ff;padding:90px 0;}
.newly_joined h3{color:#282828; font-size: 36px;
    display: block;
    text-align: center;
    font-weight: 300;line-height: 60px;margin-bottom: 25px}


.card_style{width:100%;height: auto;overflow: hidden;background:#fff;border-radius:7px;padding:25px;}
.card_img{width:140px;height:140px;overflow: hidden;border:3px solid #47115c;display: block;margin: 0 auto;border-radius: 100%}
.shaparator{width:100%;height:43px;overflow: hidden;background: url('../images/shaprator.png');background-position: center;}

.card_style h2{display: block;text-align: center;font-weight:300;color:#282828;font-size:24px;text-transform: uppercase;}
.card_style i{display: block;text-align: center;font-weight:300;}
.card_style p{color:#595959;font-size: 14px;display: block;text-align: center;}
.card_style span{color:#47115c}
.card_style ul{list-style: none;padding:0;margin: 0 auto;display: table;}
.card_style ul li{float:left;margin:5px}

.card_style ul li a{display: block;width: 31px;height: 31px;border :2px solid #c4c4c4;border-radius:100%;color:#7c7c7c;line-height:28px;text-align: center;}




footer{background:#47115c;}
footer .footer_top{width:100%;height: auto;overflow: hidden;padding:40px 0}
.footer_top b{display: block;text-align: center;color:#fff;font-size:18px;font-weight: 300;text-transform: uppercase;text-align: left;margin-bottom:10px}
.footer_top ul{list-style: none;padding: 0;margin: 0}
.footer_top ul li a{color:#9a9a9a;display: block;line-height:25px;font-size:14px}
.footer_top button{color: #fff;border:1px solid #fff;text-transform: uppercase;background: none;display: block;margin: 0 auto;font-size:24px;padding: 7px 20px;border-radius:3px;margin-top:40px}
.footer_bottom{width:100%;height: auto;overflow: hidden;border-top: 1px solid #4b335e}
.footer_bottom span{color:#9a9a9a;display: block;line-height:70px;font-size:14px}
.footer_bottom ul{ display: table;list-style: outside none none;margin: 15px auto;padding: 0;float: right;}
.footer_bottom ul li{float:left;margin:5px}
.footer_bottom ul li a{display: block;width: 31px;height: 31px;border-radius:100%;color:#fff;line-height:30px;text-align: center;background:#f2757a}
.footer_bottom ul li a:hover{color:#f2757a;background:#fff; transition: ease all 0.2s; text-decoration: none}



.slider_testimonial{width:100%;height: auto;overflow: hidden;background:#fff;padding:120px 0}

.slider_testimonial .bx-wrapper .bx-viewport{box-shadow: none;}
.slider_testimonial .media{width:70%;margin:0 auto;}
.slider_testimonial .media .media-left .left_holder{border-right: 2px solid #47115c;width: 200px;}
.slider_testimonial .media .media-left img{width:90px;height: 90px;border-radius: 100%;overflow: hidden;margin: 0 auto;display: block;}
.slider_testimonial .media .media-left b{display: block;text-align: center;text-transform: uppercase;}
.slider_testimonial .media .media-left .star{display: table;margin: 0 auto;}
.slider_testimonial .media .media-left .star a{color:#ffd950}
.slider_testimonial .media .media-body p{color: #494949;font-size:18px;font-weight:300;font-style: italic;}




/*-----------------------------------Sayanti--------------------------------------------------------------------*/

.banner-sign-up {
  width: 100%;
/*  height: 893px;*/
  overflow: hidden;
/*  background-image: url("../images/banner-sign-up.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 410px 0 100px;
  background-size: cover;*/
  background:url(../images/banner-sign-up.jpg) no-repeat center top;
    background-size: cover;
/*  color: #fff;*/ }

.sign-up-area{ border-radius:6px; background:#efefef; width:486px; margin:12% 0 6% 57%; padding:2% 4% 2%;}
.sign-up-area h3{ text-align:center; text-transform:uppercase; font-weight:300; color:#47115c;}
.sign-up-area p{ text-align:center; font-size:18px; padding-bottom:15px; font-weight:300; color:#282828;}
.sign-up-text{ color:#595959; font-size:15px; font-weight:300; text-align:left !important;}

/*.sign-up-textfield{ margin:0 0 0 0; padding:0 0 0 6%;}*/
.sign-up-area .btn-default{ background:#47115c; border:none; color:#fff; text-transform:uppercase; padding: 8px 0}
.sign-up-area .btn-default:hover{ background:#3a0e4b; color:#fff;}

.or{ text-align:center; height: 12px; display: block; border-bottom:1px solid #ccc}
.or span{text-align:center; padding: 0 8px; display: inline-block; background:#efefef }

.fb-btn-area{ background:url(../images/fb.png) no-repeat #3960a0; font-size:18px; border:none; width:100%; color:#fff; font-weight:300;line-height:53px;}
.fb-btn-area:hover{  background:url(../images/fb.png) no-repeat #3960a0; font-size:18px; color:#ffffff; font-weight:300; line-height:53px;}


.how-it-works-area {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  padding: 50px 0 0; }
  
.how-it-works-area h2 {
    display: block;
    text-align: center;
    color: #282828;
    font-weight: 300;
    text-transform: uppercase; }
	
.how-it-works-area p{color: #4c4b4b;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;}
	
.how-it-pic-area{margin:5% auto; padding:0; width:72%;}	
.how-it-pic{ list-style:none; width:250px; margin:0 0 12%; padding:0;}
.how-it-pic img{width:100%; margin:0% auto; padding:0;  border-radius:4px;}

.how-it-pic h4{ font-size:24px; font-weight:300; color:#282828; padding:4% 0;}
.how-it-pic p{ font-size:14px; font-weight:300; color:#282828; padding:0 0; text-align:left;}

.how-contanair{ width:100%; margin:0 auto; padding:10%; background:#efefef;}

.how-contanair p{font-size:18px; font-weight:300; color:#282828; padding:4%; margin:0 auto; line-height:28px;}

.how-it-text{ width:100%; margin:0% auto; padding:0;}

.how-it-text-lt{ width:486px; height:344px;}
.how-it-text-lt img{ width:100%; margin:0 auto; padding:0; border:none; outline:none;}

.how-it-text-rt{ width:100%; margin:0; padding:0;}
.how-it-text-rt p{font-size:14px; font-weight:300; color:#4c4b4b; padding:4%; margin:8% auto 0; line-height:23px; text-align:left;}

/** Notices and Errors **/
.message {
 clear: both;
 color: #fff;
 font-size: 140%;
 font-weight: bold;
 margin: 0 0 1em 0;
 padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
 background: #ffcc00;
 background-repeat: repeat-x;
 background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
 background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
 background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
 background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
 background-image: linear-gradient(top, #ffcc00, #E6B800);
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
 border: 1px solid rgba(0, 0, 0, 0.2);
 margin-bottom: 18px;
 padding: 7px 14px;
 color: #404040;
 text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
 -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
 box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
 clear: both;
 color: #fff;
 background: #c43c35;
 border: 1px solid rgba(0, 0, 0, 0.5);
 background-repeat: repeat-x;
 background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
 background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
 background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
 background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
 background-image: linear-gradient(top, #ee5f5b, #c43c35);
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
 clear: both;
 color: #fff;
 border: 1px solid rgba(0, 0, 0, 0.5);
 background: #3B8230;
 background-repeat: repeat-x;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
 background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
 background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
 background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
 background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
 background-image: linear-gradient(top, #76BF6B, #3B8230);
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
 font-family: Monaco, Consolas, Courier, monospace;
 font-size: 120%;
 padding: 0.8em;
 margin: 1em 0;
}
p.error em {
 font-weight: normal;
 line-height: 140%;
}
.notice {
 color: #000;
 display: block;
 font-size: 120%;
 padding: 0.8em;
 margin: 1em 0;
}
.success {
 color: #fff;
}

.banner-btn-area{ margin:0; padding:0;}
.left{ float:left;}
.right{ float:left;}
.dwnload-app{ border:1px solid #fff !important; background:none !important; padding:0 20px !important; margin:20px 0;}
.dwnload-app p{ color:#ffffff !important; font-size:16px !important; text-transform:none !important; font-family:"Roboto",sans-serif !important; padding:0; margin:0;}



/*---------------samapika 01-06-2017  ------------------*/


.qs-user-box{
    float: left;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.user-img{
    width: 65px;
    height: 65px;
    overflow: hidden;
    float: left;
    margin-left: 2%;
    border-radius: 100%;
}

.user-img img{
    width: 100%;
}














