﻿<!DOCTYPE html>
<html lang="en" data-ng-app="angularblank">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--<meta name="description" content="{{app.description}}">-->
    <meta name="description" content="statmedclinic">
    <meta name="keywords" content="{{app.keywords}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-touch-fullscreen" content="yes" />
    
    <title>{{appTitle}}</title>
    
<!--    <link href="app/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="app/assets/css/loader.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="app/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="app/assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="app/assets/css/jquery.bxslider.css" rel="stylesheet">
    <link href="app/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="app/assets/css/ionicons.css" rel="stylesheet" type="text/css">
-->    
    <link href="app/assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <link href="app/assets/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="app/assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900" rel="stylesheet">
    <link href="app/assets/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">	
    <link href="app/assets/css/ionicons.css" rel="stylesheet" type="text/css">
    <link href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->

<!--    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,900i" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">  -->
    

    <script type="text/javascript" src="app/assets/js/jquery.min.js"></script>
    <script src="https://use.fonticons.com/ffe176a3.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="bower_components/fullcalendar/dist/gcal.js"></script>
    <script type="text/javascript" src="app/assets/js/bootstrap.min.js"></script>
    
    <script src="app/assets/js/jquery-ui.min.js"></script>
    
    <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/config.constant.js"></script>
    
    <!-- Global Module in app.js -->
    <script src="bower_components/oclazyload/ocLazyLoad.min.js"></script>
    <script src="bower_components/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>
    
    <script src="app/Controllers/RootScopeCtrl.js"></script>
    <script src="app/Controllers/headerCtrl.js"></script>
    <script src="app/Controllers/footerCtrl.js"></script>
    <script src="app/Controllers/leadsCtrl.js"></script>
    <script src="app/filters/dateFilter.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script> 
    <script src="app/service/userService.js"></script>
    <script src="app/service/leadService.js"></script>
<!--    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>-->
    
    <script src="app/assets/js/jquery.min.js"></script>
    <script src="app/assets/js/bootstrap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYFY2fp_meJiSEKve5pDJk9Kzr_oDOlPk&libraries=places"></script>
    <script src="app/assets/js/vs-google-autocomplete.js"></script>
    
        <script>
		$(document).ready(function() {
	  //carousel options
	  $('#quote-carousel').carousel({
	    pause: true, interval: 10000,
	  });
	});
	</script>
	<script>
              $(document).ready(function(){
                    $('#top-dropdown').click(function () {                            
                $('.account-menu').slideToggle('fast');
                return false;
            });
            });
	</script>
        
        <script src="app/assets/js/metisMenu.min.js"></script>
        <script src="app/assets/js/sb-admin-2.min.js"></script>
        <script src="app/assets/js/custom.js"></script>
    

    
    
    
</head>

<body ng-controller="RootScopeCtrl" class="hold-transition skin-blue sidebar-mini" ng-cloak>
    <div id="default_loader" class="loading" style="display:none;">Loading&#8230;</div>
    <div ui-view id="app"></div>
</body>

</html>
