<?php //echo '<pre>'; print_r($responses); echo '</pre>'; ?>
<?php //echo '<pre>'; print_r($provider); echo '</pre>'; ?>

<section class="admin-qus-ans-page">
    <div class="ad-q-a-top">
        <h2><?php if(!empty($responses)&&$responses[0]['Question']['Category']['name']!=''){echo $responses[0]['Question']['Category']['name']; }?></h2>
        <?php  if(!empty($responses)&&!empty($responses[0]['User'])) { ?>
        <div class="qs-user-box">
            <p class="ttle">Posted By</p>
            <div class="user-img">
                <?php
                $SITE_URL=Configure::read("SITE_URL");
                $img=$SITE_URL.'user_images/'.$responses[0]['User']['image'];
                ?>
                <img src="<?php echo $img; ?>" alt="">
            </div>
            <h4><?php echo $responses[0]['User']['name']; ?></h4>
            
            <p>Email Id : <span><?php echo $responses[0]['User']['email']; ?></span></p>
            <p>Phone No : <span><?php echo $responses[0]['User']['mobile_no']; ?></span></p>
            
        </div>
        <?php } ?>
        <?php if(!empty($provider)){ ?>
        <div class="qs-user-box qs-user-box-right">
            <p class="ttle">Assigned to</p>
            <div class="user-img">
               <?php
                $SITE_URL=Configure::read("SITE_URL");
                $img1=$SITE_URL.'user_images/'.$provide['User']['image'];
                ?>
                <img src="<?php echo $img1; ?>" alt="">
            </div>
            <h4><?php echo $provider['User']['name']; ?></h4>
            
            <p>Email Id : <span><?php echo $provider['User']['email']; ?></span></p>
            <p>Phone No : <span><?php echo $provider['User']['mobile_no']; ?></span></p>
        </div>
        <?php } ?>
    </div>
    <div class="ques-ans">
        <?php 
        $i=1;
        foreach ($responses as $response): 
        ?>
        <div class="ques">
            <p><span>Q: <?php echo $i;?>.&nbsp;&nbsp; </span><?php echo ($response['Question']['name']);?></p>
        </div>
        <div class="ans">
            <p class="a-n-s"><span>A:</span></p>
            <ul>
                <?php
                $ans=array();
                $ans=explode(",",$response['Userresponse']['answer']);
                foreach($ans as $answer){
                ?>
                <li><p><?php echo $answer;?></p></li>
                <?php } ?>
            </ul>
        </div>
        <div class="clearfix"></div>
        <?php
        $i++;
        endforeach;
        ?>

       
    </div>
</section>

<!--<div class="categories index">
	<h2><?php //echo $responses['Category']['name']; ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
		<th><?php echo $this->Paginator->sort('id'); ?></th>
		<th><?php echo $this->Paginator->sort('User Name'); ?></th>
		<th><?php echo $this->Paginator->sort('Service'); ?></th>
        <th><?php echo $this->Paginator->sort('Question'); ?></th>
        <th><?php echo $this->Paginator->sort('Answer'); ?></th>
            	
	</tr>
	<?php foreach ($responses as $response): ?>
	<tr>
		<td><?php echo h($response['Userresponse']['id']); ?>&nbsp;</td>
		<td><?php echo h($response['User']['name']);?></td>
		<td><?php echo ($response['Question']['Category']['name']);?></td>
        <td><?php echo ($response['Question']['name']);?></td>
        <td><?php echo ($response['Userresponse']['answer']);?></td>
	</tr>
       <?php endforeach; ?>
	</table>
	
</div>-->
<?php //echo $this->element('admin_sidebar'); ?>