<footer class="footer" ng-init="dropdown();" ng-controller="footerCtrl">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-12">
					<ul class="socialIconslist">
						<li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
						<li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
						<li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
					</ul>
					<ul class="footerMenu">
						<li><a href="#/cms/4">About Us</a></li>
						<li><a href="#/cms/7">Support</a></li>
						<li><a href="#/cms/3">Terms & Conditions</a></li>
						<li><a href="#/cms/5">Privacy Policy</a></li>
						<li><a href="#/cms/6">Partner With Us</a></li>
						<!--<li><a href="javascript:void(0);" data-toggle="modal" data-target="#JobpostModal">Show Modal</a></li> -->
					</ul>
					<p class="text-center copyrightText"> Copyright &copy; 2017 Taskiteer</p>
				</div>
			</div>
        </div>
        


        <div ng-include=" 'app/views/modals/job_post_modal.html' "  ></div>

        
        <!--   log in modal  -->
        
        <div class="modal fade login-modal" id="loginModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Log In</h4>
              </div>
              <div class="modal-body">
                  
                  
                  
                <form class="login-form" name="loginForm" ng-submit="login(user)" novalidate>
                    
                    
                    
<div style="color:red" ng-show="submissionError">{{submissionError}}</div>
                    
                    
                    
                  <div class="form-group form-group-field">
                    <label for="recipient-name" class="control-label"><i class="fa fa-user"></i></label>
                    <input type="email" name="email" placeholder="Email Address Or User Name" ng-model="user.email" required>
                  </div>
                  
                  <label class="">
                    <span style="color:red" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                    <span ng-show="loginForm.email.$error.required">Field is required.</span>
                    </span>
                  </label>  
                    
                    
                    
                    
                  <div class="form-group form-group-field">
                    <label for="message-text" class="control-label"><i class="fa fa-lock"></i></label>
                    <input type="password" name="password" placeholder="Password" ng-model="user.password" required>
                  </div>
                    
                    <label class="">
                    <span style="color:red" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                    <span ng-show="loginForm.password.$error.required">Field is required.</span>
                    </span>
                    </label>  
                    
                    
                    
                    
                    <div class="form-group form-check-forget">
                        <p>
                            <input type="checkbox" id="remember" />
                            <label for="remember">Remember Me</label>
                          </p>
                       <!--<a href="#" class="close forget-pass" data-toggle="modal" data-target="#forgetModal" data-dismiss="modal" aria-label="Close">Forgot Password ?</a>-->
			<a href="javascript:void(0);"  ng-click="openForgotPwsModal();" class="close forget-pass ForgotPws">Forgot Password ?</a>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn" value="Sign In" ng-disabled="loginForm.$invalid">
                    </div>
                </form>
                  
                  
                  
                  
                  
                  <div class="log-in-bottom">
                      <h2>Or</h2>
                      <a class="btn fb-btn" ng-click="openFBLogin();"><i class="fa fa-facebook"> </i><span>Sign Up With Facebbok</span></a>
                      <a href="javascript:void(0);" ng-click="openGoogleLogin();" style="display: none" class="btn gp-btn"><i class="fa fa-google-plus"></i> <span>Sign Up With Googleplus</span></a>
                      <h4>Not a Member <a href="#" data-toggle="modal" data-target="#signupModal" data-dismiss="modal" aria-label="Close">Sign Up</a></h4>
                  </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="modal fade login-modal signup-modal" id="signupModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document" id="myModal">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Sign Up</h4>
              </div>
              <div class="modal-body">
                  
                  
                  
                  <form class="form-signup login-form" ng-submit="signup(user)" name="signupform" novalidate="">
                    
                    
                    <div style="color:green" ng-show="submissionSuccsignup">{{submissionSuccsignup}}</div>
                    <div style="color:red" ng-show="submissionErrorsignup">{{submissionErrorsignup}}</div>
                    
                    
				<div class="form-group"  >
					<label>Name:</label>
                                        <input type="text" name="name" ng-model="user.name" placeholder="Enter your name"  required=""
                                               ng-class="{ 'fileld_error': signupform.$submitted && signupform.name.$invalid   }"
                                               >
				</div>
				<!--<div class="form-group">
					<label>Last Name:</label>
					<input type="text" placeholder="Enter your last name">
				</div>-->
				<div class="form-group" >
					<label>E-mail:</label>
                                        <input  type="email" name="email" ng-model="user.email" placeholder="Enter your email id" required="" ng-class="{ 'fileld_error': signupform.$submitted && signupform.email.$invalid   }"> 
				</div>
                                <div class="form-group" >
					<label>Country:</label>
                                        <select   ng-model="user.countries" 
                                                  ng-options="option.name for option in countries track by option.id"
                                                  ng-change="getisd(user.countries.id)"
                                                  name="country"
                                                  ng-class="{ 'fileld_error': signupform.$submitted && signupform.country.$invalid   }"
                                                  required=""
                                         >
                                            <option value="">Select Country</option>
                                            
                                        </select>
				</div>
				<div class="form-group" >
					<label>Mobile:</label>
                                        <div class="row">
                                            
                                        <div class=" col-md-3"><input type="text" name="isd" ng-model="user.isd" readonly=""></div>
                                        <div class=" col-md-9">
                                            <input type="tel" name="mobile_no" ng-model="user.mobile_no" placeholder="Enter your mobile no" required=""
                                            ng-class="{ 'fileld_error': signupform.$submitted && signupform.mobile_no.$invalid   }"
                                            >
                                        </div>
                                        </div>
				</div>
                <div class="form-group frm-grp-date">
					<label>Date Of Birth</label>
                                        <select name="dob_date" ng-model="user.dob_date">
						<option value="">Date</option>
                                                <option ng-repeat="day in days">{{day}}</option>
					</select>
                                        <select name="dob_mon" ng-model="user.dob_mon">
                                            <option value="">Month</option>			
                                            <option ng-repeat="month in months">{{month}}</option>
                                                            </select>
                                        <select name="dob_year" ng-model="user.dob_year">
                                            <option value="">Year</option>			
                                            <option ng-repeat="year in years">{{year}}</option>
                                        </select>
				</div>
				<div class="form-group" >
					<label>Password:</label>
                                        <input type="password" name="password" ng-model="user.password" placeholder="Enter password" required=""
                                        ng-class="{ 'fileld_error': signupform.$submitted && signupform.password.$invalid   }"       
                                        >
				</div>
				<div class="form-group">
					<label>RE-type Password:</label>
                                        <input type="password" name="cnfpass" ng-model="user.cnfpass" placeholder="RE-type Password:" required=""
                                        ng-class="{ 'fileld_error': signupform.$submitted && signupform.cnfpass.$invalid   }" 
                                       >
				</div>
<!--                                <div class="form-group sign-up-frm-grp-radio" style="display:none;">
                    <label>Type</label>
                    <div>
                        <label for="user-type" class="radio-inline">
                        	<input type="radio" name="type"  ng-model="user.type" value="U" id="user-type" ng-value="TRUE">
                              User
                            </label>
                    </div>
                     <div>
                     	<label for="user-pro" class="radio-inline">
                        <input type="radio" name="type" ng-model="user.type" value="SP" id="user-pro">
                         Provider</label>
                    </div>
                </div>-->
<!--				<div class="form-group">
					<label>Where did you hear about?</label>
                                        <select name="type" ng-model="user.type">
						<option value="u">User</option>
                                                <option value="sp">Service Provider</option>
                                                <option value="fu">Facebook User</option>
                                                <option value="gu">Google Provider</option>
					</select>
				</div>-->
<input type="hidden" name="type"  ng-model="user.type">
				<div class="form-group">
					<input type="submit" class="btn" value="SIGN UP">
				</div>
			</form>
                  
                  
                  
                  
                  <!--<div class="log-in-bottom">
                      <h2>Or</h2>
                      <a href="#" class="btn fb-btn"><i class="fa fa-facebook"> </i><span>Sign Up With Facebbok</span></a>
                        <a href="#" class="btn gp-btn"><i class="fa fa-google-plus"></i> <span>Sign Up With Googleplus</span></a>
                      <h4>Not a Member <a href="#">Sign Up</a></h4>
                  </div>-->
              </div>
            </div>
          </div>
        </div>
        
        
		<div class="modal fade login-modal signup-modal" id="forgetModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document" id="myModal">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="exampleModalLabel">Forgot Password</h4>
					</div>
					<div class="modal-body">
						<form class="form-signup login-form" ng-submit="forgetpass(user)">
							<div class="form-group">
								<label>E-mail:</label>
								<input type="email" name="email" ng-model="user.email" placeholder="Enter your email id">
							</div>
							<div class="form-group">
                        		<input type="submit" class="btn" value="Submit">
                    		</div>
						</form>
					</div>
				</div>
			</div>
		</div>


	</footer>
    

    
        



	
	<!--<script src="app/assets/js/jquery.min.js"></script>
	<script src="app/assets/js/bootstrap.js"></script>	
	<script>
		$(document).ready(function() {
	  //carousel options
	  $('#quote-carousel').carousel({
	    pause: true, interval: 10000,
	  });
	});
	</script>-->
    
    
    
    <script type="text/javascript">   
    $.ajaxSetup({ cache: true });
    $.getScript('//connect.facebook.net/en_US/all.js', function(){
    FB.init({ appId: '165660043944000',cookie: true,
    oauth: true}
    );         
    
/*    $(".fb-btn").on("click", function(e){
    // alert('hi');
    e.preventDefault();       
    FB.login(function(response){    
    // FB Login Failed //
     if(!response || response.status !== 'connected') {
    alert("Account Access Not Authorized", "Facebook says");    
    }else{
    // FB Login Successfull //
    FB.api('/me', function(fbdata){                       
    console.log(fbdata); //
    //  alert(JSON.stringify(fbdata));
    //alert(fbdata.toString())
    var fb_id = fbdata.id;                       
    var name = fbdata.name;
    //var last_name = fbdata.last_name;
    var email = fbdata.email;
    //var fb_username = fbdata.username;
    values = "fb_id="+fb_id+"&fb_name="+name;
	
$scope.openFBLogin();	
	

    
    })
    }
        }, {scope:"email"});
    
    })*/
    });
	
	
	

</script>

<script>
    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js?onload=googleonLoadCallback1';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();

    function googleonLoadCallback1()
    {
        gapi.client.setApiKey('AIzaSyCutBPm2XPaxSSJyjf97B9U0ZdwqxxfCZ4'); //set your API KEY
        gapi.client.load('plus', 'v1', function () {
        });//Load Google + API
    }

/*    function google_login() {
        var myParams = {
            'clientid': '1022385791218-ugmhhi704no039otpqm5soha0fua4ovc.apps.googleusercontent.com', //You need to set client id
            'cookiepolicy': 'single_host_origin',
            'callback': 'googleloginCallback', //callback function
            'approvalprompt': 'force',
            'scope': 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read'
        };
        gapi.auth.signIn(myParams);
    }
*/
  /*  function googleloginCallback(result) {
        if (result['status']['signed_in'])
        {
            //console.log(result);
            //alert("Login Success");
            var request = gapi.client.plus.people.get({
                'userId': 'me'
            });

            request.execute(function (resp) {
                var email = resp.emails[0].value;
                var gpId = resp.id;
                var fname = resp.name.familyName;
                var lname = resp.name.givenName;

                $.ajax({
                    url: 'googlelogin.php?action=gpLoginRegister',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        gpId: gpId,
                        email: email,
                        fname: fname,
                        lname: lname
                    },
                    beforeSend: function () {

                    },
                    success: function (data) {
                        //if (data.ack == '1') {
                        //alert(data.msg);
                        location.href = 'my_account.php';
                        //} 
                    }
                });


            });
        }

    }*/

    function showforgetmodal()
    {
	console.log('hi');
        $("#loginmodal").hide();
        $("#forgetmodal").show();
    }
</script>
<style>
    .fileld_error
    {
         border-color: #a94442 !important;
    }
</style>
    <script type="text/javascript">
		  $(document).ready(function(){
			$('#top-dropdown').click(function () {
	            $('.account-menu').slideToggle('fast');
	            return false;
	        });
			/*$('.ForgotPws').click(function () {	
				$("#loginmodal").hide();
				$("#forgetmodal").show();
			});*/
		});
	</script>
        <script src="app/assets/js/metisMenu.min.js"></script>
        <script src="app/assets/js/sb-admin-2.min.js"></script>
        <script src="app/assets/js/custom.js"></script>
	</body>
</html>
