<header class="header" ng-controller="headerCtrl" ng-init="all_notifications();">
		<div class="headerTop">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="contactPart">
							<!--<ul>
								<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 9831558866</a></li>
								<li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> info_abs@gmail.com</a></li>
							</ul> -->
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="socialIcons">
							<ul>
								<li><a href="https://www.facebook.com/Taskiteer" target="_blank"><i class="icon ion-social-facebook"></i></a></li>
								<li><a href="https://twitter.com/Taskiteer" target="_blank"><i class="icon ion-social-twitter"></i></a></li>
								<li><a href="http://pinest.com/Taskiteer" target="_blank"><i class="icon ion-social-pinterest"></i></a></li>
								<!-- <li><a href="#"><i class="icon ion-search"></i></a></li> -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="headerBottom">
			<nav class="navbar">
  				<div class="container">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>                        
				      </button>
				      <a class="navbar-brand" href="#/home"><img src="app/assets/images/logo.png" class="img-responsive"></a>
				    </div>
        <!--<div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right navPart">
                        <li><a href="#">Home</a></li>       
                        <li><a href="#">How it works</a></li>
                        <li class="listYour"><a href="#">LIST YOUR SERVICE</a></li>       
                        <li><a href="#">Faq's</a></li>                                                   
                        <li ng-if="current_user_login!=1"><a href="#" data-toggle="modal" data-target="#loginModal">Sign in </a></li>      
                        <li ng-if="current_user_login!=1"><a href="#" data-toggle="modal" data-target="#signupModal">Sign up</a></li>
                        
                        
                        
                        <li class="aftr-login" ng-if="current_user_login==1">
                                    <a href="" class="holder" id="top-dropdown">
                                            <div class="round-user"><img src="app/assets/images/engineerImage.png" alt=""></div>
                                            <span class="name">Hi! Avik Ghosh <b class="caret"></b></span>
                                    </a>
                        <ul class="account-menu">
                                    <li class="dropdown-tab">
                                            <div class="content-tab">
                                                    <ul class="sub-account-menu">
                                                            <li><a href="">Edit Profile</a></li>
                                                            <li><a href="">Sent items</a></li>
                                                            <li><a href="">Inbox</a></li>
                                        <li><a href="">My Wishlist</a></li>
                                                            <li href="javascript:void();" ng-click="logout();"><a href="">Logout</a></li>
                                                    </ul>
                                            </div>
                                    </li>
                            </ul>
                        </li>
                        
                        
                        
                        <!--<li ng-if="current_user_login==1"><a href="#">My Account</a></li>
                        <li href="javascript:void();" ng-click="logout();" ng-if="current_user_login==1"><a href="#">Logout</a></li>-->
                <!--</ul>
        </div>-->
                                    
                                    
                                    
                                    
<div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right navPart">
            <li><a href="#/home" ng-if="current_user_login!=1">Home</a></li>      
                <li><a href="#/cms/6" ng-if="current_user_login!=1">How it Works</a></li>
                <li class="listYour" ng-if="current_user_login==1"><a href="javascript:void(0)" ng-click="showmainmodal()">Request a Service</a></li> 
                <li  ng-if="current_user_login==1 && current_user_type=='U' "><a ui-sref="frontend.selectsrevice">Become a Taskiteer Pro</a></li> 
                <li  ng-if="current_user_login==1 && current_user_type =='U' "><a href="#/myproject/all">Projects</a></li> 
                <!--<li  ng-if="current_user_login==1 && current_user_type=='SP' "><a href="javascript:void(0)">Messages</a></li>
                <li  ng-if="current_user_login==1 && current_user_type=='SP' "><a href="#my_account">Pro Dashboard</a></li> 
                <li  ng-if="current_user_login==1 && current_user_type=='SP' "><a href="#/providerprofile">My Profile</a></li> -->
		<li  ng-if="current_user_login==1 && current_user_type=='SP' "><a href="#/myproject/all">Pro Dashboard</a></li>
                <li  ng-if="current_user_login==1 && current_user_type=='SP' "><a href="#quotessend">Message Center</a></li> 
                <li  ng-if="current_user_login==1 && current_user_type=='SP' "><a href="#/myappliedproject/all">Job Posts</a></li>
                <li  ng-if="current_user_login==1 && current_user_type=='SP' "><a href="javascript:void(0)" ng-click="logout();">Log Out</a></li> 
                <!--               
<li class="listYour" ng-if="current_user_login!=1"><a href="javascript:void(0);" data-toggle="modal" data-target="#loginModal">LIST YOUR SERVICE</a></li>  -->
                 
                <li><a href="#/faq" ng-if="current_user_login!=1">FAQ</a></li>

                <li ng-if="current_user_login!=1"><a href="javascript:void(0);"  ng-click="showloginmodal()">Sign In </a></li>   
                <li ng-if="current_user_login!=1"><a href="javascript:void(0);"  ng-click="showsignupmodal()">Sign Up</a></li>
                <!--<li>
                    <a href="#"><i class="ion-android-notifications"></i></a>
                </li>--> 
                
                <li dropdown ng-if="current_user_login==1" class="dropdown notification-drop" uib-dropdown>
                    <a  href="javascript:void(0);"  
                    ng-click="setread();notification_count=0"
                    uib-dropdown-toggle id="notify_dropdown"
                    >
                        
                        <i class="ion-android-notifications"></i><span class="caret"></span>
                        <span class="not-num" ng-if="notification_count>0">{{notification_count}}</span>
                    </a>
                    <ul class="dropdown-menu"   style=" z-index:999999999;" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                     
                      <li ng-repeat="noti in notificationArr" ng-if="notificationArr.length>0">
                          
                          <a href="javascript:void(0)" ui-sref="frontend.quotes({lead_id:noti.quote_id})" ng-if="noti.type==3 ">
                              <div style=" overflow: hidden;">
                                   
                                    <span>
                                         <img src="{{noti.userimage}}" class="img-responsive noti-img"/>
                                          {{noti.username}} - 
                                          {{noti.msg}} 

                                    </span>
                                    
                                    <span class="pull-right text-muted small">{{noti.posttime}}</span>
                                </div>
                          </a>    
                          <a href="javascript:void(0)" ui-sref="frontend.jobdetails({id:noti.lead_id})" ng-if="noti.type==2 ">
                              <div style=" overflow: hidden;">
                                   
                                    <span>
                                         <img src="{{noti.userimage}}" class="img-responsive noti-img"/>
                                          {{noti.username}} - 
                                          {{noti.msg}} 

                                    </span>
                                    
                                    <span class="pull-right text-muted small">{{noti.posttime}}</span>
                                </div>
                          </a>    
                          <a href="javascript:void(0)" ui-sref="frontend.chats({quote_id:noti.quote_id})" ng-if="noti.type==4 ">
                              <div style=" overflow: hidden;">
                                   
                                    <span>
                                         <img src="{{noti.userimage}}" class="img-responsive noti-img"/>
                                          {{noti.username}} - 
                                          {{noti.msg}} 

                                    </span>
                                    
                                    <span class="pull-right text-muted small">{{noti.posttime}}</span>
                                </div>
                          </a>    
                          <a href="javascript:void(0)"  ng-if="noti.type==1 ">
                              <div style=" overflow: hidden;">
                                   
                                    <span>
                                         <img src="{{noti.userimage}}" class="img-responsive noti-img"/>
                                          {{noti.username}} - 
                                          {{noti.msg}} 

                                    </span>
                                    
                                    <span class="pull-right text-muted small">{{noti.posttime}}</span>
                                </div>
                          </a>    
                          
                          
                          
                          
                           
                          <div class="divider"></div>
                        </li>
<!--                        <li class="divider"></li>-->
                        <li ng-if="notificationArr.length==0">
                            <a href="javascript:void(0);">
                                <div>
                                    No new notification
                                </div>
                            </a>
                        </li>
                       
                    </ul>
                </li> 

                <li uib-dropdown class="aftr-login" ng-if="current_user_login==1 && current_user_type=='U' ">
                <a href class="holder" id="top-dropdown" uib-dropdown-toggle>
                        <div class="round-user"><img src="{{sidebar_image}}" alt=""></div>
                        <span class="name">Hi! {{sidebar_name}} <b class="caret"></b></span>
                </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" style=" padding:0px; ">
                                <li class="dropdown-tab">
                                        <div class="content-tab">
                                        <ul class="sub-account-menu">
                                        <li><a href="#/my_account">User Information Settings</a></li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                        <li><a href="#/manage_service">My Trades & Services</a></li>
                                        <li><a href="javascript:void(0)">Service Area</a></li>
                                        <li><a href="javascript:void(0)" ui-sref="frontend.transaction">Transaction History</a></li>
                                        <li><a href="#/creditcard">Payment Methods</a></li>
                                        <li><a href="javascript:void(0)">Quick Reply Settings</a></li>
                                        <li><a href="#/availability">Scheduling & Availability</a></li>
                                        <li><a href="#/notify_setting">Notifications Settings</a></li>
                                        <li><a href="#/change_password">Change Password</a></li>
                                        <li>&nbsp;</li>
<!--                                        <li><a href="#/manage_verifications">Verifications</a></li>-->
                                        <li><a href="javascript:void(0);" ng-click="logout();">Logout</a></li>
                                        </ul>
                                        </div>
                                </li>
                    </ul>
                </li>
        </ul>
    
    
    
</div>                           
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
				</div>
			</nav>
		</div>
	</header>
