        
		
		
		<!-- /.navbar-top-links -->
		
		<div class="navbar-default sidebar" role="navigation">
         <!--<nav class="navbar navbar-default navbar-static-top" role="navigation">-->
		<div class="navbar-header">
		<button type="button" class="navbar-toggle dashboard-toggle" data-toggle="collapse" data-target="#bs-side-navbar-collapse-1" aria-expanded="false">
		<span>Dashbord Menu </span> 
		</button>
		</div>
		<!-- /.navbar-header -->
		<div class="sidebar-nav navbar-collapse collapse" id="bs-side-navbar-collapse-1">
		 <ul id="side-menu" class="nav">
	                        <li>
                                    <a href="javascript:void(0)" ng-click="setprofile()">
	                              <i class="fa fa-fw fa-user-plus"></i>Profile 
	                           </a>
	                           <ul class="sub-side-menu" ng-show="profiletab">
	                           		<li>
	                           			<a ui-sref="frontend.my_account">
	                           				<i class="fa fa-map-marker"></i>My Account
	                           			</a>
	                           		</li>
	                           		<li ng-if="current_user_type=='SP' ">
	                           			<a ui-sref="frontend.servicearea">
	                           				<i class="fa fa-map-marker"></i>Edit Service Area
	                           			</a>
	                           		</li>
	                           		<li ng-if="current_user_type=='SP' ">
	                           			<a ui-sref="frontend.manage_service">
	                           				<i class="fa fa-fw fa-cogs"></i>Manage Service
	                           			</a>
	                           		</li>
                                                <li>
	                           			<a ui-sref="frontend.creditcard">
	                           				<i class="fa fa-fw fa-credit-card"></i>Save Credit Card
	                           			</a>
	                           		</li>
                                                
                                                <li>
	                           			<a ui-sref="frontend.viewcard">
	                           				<i class="fa fa-id-card"></i>View Card Info
	                           			</a>
	                           		</li>
                                                
                                                <li>
	                           			<a ui-sref="frontend.availability">
	                           				<i class="fa fa-fw ion-android-checkbox"></i>Availability
	                           			</a>
	                           		</li>
                                                
                                                <li>
	                           			<a ui-sref="frontend.notify_setting">
	                           				<i class="fa fa-fw fa-bell-o"></i>Notification Setting
	                           			</a>
	                           		</li>
                                                
                                                <li>
	                           			<a ui-sref="frontend.portfolio">
	                           				<i class="fa fa-fw fa-file-picture-o"></i>Portfolio
	                           			</a>
	                           		</li>
                                                
                                                <li><a ui-sref="frontend.manage_verifications"><i class="fa fa-fw ion-android-checkbox-outline"></i> Verifications</a></li>
                                                <li><a ui-sref="frontend.notification"><i class="fa fa-fw fa-bell"></i> Notifications</a></li>
                                                <li><a ui-sref="frontend.transaction"><i class="fa fa-money"></i> Transaction History</a></li>
	                           		<li>
	                           			<a ui-sref="frontend.change_password">
	                           				<i class="fa fa-fw fa-key"></i>Change Password
	                           			</a>
	                           		</li>
	                           </ul>
	                        </li>
                                <li>
                                    <a href="javascript:void(0)" ng-click="setprovider()">
	                              <i class="fa fa-fw fa-th-list"></i>Providers
	                           </a>
                                    <ul class="sub-side-menu" ng-show="providertab">
	                           		<li>
	                           			<a ui-sref="frontend.prolist">
	                           				<i class="fa fa-fw fa-th-list"></i>All Providers
	                           			</a>
	                           		</li>
	                           		<li>
	                           			<a ui-sref="frontend.searchpro">
	                           				<i class="fa fa-fw fa-search-plus"></i>Search Providers
	                           			</a>
	                           		</li>
	                           		<li>
	                           			<a ui-sref="frontend.favourite">
	                           				<i class="fa fa-fw ion-android-favorite"></i>Favourites Provider
	                           			</a>
	                           		</li>	
	                           </ul>
	                        </li>
                                <li>
                                    <a href="javascript:void(0)" ng-click="setjob()">
	                              <i class="fa fa-fw fa-th-list"></i>Jobs
	                           </a>
                                    <ul class="sub-side-menu" ng-show="jobtab">
	                           		<li>
                                                    <a ng-click="showjobmodal();" href="javascript:void(0)">
	                           				<i class="fa fa-fw ion-android-add-circle"></i>Post Job
	                           			</a>
	                           		</li>
                                               <!-- <li>
	                           			<a ui-sref="frontend.projects">
	                           				<i class="fa fa-fw fa-list-ol"></i>All jobs
	                           			</a>
	                           		</li> -->
                                                
	                           		<li>
	                           			<a ui-sref="frontend.myproject({status:'all'})">
	                           				<i class="fa fa-fw fa-address-book-o"></i>My Posted Jobs
	                           			</a>
	                           		</li>
                                                <li>
	                           			<a ui-sref="frontend.myappliedproject({status:'all'})">
	                           				<i class="fa fa-fw fa-address-book-o"></i>Jobs in my Category
	                           			</a>
	                           		</li>
                                                
                                                
                                                <li>
	                           			<a ui-sref="frontend.quotessend">
	                           				<i class="fa fa-fw fa-address-card"></i>Applied jobs
	                           			</a>
	                           		</li> 
                                                
                                                
                                                
                                                
	                           </ul>
	                        </li>
                                <li>
                                    <a href="javascript:void(0)" ng-click="setdeal()">
	                              <i class="fa fa-fw fa-th"></i>Deals
	                           </a>
                                    <ul class="sub-side-menu" ng-show="dealtab">
	                           		<li>
                                                    <a ui-sref="frontend.deals">
	                           				<i class="fa fa-fw fa-th"></i>All Deals
	                           			</a>
	                           		</li>
                                                <li>
	                           			<a ui-sref="frontend.postdeal">
	                           				<i class="a fa-fw fa-hand-o-right"></i>Post Deal
	                           			</a>
	                           		</li> 
                                                <li>
	                           			<a ui-sref="frontend.mydeals">
	                           				<i class="fa fa-fw fa-handshake-o"></i>My Posted Deals
	                           			</a>
	                           		</li> 
	                           </ul>
	                        </li>
	                        <li><a ng-click="logout();" href="javascript:void();"><i class="fa fa-fw fa-sign-out "></i> Logout</a></li>
	                     </ul>
		</div>
		<!-- /.sidebar-collapse -->
		</div>
		<!-- /.navbar-static-side -->
		<!--</nav>-->
