<div class="emailTemplates form">
<?php echo $this->Form->create('Faq'); ?>
	<fieldset>
		<legend><?php echo __('Add Faq'); ?></legend>
	<?php
		echo $this->Form->input('question',array('required' => 'required','style'=>'width:500px;'));
                echo $this->Form->input('answar',array('required' => 'required','style'=>'width:500px;','label'=>'Answer'));

	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>

