<div class="roles form">
<?php echo $this->Form->create('Role'); ?>
	<fieldset>
		<legend style="padding: 15px 0;"><?php echo __('Add Role'); ?></legend>
	<?php
		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Roles'), array('action' => 'index')); ?></li>
	</ul>
</div>

<style>
    legend{padding: 15px 0;}
</style>