<div ng-controller="leadsCtrl" ng-init="showmaincat()">
 <div class="modal fade login-modal signup-modal jobPostModal secondModal" id="JobSelection" tabindex="-1" role="dialog" >
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body">
           <div class="alert alert-danger" ng-if="maincatform.$submitted && !parent_id">
            <strong>ERROR!</strong> Please select an option.
        </div>  
            <h2 class="text-center">Please Choose Your Category</h2>
            <form ng-submit="populatesubcat(maincategory)" name="maincatform">
                <p class="customizeButton" ng-repeat="maincat in maincatlists">
                    <input type="radio" id="{{maincat.id}}" name="radio-group" value="{{maincat.id}}" ng-model="maincategory" ng-click="updateparent(maincategory);">
              <label for="{{maincat.id}}">{{maincat.name}}</label>
              
               </p>
               <div class="buttonGroupPart">
                  
                  <div class="col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6 col-sm-6 col-sm-offset-6">
                     <button class="btn btn-primary pull-right" type="submit">Next</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
    
<div class="modal fade login-modal signup-modal jobPostModal secondModal" id="JobSubcat" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body" style="height:500px; overflow-y: scroll;">
           <div class="alert alert-danger" ng-if="subcatform.$submitted && !cat_id">
            <strong>ERROR!</strong> Please select an option.
        </div>  
            <h2 class="text-center">Please Choose Your Sub Category</h2>
            <form ng-submit="populatequestions()" novalidate="" name="subcatform">
                <p class="customizeButton" ng-repeat="maincat in subcategoryList">
                    <input type="radio" id="{{maincat.id}}" name="radio-group" value="{{maincat.id}}" required="" ng-model="subcat" ng-click="updatesubcategory(subcat)">
                    <label for="{{maincat.id}}" class="control-label">{{maincat.name}}</label>
               </p>
                <div class="buttonGroupPart">
                  <div class="col-md-6 col-lg-6 col-sm-6">
                     <a href="javascript:void(0)" class="backButton" ng-click="goprevious('JobSelection','JobSubcat')" ng-if="fromhome!=1">
                     <a data-dismiss="modal" class="backButton"  ng-if="fromhome==1">
                         <i class="icon ion-chevron-left"></i>&nbsp;Back</a>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-6">
                     <button class="btn btn-primary pull-right" type="submit">Next</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<div class="modal fade login-modal signup-modal jobPostModal" id="JobLocation" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body">
            
            <h2 class="text-center">More Details on: {{selectedQuestion}} </h2>
            <form  novalidate=""  ng-submit="savejoblocation();" name="jobloc">
<!--               <p class="customizeButton form-group" ng-class="{ 'has-error': jobloc.$submitted && jobloc.title.$invalid   }">
                  <label for="jobtitle">Job Title</label>
                  <input type="text" class="form-control" name="title" ng-model="title" required="">
               </p>-->
               <p class="customizeButton form-group" ng-class="{ 'has-error': jobloc.$submitted && jobloc.description.$invalid   }">
                  <label for="jobtitle">Job Description</label>
                  <textarea class="form-control" name="description" ng-model="description" required=""></textarea>
               </p>
               <p class="customizeButton form-group" ng-class="{ 'has-error': jobloc.$submitted && jobloc.skill_required.$invalid   }">
                  <label for="jobtitle">Skill Required</label>
                  <textarea class="form-control" name="skill_required" ng-model="skill_required" required=""></textarea>
               </p>
               <p class="customizeButton form-group" ng-class="{ 'has-error': jobloc.$submitted && jobloc.date_required.$invalid   }">
                  <label for="jobtitle">Date Required for Job</label>
<!--                  <input type="text" class="form-control" name="date_required" ng-model="date_required" required="">-->
<input type="date"  class="form-control" id="datepicker" ng-model="date_required"  name="date_required" required  >

               </p>
<!--               <p class="customizeButton form-group" ng-class="{ 'has-error': jobloc.$submitted && jobloc.address.$invalid   }">
                  <label for="jobtitle">Location</label>
                  <input type="text" class="form-control" name="address" ng-model="address" required="" vs-google-autocomplete>
               </p>-->
               <div class="buttonGroupPart">
                  <div class="col-md-6 col-lg-6 col-sm-6">
                     <a href="#" class="backButton" ng-click="goprevious('JobSubcat','JobLocation')"><i class="icon ion-chevron-left"></i>&nbsp;Back</a>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-6">
                     <button class="btn btn-primary pull-right" type="submit">Next</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>    
<div class="modal fade login-modal signup-modal jobPostModal" id="questionModal{{$index}}" tabindex="-1" role="dialog" ng-repeat="question in questions">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body">
            <div class="progress">
               <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width:70%">
               </div>
            </div>
            <div>
            <h2 class="text-center">{{question.name}}</h2>
            <form action="#">
                <p class="customizeButton" ng-if="question.type=='radio' " ng-repeat="answer in question.answer">
                    <input type="radio"  id="job{{answer.id}}" ng-model="ans" name="radio-group" value="{{answer.name}}" ng-click="updateradio(answer)">
                    <label for="job{{answer.id}}">{{answer.name}}</label>
               </p>
               <p class="customizeButton" ng-if="question.type=='checkbox' " ng-repeat="answer in question.answer">
                    <input type="checkbox"  id="job{{answer.id}}" ng-model="checkboxcheck"  ng-true-value=" '{{answer.name}}' " 
                           ng-click="updatecheckbox(question.id,checkboxcheck,answer.name)">
                    <label for="job{{answer.id}}">{{answer.name}}</label>
               </p>
               
               <p class="customizeButton" ng-if="question.type=='select'">
                  <select class="form-control" id="sel1" ng-model="answerselect" ng-options="ans.name for ans in question.answer track by ans.name" ng-change="updateselct(answerselect)">
                   <option value="">Choose Any One</option>     
                  </select>     
               </p>
               
               <p class="customizeButton form-group" ng-if="question.type=='text' ">
                  <label for="email">{{answer.name}}</label>
                  <input type="text" class="form-control" ng-model="answertext" ng-keyup="updatetext(question,answertext)">
                  
               </p>
               
               
<!--               <p class="customizeButton">
                  <input type="radio" id="test2" name="radio-group">
                  <label for="test2">Design of 1 - 2 rooms</label>
               </p>
               <p class="customizeButton">
                  <input type="checkbox" id="box-1">
                  <label for="box-1">Sustainable typewriter cronut</label>
               </p>
               <p class="customizeButton form-group">
                  <label for="email">Email address:</label>
                  <input type="email" class="form-control" id="email">
               </p>
               <p class="customizeButton form-group">
                  <label for="sel1">Select list:</label>
                  <select class="form-control" id="sel1">
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>4</option>
                  </select>
               </p>-->
               <div class="buttonGroupPart">
                  <div class="col-md-6 col-lg-6 col-sm-6">
                      <a href="javascript:void(0)" class="backButton" ng-show="$index==0" ng-click="goprevious('JobLocation','questionModal0')"><i class="icon ion-chevron-left"></i>&nbsp;Back</a>
                      <a href="javascript:void(0)" class="backButton" ng-show="$index>0" ng-click="back($index);"><i class="icon ion-chevron-left"></i>&nbsp;Back</a>

                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-6">
                      <button class="btn btn-primary pull-right" type="button" ng-click="next($index);">Next</button>
                  </div>
               </div>
            </form>
             </div>
         </div>
      </div>
   </div>
</div>
    
    <div class="modal fade login-modal signup-modal jobPostModal" id="allquestionpopup" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body" style="max-height:500px; overflow-y: scroll;">
           <div class="alert alert-danger" ng-if="allquestionform.$submitted && !cat_id">
            <strong>ERROR!</strong> Please select an option.
        </div>  
            <h2 class="text-center">Please Choose Question</h2>
            <form ng-submit="selectquestions()" novalidate="" name="allquestionform">
                <p class="customizeButton" ng-repeat="questionsVal in questions">
                    <input type="radio" id="{{questionsVal.id}}" name="radio-group" value="{{questionsVal.id}}" required="" ng-model="subcat" ng-click="updateQuestionSelect(questionsVal)">
                    <label for="{{questionsVal.id}}" class="control-label">{{questionsVal.name}}</label>
               </p>
                <div class="buttonGroupPart">
<!--                  <div class="col-md-6 col-lg-6 col-sm-6">
                     <a href="javascript:void(0)" class="backButton" ng-click="goprevious('JobSelection','JobSubcat')" ng-if="fromhome!=1">
                     <a data-dismiss="modal" class="backButton"  ng-if="fromhome==1">
                         <i class="icon ion-chevron-left"></i>&nbsp;Back</a>
                  </div>-->
                  <div class="col-md-12 col-lg-12 col-sm-12">
                     <button class="btn btn-primary pull-right" type="submit">Next</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
</div>


<style>   
    .pac-container {
    z-index: 1051 !important;
}
</style>