<section class="navigation_header" ng-controller="headerCtrl" ng-init="fetchcategory();">
	<div class="container">
		<nav class="navbar navbar-default">
		  <div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		       <a class="navbar-brand" href="#"><img src="app/assets/img/logo.png" style="margin-top: -90px" alt="" /></a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <form class="navbar-form navbar-left" style="margin-top: 5px;">
		      <div class="input-group">
		        <input type="text" class="form-control" style="border-right:none; background: transparent" placeholder="Search">
		        <div class="input-group-btn">
		          <button class="btn btn-default" style="background: transparent;box-shadow: none;text-shadow: none; border-left:none" type="submit">
		            <i style="color: #ff8322;" class="glyphicon glyphicon-search"></i>
		          </button>
		        </div>
		      </div>
		    </form>
			<ul class="nav navbar-nav navbar-right">
                
				<li><a ui-sref="frontend.design-storefront"> Explore</a></li>
		        <li><a href="#"> How it works</a></li>
		        
<!--		         <li><a ui-sref="main.designlab({typeId:1})"> START CAMPAIGN</a></li>-->
                <li><a ng-click="campaignmodal()" href="javascript:void(0)"> START CAMPAIGN</a></li>
                        <li class="dropdown catdrpdwn" ng-if="!sessionuserInfo">

                          <a href="javascript:void(0)" data-toggle="dropdown"  style=" background: none !important; box-shadow: none !important;">Design Shop <span class="caret"></span></a>
                          <div class="dropdown-menu">
                            <div class="inner">
                              <ul style="max-height: 300px; overflow-y: scroll;">
                                  <li ng-repeat="category in newcategories | limitTo : 5"><a href="javascript:void(0)" 
                                      ui-sref="frontend.category({cat_id:{{category.id}}})">{{category.name}}</a></li>

                              </ul>
                                <a ui-sref="frontend.category" class="viewAll"> View All</a>
                            </div>
                          </div>

                        </li>
		        <li ng-if="!sessionuserInfo"><a href="javascript:void(0);" data-toggle="modal" data-target="#signup"> Sign Up</a></li>
		        <li ng-if="!sessionuserInfo"><a href="javascript:void(0);" data-toggle="modal" data-target="#login_modal"> Sign In</a></li>
                        <li ng-if="sessionuserInfo"><a ui-sref="users.dashboard">Dashboard</a></li>
                        <li class="dropdown catdrpdwn" ng-if="sessionuserInfo">

                  <a href="javascript:void(0)" data-toggle="dropdown"  style=" background: none !important; box-shadow: none !important;">Design Shop <span class="caret"></span></a>
                  <div class="dropdown-menu">
                    <div class="inner">
                      <ul style="max-height: 300px; overflow-y: scroll;">
                          <li ng-repeat="category in newcategories | limitTo : 5"><a href="javascript:void(0)" 
                              ui-sref="frontend.category({cat_id:{{category.id}}})">{{category.name}}</a></li>
                              
                      </ul>
                        <a ui-sref="frontend.category" class="viewAll"> View All</a>
                    </div>
                  </div>
                  
                </li>
		        <li ng-if="sessionuserInfo"><a href="javascript:void(0);" ng-click="logout()">Log Out</a></li>
                        
                        
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>
  </section>





<!--<nav class="navbar navbar-default home_page_header navbar-fixed-top" ng-controller="headerCtrl" ng-show="isShowheader">
    <div class="container">
       
         Collect the nav links, forms, and other content for toggling 
        <div class="" id="bs-example-navbar-collapse-1">
            <div class="row navbar_top">
                <div class="col-md-4 col-lg-2 col-sm-12 col-xs-12">
                    <a class="navbar-brand" ui-sref="frontend.index"><img src="app/assets/img/logo.png" alt="" /></a>
                </div>
                <div class="col-md-4 col-lg-5 col-sm-12 middle_nav col-xs-12"  ng-if="currenturl=='frontend.creative_launch' || currenturl=='frontend.fundraising_launch'">
                    <div class="menu_holder_center">
                        <a href="javascript:void(0);" ng-click="rdirect_how_it_work()">HOW IT WORKS</a>
                        <a ui-sref="frontend.pricing">PRICING </a>
                        <a href="javascript:void(0);" ui-sref="frontend.general_faq">FAQ</a>
                        <a href="javascript:void(0)" ui-sref="frontend.contact">Contact</a>

                    </div>
                </div>
               <div class="col-md-4 col-lg-6 col-lg-offset-1 col-sm-12 middle_nav col-xs-12"  ng-if="currenturl!='frontend.creative_launch' && currenturl!='frontend.fundraising_launch'">
                    <div class="menu_holder_center">
                        <a href="javascript:void(0);" ng-click="rdirect_how_it_work()">HOW IT WORKS</a>
                        <a ui-sref="frontend.pricing">PRICING </a>
                        <a href="javascript:void(0);" ui-sref="frontend.general_faq">FAQ</a>
                        <a href="javascript:void(0)" ui-sref="frontend.contact">Contact</a>

                    </div>
                </div>
                <div class="col-md-4 col-lg-5 col-sm-12 right_nav pull-right col-xs-12" ng-if="currenturl=='frontend.creative_launch' || currenturl=='frontend.fundraising_launch'">               <ul class="top_social pull-right">
                            <li class="fb_box_button"><a href="javascript:void(0);" ng-click="openFacebookShare()"><i class="fa fa-facebook-square"></i><span>SHARE</span></a></li>
                            <li class="tweet_box_button"><a href="javascript:void(0);" ng-click="openTwitterShare()"><i class="fa fa-twitter"></i><span>TWEET</span></a></li>
                            <li class="buy_now blank_grren"><a href="javascript:void(0);" ng-click="openBuyNow()"><b><span ng-if="currenturl=='frontend.creative_launch'">BUY NOW</span><span ng-if="currenturl=='frontend.fundraising_launch'">SUPPORT NOW</span></b></a></li>
                    </ul>
				</div>
                <div class="col-md-4 col-lg-3 col-sm-12 right_nav pull-right col-xs-12" ng-if="currenturl!='frontend.creative_launch' && currenturl!='frontend.fundraising_launch' ">
                    <div class="menu_holder_right" ng-if="!sessionuserInfo">
                        <a href="" class="active" data-toggle="modal" data-target="#signup">CREATE CAMPAIGN</a>
                        <a href="" class="active" data-toggle="modal" data-target="#campaign_type">CREATE CAMPAIGN</a>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#login_modal">LOG IN</a>
                    </div>
                    <div class="menu_holder_right" ng-if="sessionuserInfo">
                        <a href="javascript:void(0);" ng-click="logout()">LOG OUT</a>
                        <a class="active" ui-sref="users.dashboard">DASHBOARD</a>
                    </div>
                </div>
            </div>
        </div> /.navbar-collapse 
    </div> /.container-fluid 
</nav>
<style>
	body{padding-top:80px;}
        .navbar_top a
        {
            padding: 0 14px !important;
        }
        .higher_margin_holder .onoffswitch{
         z-index: 0;   
        }
</style>-->
