<section class="dashboard-page" ng-init="showmaincat()">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Account Settings</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
     <!--       <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
<nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                    <h4 class="page-header">Submit and Get Matched to Pre-screened Addition Contractors</h4>
                        
                    <div class="question-area">
                        
                        <form method="post" ng-submit="postjob()">
                                <div class="col-xs-12 col-qus-ans">
                                <div class="ques-title">
                                    <h4 class="form-line">Service</h4>
                                    <div class="ans-part">
                                        <select ng-model="maincategory" 
                                                ng-options="option.name for option in categoryList track by option.id" ng-change="populatesubcat(maincategory)" >
                                        <option value="" selected="">Choose Service</option>
    

                                        </select>       
                                    </div>
                                </div>
                                <div class="ques-title">
                                    <h4 class="form-line">Sub Service</h4>
                                    <div class="ans-part">
                                        <select ng-model="category_id" 
                                                ng-options="option.name for option in subcategoryList track by option.id" ng-change="populatequestions(category_id)">
                                        <option value="" selected="">Choose Sub Service</option>
                                        </select>       
                                    </div>
                                </div>
                              <div class="ques-title">
                                    <h4 class="form-line">Location</h4>
                                    <div class="ans-part">
<!--                                        <input type="text" gm-places-autocomplete  ng-model="address" style=" width:40%;">    -->
                                    
                                        <input type="text"   ng-model="address" style=" width:40%;">    
                                    </div>
                                </div>      
                                    
                                    
                            <div>
                                <div class="col-xs-12 col-qus-ans" ng-repeat="(key, value) in questions">
                                    
                                   
                                    
                                <div class="ques-title">
                                    <h4 class="form-line">{{value.name}}</h4>
                                    <div class="ans-part" ng-if="value.type=='radio'">
                                        <div ng-repeat="ans in value.answer">
                                            <input type="radio" name="radio-primary{{value.id}}" ng-model="answer" ng-value="ans.name" ng-change="updateradio(ans)"><label for="radio-primary{{value.id}}"> {{ans.name}}</label>
                                            
                                            </div>
                                           
                                    </div>
                                    <div class="ans-part" ng-if="value.type=='text'">
                                        <div>
                                            <input type="text" ng-model="answer" ng-keyup="updatetext(value,answer)"><label></label>
                                        </div>
                                           
                                    </div>
                                    
                                    <div class="ans-part" ng-if="value.type=='checkbox'">
                                        <div ng-repeat="ans in value.answer">
<!--                                            <input type="checkbox" id="{{value.id}}{{$index}}" ng-model="answer" ng-true-value="'{{ans.name.replace('\'', '\\\'')}}'" ng-change="updatecheckbox(answer)"  
                                            ng-checked="answer"       
                                                   
                                                   
                                                   >-->
                                            <input type="checkbox" id="{{value.id}}{{$index}}" ng-model="ans.selected" ng-true-value="'{{ans.name.replace('\'', '\\\'')}}'"   ng-change="updatecheckbox(value.id,ans.selected,ans.name)"  
                                                  
                                                   
                                                   
                                                   >
                                            
                                            
                                            <label for="{{value.id}}{{$index}}"><span></span> {{ans.name}}</label>
                                            </div>
                                           
                                    </div>
                                    
                                    <div class="ans-part" ng-if="value.type=='select'">
                                        <div class="selectPart">
                                            <select ng-model="answer" ng-options="ans.name for ans in value.answer track by ans.name" ng-change="updateselct(answer)" >
                                                <option value="">Choose Any One</option>     
                                                
                                            </select>
                                        </div>
                                           
                                    </div>
                                    
                                   
                                    
                                    
                                </div>
                            </div> 
                            </div>    
                                    
                                </div>
                                <div class="col-xs-12 form-submit">
                                    <button class="btn" type="submit">Click Here to Continue</button>
                                </div>
                        </form>
                       
                    </div>  
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>