<div class="users form">
<?php echo $this->Form->create('Newsletter',array('enctype'=>'multipart/form-data')); ?>
	<fieldset>
		<legend><?php echo __('Edit Newsletter'); ?></legend>
	<?php
		
		echo $this->Form->input('id');
		echo $this->Form->input('email',array('style'=>'width:500px;','required'=>'required'));

	?>

	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<?php //echo $this->element('admin_sidebar'); ?>
