<div class="users form">
<?php echo $this->Form->create('Setting',array('enctype'=>'multipart/form-data')); ?>
	<fieldset>
		<legend><?php echo __('Edit Setting'); ?></legend>
	<?php

		echo $this->Form->input('id');
		echo $this->Form->input('site_name',array('style'=>'width:500px;','required'=>'required'));

		echo $this->Form->input('site_email',array('style'=>'width:500px;'));
                echo $this->Form->input('site_url',array('style'=>'width:500px;','required'=>'required'));

	?>

	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<?php //echo $this->element('admin_sidebar'); ?>
