<section class="dashboard-page" ng-init="showservice()">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Manage Service</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
     <!--       <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                        <h4 class="page-header">Service Information</h4>
                    

                        
                    <div class="settingrightpage">
						<h1 class="SettingsPage-mainHeader">Your job types</h1>
						 <div  class="success-msg-area" ng-show="submissionManage">{{submissionManage}}</div>
						<div class="settingPageList">
                                                    <form class="" name="formService" ng-submit="updateService()">
							<div class="SettingsPage-list-item" ng-repeat="(key, value) in categoryList">
								<span class="listItemText">{{value}}</span>
								<div>
									<div>
									<span class="listItemArrow">
										<div class="checkbox switcher">
									      <label for="{{key}}">
									        <input type="checkbox" checkbox-group ng-true-value="{{key}}" ng-click="updatecheckbox(service_id,key)" ng-model="service_id" 
                                                                                       id="{{key}}" ng-checked="provideservice.indexOf(key)!=-1" />
                                                                                
									        <span><small></small></span>
									      </label>
									    </div>
									    
									</span>
								</div>
								</div>
							</div>
<!--							 <div ng-repeat="categories in categoryList">
                                        <input type="checkbox" checkbox-group ng-true-value="{{categories.id}}" ng-change="updatecheckbox(categories.id,cat_id)" ng-model="cat_id"/>
                                        <label>{{categories.name}}</label>
                                        </div>-->
                                                        <div class="form-submit pull-right">
                                                            <input type="submit" class="btn" value="save">
                                                        </div>


                                                        </form>
						</div>
						
						
                        
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>

<style>
    
    .dash-form .form-group input{
        width: 240px !important;
    }
    #wrapper{ margin-bottom: 30px; margin-top: 30px; }
    #page-wrapper{ margin: 0; }
    .SettingsPage-mainHeader{ font-weight: bold; }
    
</style>