<section class="dashboard-page" ng-init="showotp()">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Phone Verification</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
     <!--       <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
<!-- <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav> -->
        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                  <h4 class="page-header">Phone Verification</h4>
                  <div>
                      <form method="post" novalidate="" name="locationform"  ng-submit="checkotp()">
                       <div class="form-group" ng-class="{ 'has-error': locationform.$submitted && locationform.otp.$invalid   }">
                        <label for="inputdefault">Verification Code </label>
                        <input class="form-control" type="text" required="" name="otp" ng-model="userloc.otp" 
                         placeholder="Please put 4 digits code here"   
                       >
                      </div>
                      
                      
                      
                      <div class="form-group">
                          <button class="btn btn-info" type="submit">Save</button>
                      </div>
                    </form>
                  </div>
                </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>

<style>
  input[type="radio"] { display: block; } 
  #wrapper{ margin-bottom: 30px; margin-top: 30px; }
  #page-wrapper{ margin: 0; min-height: 0 !important; }
</style>