<section class="dashboard-page" ng-init="showservice()">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Service Location</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
     <!--       <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
<!-- <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav> -->
        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                  <h4 class="page-header">Provide Your Service Location</h4>
                  <div>
                      <form method="post" novalidate="" name="locationform" ng-submit="savelocation()">
                       <div class="form-group" ng-class="{ 'has-error': locationform.$submitted && locationform.service_location.$invalid   }">
                        <label for="inputdefault">Location</label>
                        <input class="form-control" type="text" required="" name="service_location" ng-model="userloc.service_location" 
                        vs-google-autocomplete="options" vs-latitude="userloc.service_lat"  vs-longitude="userloc.service_lang"
                        vs-country-short="userloc.countrycode"
                        >
                      </div>
                      <div class="form-group">
                        <label>Service Radius(Kilo meters)</label>
                        <select class="form-control" 
                        name="service_redious" ng-model="userloc.service_redious" required=""
                        ng-options="range for range in redious"
                        ng-class="{ 'has-error': locationform.$submitted && locationform.service_redious.$invalid   }"
                        >
                            <option value="">Select Service Radius</option>
                        </select>
                      </div>    
                          
                      
                      
                      
                      <div class="form-group">
                          <button class="btn btn-info" type="submit">Save</button>
                      </div>
                    </form>
                  </div>
                </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>

<style>
  input[type="radio"] { display: block; } 
  #wrapper{ margin-bottom: 30px; margin-top: 30px; }
  #page-wrapper{ margin: 0; min-height: 0 !important; }
</style>