  <section class="message-page quotes-page" ng-init="addquote()">
            <div class="container">
                <div class="row">
                   
                   <div class="col-md-6 col-xs-12 col-chat">
                                    <div class="chat-cleint-info chat-cleint-info-2">
                                        <div class="map">
                                             <ng-map center="{{detail.job.lat}},{{detail.job.lang}}" zoom="13" style="height:180px;">
                          <marker position="[{{detail.job.lat}}, {{detail.job.lang}}]" title="{{detail.job.address}}"></marker>    
</ng-map>    
                                            
                                            
                                            <div class=" clearfix"></div>
                                            
                                            <div class="map-content" style=" padding-top:60px;">
                                                <div class="clnt-pic-map">
                                                    <img src="{{detail.job.userimage}}" alt="">
                                                </div>
                                               <h4 class="clnmmp"></h4>
                                               <h5>{{detail.job.address}}</h5>
                                                <a href="#" class="btn"><i class="ion-flash"></i> New! Send quote for free </a>
                                                <a href="#" class="qus-btn"><i class="ion-help-circled"></i></a>

                                            </div>
                                        </div>
                                        <div class="chat-rght-cnt">
                                            <h5><i class="ion-arrow-right-b"></i>Description:</h5>
                                            <h6>{{detail.job.description}}</h6>
                                        </div>

                                        <div class="chat-rght-cnt">
                                            <h5><i class="ion-arrow-right-b"></i>Job Type</h5>
                                            <h6>{{detail.job.name}}</h6>
                                        </div>
                                       <div ng-if="detail.response.length>0" ng-repeat="response in detail.response" class="chat-rght-cnt">
                                            <h5><i class="ion-arrow-right-b"></i>{{response.question}}</h5>
                                            <h6>{{response.answer}}</h6>
                                        </div>
                                </div>
                                </div>
                   
                    <div class="col-md-6 col-xs-12 col-chat">
                        <div class="chat-top-name-bar">
                            <h4>Your Quote </h4>
                            
                        </div>
                        <div class="quote-right">
                            <form method="post" ng-show="detail.quotePosted.length==0" name="quoteform" novalidate="" id="braintreePaymentForm">
                            <h4>What’s Your Price?</h4>
                            <div class="qut-rght-box">
                                <h2><span class="p-dolar">$</span><span class="pr-qnty"></span></h2>
                                <textarea rows="1" name="price" ng-model="detail.price" class="price-text-area" 
                                          ng-class="{ 'has-error': quoteform.$submitted && quoteform.price.$invalid   }" required=""></textarea>
                                <div class="dropdown select-drop">
                                  <button class="btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">Fixed Price
                                  <span class="ion-ios-arrow-down"></span></button>
                                  <ul class="dropdown-menu">
                                    <li><a href="#">Fixed Price</a></li>
                                    <li><a href="#">Hourly rate</a></li>
                                    <li><a href="#">Need More Info</a></li>
                                  </ul>
                                </div>
								
                            </div>
							<h4>Promo Section</h4>
							<div class="qut-rght-text-box">
							  <div id="promoSectionDiv">
                                <input type="text" class="form-control col-md-7" name="promo_code" ng-model="promo_code"/>
						<button type="button" class="btn btn-primary" ng-click="promoCheck(promo_code);" ng-disabled="!promo_code">Apply</button>
							  </div>
                            </div>
                            <h4>Write message</h4>
                            
                                <input type="hidden" ng-model="detail.job.id"  />
                                <input type="hidden" ng-model="user_id" />
                                <input type="hidden" ng-model="detail.job.userid" />
                            <div class="qut-rght-text-box">
                                <textarea rows="4" ng-model="detail.comment" name="comment" required="" ng-class="{ 'has-error': quoteform.$submitted && quoteform.comment.$invalid   }" ></textarea>
                                <div class="qut-rght-text-box-icon">
<!--                                    <span class="">
                                        <i class="ion-android-attach"></i>Attach
                                    </span>
                                    <span class="qut-rght-text-box-icon-rght">
                                        <i class="ion-ios-chatbubble-outline"></i>Tips
                                    </span>-->
                                </div>
                            </div>
							<section>
									<div class="bt-drop-in-wrapper">
										<div id="bt-dropin"></div>
									</div>
									<input id="nonce" ng-model="detail.payment_method_nonce" type="hidden"/>
							</section>
                            <div class="send-btn-frm">
                              
                                <button class="btn" type="submit" ng-click="postQuote(detail);" ng-hide="paymentRequired">Send</button>
								
								<button class="btn" type="submit" ng-click="payQuote(detail);" ng-show="quoteform.$valid && paymentRequired">Pay</button>
                            </div>
								
                            </form>
                            
                             <div  class="success-msg-area" ng-show="submissionSuccess">{{submissionSuccess}}</div>
<!--                                for existing quote data....................................-->
<form method="post" ng-if="detail.quotePosted.length!=0">
   
                            <h4>Your Price</h4>
                            <div class="qut-rght-box">
                                <h2><span class="p-dolar">$</span><span class="pr-qnty"></span></h2>
                                <textarea rows="1" ng-model="detail.quotePosted.price" class="price-text-area" ng-readonly="true">{{detail.quotePosted.price}}</textarea>
<!--                                <h3>Fixed Price</h3>-->
                            </div>
                            <h4>Your message</h4>
                            
                               
                            <div class="qut-rght-text-box">
                                <textarea rows="4" ng-model="detail.quotePosted.comment" ng-readonly="true">{{detail.quotePosted.comment}}</textarea>
                                <div class="qut-rght-text-box-icon">
<!--                                    <span class="">
                                        <i class="ion-android-attach"></i>Attach
                                    </span>
                                    <span class="qut-rght-text-box-icon-rght">
                                        <i class="ion-ios-chatbubble-outline"></i>Tips
                                    </span>-->
                                </div>
                            </div>
                            <div class="send-btn-frm">
                               
                                </div>
                           </form> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
<style>
    .has-error{
        border:1px solid #a94442 !important;
    }   
</style>
<script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>
<script src="https://js.braintreegateway.com/web/dropin/1.14.1/js/dropin.min.js"></script>