 <section class="review-page"  ng-init="addreview()">
        <div class="container sm-container">
            <div class="calender-settings-box">
                <div class="pro-box-top">
                  
<!--                           <h4 class="rqprnm">{{detail.category_name}}</h4>-->
                           <p class="gray">{{detail.name}}</p>
                            <h4>You hired this pro! <!--<a href="#">Update</a></h4>-->
                </div>
               <div class="pic-area">
                                <div class="user-pic">
                                    <img src="{{detail.userimage}}" alt="">
                                    <span class="active-show"><i class="ion-checkmark"></i></span>
                                </div>
                </div>
                <h3 ng-if="detail.quotePosted.length!=0">How would you rate your overall experience with {{detail.name}}?</h3>
                <h3 ng-if="detail.quotePosted.length==0">Your review to {{detail.name}}?</h3>
                <div class="star-rvw">
<!-- <jk-rating-stars ng-if="detail.quotePosted.length!=0" rating="detail.quotePosted.avg_score" read-only="readOnly" ></jk-rating-stars>
 <jk-rating-stars rating="review.avg_score" ng-if="detail.quotePosted.length==0"></jk-rating-stars>-->
 <ng-rating ng-model="detail.quotePosted.avg_score"icon-class="starico" ng-if="detail.quotePosted.length!=0" ></ng-rating>
 <ng-rating ng-model="review.avg_score"icon-class="starico" ng-if="detail.quotePosted.length==0" 
     editable="editable"
     showGrade="showGrade"
     >
                
 </ng-rating>
 
 
<!--      <div style="width: 100px">{{review.avg_score}} Stars</div>-->
                </div>
<!--                <h4 class="gray">Good</h4>-->
                <div class="form-group frm-view-check">
                    <input type="checkbox">
                    <span>Post review anonymously. <span class="ion-help-circled"></span></span>
                </div>
            </div>
            <div class="calender-settings-box">
                <form method="post" ng-submit="postReview(review)" ng-if="detail.quotePosted.length==0">
                    <input type="hidden" ng-model="review.from_id"/>                   
                    <input type="hidden" ng-model="review.to_id" />
                     <input type="hidden" ng-model="review.review_from_name" />
                    <input type="hidden" ng-model="review.review_to_name" />
                    <input type="hidden" ng-model="review.work_quality" />
                    <input type="hidden" ng-model="review.resposiveness" />
                    <input type="hidden" ng-model="review.value_money" />
                    <input type="hidden" ng-model="review.timely_response" />
                    <input type="hidden" ng-model="review.avg_score" />
                    <input type="hidden" ng-model="review.lead_id" />
                <h3>What did you like about working with {{detail.name}}?</h3>
                <div class="review-btns">
                    <div class="round-btn" ng-class="{'select': review.work_quality=='1'}" ng-click="review.work_quality='1'">Work Quality</div>
                    <div class="round-btn" ng-class="{'select': review.resposiveness=='1'}" ng-click="review.resposiveness='1'">Responsiveness</div>
                    <div class="round-btn" ng-class="{'select': review.value_money=='1'}" ng-click="review.value_money='1'">Value for price</div>
                    <div class="round-btn" ng-class="{'select': review.timely_response=='1'}" ng-click="review.timely_response='1'">Timely response</div>
                </div>
                <div class="form-group frm-rvw-textarea">
                    <textarea rows="5" placeholder="Write about your experience" ng-model="review.comment"></textarea>
                </div>
<!--                <div class="fileUpload-pic">
                    <span>+ upload a picture</span>
                    <input type="file" class="upload">
                </div>-->
                <div class="form-group">
                    <input type="submit" class="pull-right btn btn-info btn-lg" value="Submit Review">
                </div>
            </form>
                <div ng-show="submissionSuccess" class="success-msg-area">{{submissionSuccess}}</div>
                <div ng-if="detail.quotePosted.length!=0">
                <h3>Your review about {{detail.name}}</h3>
                <div class="review-btns">
                    <div class="round-btn" ng-class="{'select': detail.quotePosted.work_quality=='1'}">Work Quality</div>
                    <div class="round-btn" ng-class="{'select': detail.quotePosted.resposiveness=='1'}">Responsiveness</div>
                    <div class="round-btn" ng-class="{'select': detail.quotePosted.value_money=='1'}">Value for price</div>
                    <div class="round-btn" ng-class="{'select': detail.quotePosted.timely_response=='1'}">Timely response</div>
                </div>
                <div class="form-group frm-rvw-textarea">
                    <textarea rows="5" placeholder="Write about your experience" ng-model="detail.quotePosted.comment" read-only="readOnly"></textarea>
                </div>
                </div>
            </div>
        </div>
    </section>