<div data-ng-include=" 'app/views/partials/header.html' " ></div>
<div id="page">


    <div class="dx-clearfix" data-ng-include=" 'app/views/partials/maincontent.html' " ></div>
    
    
    <div data-ng-include=" 'app/views/partials/footer.html' " ></div>
</div>