 <section class="dashboard-page"  ng-init="getproviderlist()">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i>Applied Providers</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle dashboard-toggle" data-target=".navbar-collapse">
                    <span>Dashbord Menu</span> 
                </button>
            </div>
            <!-- /.navbar-header -->

            
            <!-- /.navbar-top-links -->

            <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
            <!-- /.navbar-static-side -->
       

        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                        <h4 class="page-header">Applied Providers</h4>
                        <div class="notification-area">
                            
                            <div class="notification-part" ng-repeat="data in providerlist">
                               
                                    <div class="noti-img">
                                      <img src="{{data.User.image}}" alt="">
                                    </div>
                                <h5><span>{{data.User.name}}</span><br/>{{data.User.email}}
                               <img src="app/assets/images/verified.png" style="width: 30px" class="img-responsive" />
                                    <br/>{{data.User.mobile_no}}
                                     <img ng-if="data.User.is_verify=='1'"src="app/assets/images/verified.png" style="width: 30px" class="img-responsive" />
                                     <img ng-if="data.User.is_verify=='0'"src="app/assets/images/notverified.png" style="width: 30px" class="img-responsive" />
                                    <br/>
                                    {{data.User.address}}<br/>
                                    <span ng-if="data.Appliedprovider.status==0">Pending</span>
                                    <span ng-if="data.Appliedprovider.status==1">Accepted</span>
                                    <span ng-if="data.Appliedprovider.status==2">Rejected</span>
                                    
                                    </h5>
                                <div class="btnParts pull-right">
                                    <a class="btn btn-info" href="#/addquote/{{lead_id}}/{{data.User.id}}">Send Quote</a>
                                &nbsp;&nbsp;
                                    <a  ng-if="data.Appliedprovider.status!=2" class="btn btn-danger" ng-click="reject({{data.Appliedprovider.id}})">Reject</a>
                                &nbsp;&nbsp;<a ng-if="data.Appliedprovider.status!=1" class="btn btn-success" ng-click="accept({{data.Appliedprovider.id}})">Accept</a>
                                </div>
                                
                            </div>
                            
                        </div>
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>