 <section class="profile-request">
        <div class="container">
            <h2 class="top-heading">Project</h2>
            <a href="#/postjob" class="btn btn-info pull-right btn-lg">Start New Project</a>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="profile-box">
                        <div class="pro-box-top">
                            <h4 class="rqprnm">{{detail.proDetail.category_name}}</h4>
                           <p class="gray">{{detail.proDetail.username}}</p>
                            <h4>You hired this pro! <!--<a href="#">Update</a></h4>-->
                        </div>
                        <div class="pro-box-middle">
                            <div class="pic-area">
                                <div class="user-pic">
                                    <img src="{{detail.proDetail.userimage}}" alt="">
                                    <span class="active-show"><i class="ion-checkmark"></i></span>
                                </div>
                            </div>
                            <div class="leave-rvw">
                                <h4>Leave a review</h4>
                                <div class="star-rvw">
                                    <a href="#/addreview/{{detail.proDetail.userid}}">
                                    <i class="ion-ios-star-outline"></i></a>
                                    <a href="#"><i class="ion-ios-star-outline"></i></a>
                                    <a href="#"><i class="ion-ios-star-outline"></i></a>
                                    <a href="#"><i class="ion-ios-star-outline"></i></a>
                                    <a href="#"><i class="ion-ios-star-outline"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="pro-box-bottom">
                            <a href="#/quotes/{{detail.lead_id}}" class="btn btn-info">Back to Quotes</a>
                            <div class="clearfix"></div>
                            <!--<a href="#" class="link">Request again</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>