<section class="dashboard-page" ng-init="init()">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i>Availability</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
     <!--       <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
<nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                    <h4 class="page-header">Availability</h4>
                    <div class="availability-top-area">
                        <div class="schdle-avlb-btn pull-left">
                            <a href="#" class="btn btn-default btn-lg">Home</a>
                            <a href="#" class="btn btn-default btn-lg">Profile</a>
                        </div>
                        <div class="right-avail pull-right">
                            <span class="avlb-name">Xyz Design</span>
                            <a href="javascript:void(0)" ui-sref="frontend.calendersetting" class="btn btn-default"><i class="ion-android-settings"></i></a>
                        </div>
                    </div>
                        <div ui-calendar="uiConfig.calendar"  ng-model="eventSources"></div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>