<!DOCTYPE html>

	
	<!--    dashboard   page   -->
      
        <section class="dashboard-page" ng-init="showavailability();">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Account Settings</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>


        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                    <h4 class="page-header">Calendar & Availability Settings</h4>
                    <form method="post" name="calendersetting" ng-submit="saveavailability();">
                       <div class="calender-setting-area">
                        <div class="calender-settings-box">
                            <h3>Which days do you work?</h3>
                            <div class="day-area">
                                <ul>
                                    <li>
                                        <div class="day-area">
                                            <p class="text-center">Sun</p>
                                            <div class="day-btn">
                                                <input type="checkbox" ng-true-value="1" ng-model="response.sunday" ng-false-value="0" id="c1">
                                                <label for="c1"><span></span></label>
<!--                                                <i class="ion-ios-close-outline"></i>-->
                                                <!--<i class="ion-checkmark-circled"></i>-->
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="day-area">
                                            <p class="text-center">Mon</p>
                                            <div class="day-btn">
                                                <input type="checkbox" ng-true-value="1" ng-model="response.monday" ng-false-value="0" id="c2">
                                                <label for="c2"><span></span></label>
<!--                                                <i class="ion-ios-close-outline"></i>-->
                                                <!--<i class="ion-checkmark-circled"></i>-->
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="day-area">
                                            <p class="text-center">tue</p>
                                            <div class="day-btn">
                                             <input type="checkbox" ng-true-value="1" ng-model="response.tuesday" ng-false-value="0" id="c3">
                                            <label for="c3"><span></span></label>
<!--                                                <i class="ion-ios-close-outline"></i>-->
                                                <!--<i class="ion-checkmark-circled"></i>-->
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="day-area">
                                            <p class="text-center">Wed</p>
                                            <div class="day-btn">
                                                   <input type="checkbox" ng-true-value="1" ng-model="response.wednesday" ng-false-value="0" id="c4">
                                                <label for="c4"><span></span></label>

<!--                                                <i class="ion-ios-close-outline"></i>-->
                                                <!--<i class="ion-checkmark-circled"></i>-->
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="day-area">
                                            <p class="text-center">Thu</p>
                                            <div class="day-btn">
                                             <input type="checkbox" ng-true-value="1" ng-model="response.thursday" ng-false-value="0" id="c5">
                                                <label for="c5"><span></span></label>
<!--                                                <i class="ion-ios-close-outline"></i>-->
                                                <!--<i class="ion-checkmark-circled"></i>-->
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="day-area">
                                            <p class="text-center">Fri</p>
                                            <div class="day-btn">
                                            <input type="checkbox" ng-true-value="1" ng-model="response.friday" ng-false-value="0" id="c6">
                                                <label for="c6"><span></span></label>

<!--                                                <i class="ion-ios-close-outline"></i>-->
                                                <!--<i class="ion-checkmark-circled"></i>-->
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="day-area">
                                            <p class="text-center">Sat</p>
                                            <div class="day-btn">
                                                  <input type="checkbox" ng-true-value="1" ng-model="response.saturday" ng-false-value="0" id="c7">
                                                <label for="c7"><span></span></label>
<!--                                                <i class="ion-ios-close-outline"></i>-->
                                                <!--<i class="ion-checkmark-circled"></i>-->
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <h3>What hours are you normally available to work?</h3>
                            <div class="claender-select-area">
                                <div class="dropdown select-drop">
                                    <select ng-model="response.start_time" ng-options="start.name for start in availablehours track by start.id">
                                    </select>
                                </div>
                                <span class="to-space">To</span>
                                <div class="dropdown select-drop">
                                  <select ng-model="response.end_time" ng-options="endtime.name for endtime in availablehours track by endtime.id">
                                    </select>
                                </div>
                            </div>
                             <h3>Pacific Time Zone</h3>

                            <div class="claender-select-area">
                                <div class="dropdown select-drop ">
                                    <select ng-model="response.timezone" ng-options="zone for zone in timezones" class="has-error">
                                    </select>
                                </div>
                                
                            </div>
                            
                            
                            
<!--                            <div class="time-zone">
                                <h4 class="pull-left gray">Pacific Time Zone</h4>
                                <a href="#" class="edit pull-right">Edit</a>
                            </div>-->
                        </div>
                        <div class="calender-settings-box">
                            <h3>How much notice do you need before doing a job?</h3>
                            <div class="claender-select-area">
                                <div class="dropdown select-drop">
                                  <select ng-model="response.notice_period" ng-options="number.name for number in numbers track by number.id">
                                    </select>
                                </div>
                                <span class="to-space"></span>
                                <div class="dropdown select-drop"  ng-if="response.notice_period.id!=0">
                                  <select ng-model="response.notice_mode" ng-options="mode for mode in modes">
                                    </select>
                                </div>
                            </div>
                            <h3>How far in advance can customers book you for a job?
</h3>
                            <div class="claender-select-area">
                                <div class="dropdown select-drop">
                                 <select ng-model="response.advance" ng-options="bookday.name for bookday in bookdays track by bookday.id">
                                 </select> 
                                </div>
                                <span class="to-space"></span>
                                <div class="dropdown select-drop" ng-if="response.advance.id!=0">
                                  <select ng-model="response.advance_mode" ng-options="mode for mode in modes">
                                  </select>
                                 
                                </div>
                            </div>
                            <div class="claender-select-area">
                                <button type="submit" class="btn btn-primary">Save</button>   
                                
                            </div>
                        </div>
                    </div> 
                    </form>
                    
                    
                    
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>
	
	