<section class="projectsHeading" ng-init="categoryjobs()">
		<div class="container">
                     
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="projectsHeadline">
                                            <h2><i class="icon ion-chevron-left"></i>{{cat_name}}</h2>
					</div>
				</div>
<!--				<div class="col-md-8 col-sm-6">
					<div class="projectsRightPart">
						<p>Senior Electrician <span><a href="#">- 9 Unread</a></span></p>
					</div>
				</div>-->
			</div>
		</div>
	</section>
	<section class="grey-wrapper">
		<div class="container" style="position:relative; min-height:250px;">
                    <div class="loader" style="position:absolute; top:45%; left:45%;"></div>
			<div class="row" >
				<div class="col-md-4 col-sm-6" ng-repeat="detail in list" ng-if="Ack==1">
					<div class="border-box project-box">
						<div class="media">
							<div class="media-left">
								<img src="{{detail.User.image}}" class="round-image">
								<div class="curvePart">{{detail.User.name}}</div>
							</div>
							<div class="media-body">
								<h4>{{detail.Category.name}}</h4>
                                                                <p>{{detail.Lead.address}}</p>
<!--								<p>Rating:<span class="ratingPart"><i class="icon ion-android-star"></i>
									  <i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i></span></p>
								<p class="review">16 Review <span class="seperator">|</span> Responds in 10m</p>
								<div class="price">$734</div>-->
                                    <p class="review">Posted On {{detail.Lead.posttime}}</p>
							</div>
						</div>
						<div class="project-body">
							<p>{{detail.Lead.description | limitTo : 200 : 0}}...</p>
							<h5 class="text-center">
                                                       
                                                        <a href="#/addquote/{{detail.Lead.id}}" target="_blank" class="btn btn-primary">Send a Quote</a></h5>
                                                        
						</div>
					</div>
				</div>
                                  <div class="col-md-4 col-sm-6" ng-if="Ack==0">
                                <div class="norecordfound">
                                        <img src="app/assets/images/norecordfound.png" class="img-responsive">
                                </div>
                            </div>
			</div>
		</div>
	</section>