<section class="dashboard-page">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Change Password</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
     <!--       <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
<nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                        <h4 class="page-header">Change Password</h4>
                    
                        
                        
                        
                        <form class="dash-form" name="changePassword" ng-submit="updatePassword(user)" novalidate="">
                        <div class="form">
                            <div class="frm-arch">
                                <div class="form-group" >
                                    <label>Old Password</label>
                                    <input type="password" name="old_pass" placeholder="Old Password" ng-model="user.old_pass"  required 
                                     ng-class="{ 'has-error': changePassword.$submitted && changePassword.old_pass.$invalid   }"      
                                     >
                                </div>
                             
                            </div>
                            <div class="frm-arch">
                                <div class="form-group" >
                                    <label>New Password</label>
                                    <input type="password" placeholder="New Password" name="password" ng-model="user.password" required
                                    ng-class="{ 'has-error': changePassword.$submitted && changePassword.password.$invalid   }"       
                                     >
                                </div>
                             
                            </div>
                            
                            <div class="frm-arch">
                                <div class="form-group" >
                                    <label>Confirm Password</label>
                                    <input type="password" placeholder="Confirm Password" name="confirm_password" ng-model="user.confirm_password" required
                                     ng-class="{ 'has-error': (changePassword.$submitted && (changePassword.confirm_password.$invalid || user.confirm_password!=user.password))   }"      
                                           >
                                </div>
                             
                            </div>
                            <div class="form-submit">
                                <input type="submit" class="btn" value="save">
                            </div>
                        </div>
                        
                        
                        <div style="color: green" ng-show="submissionPass">{{submissionPass}}</div>
                        
                    </form>
                        
                        
                        
                        
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>
<style>
 .has-error
 {
      border:1px solid #a94442 !important;
 }
</style>    