<section class="dashboard-page">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Change Password</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
     <!--       <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
<nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                        <h4 class="page-header">Change Password</h4>
                    
                        
                        
                        
                    <form class="dash-form" name="changePassword" ng-submit="updatePassword(user)">
                        <div class="form">
                            <div class="frm-arch">
                                <div class="form-group">
                                    <label>Old Password</label>
                                    <input type="password" name="old_pass" placeholder="Old Password" ng-model="user.old_pass" required>
                                </div>
                             
                            </div>
                            <div class="frm-arch">
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" placeholder="New Password" name="password" ng-model="user.password" required>
                                </div>
                             
                            </div>
                            
        <label class="">
        <span style="color:#FF0000 !important; width:100%" ng-show="changePassword.password.$dirty && changePassword.password.$invalid">
        <span ng-show="changePassword.password.$error.required">Password is required.</span>
        </span>
        
        </label>
                            
                            
                            
                            <div class="frm-arch">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" placeholder="Confirm Password" name="confirm_password" ng-model="user.confirm_password" required>
                                </div>
                             
                            </div>
                            
                            
                           <label class="">
        <span style="color:#FF0000 !important; width:100%" ng-show="changePassword.confirm_password.$dirty && changePassword.confirm_password.$invalid">
        <span ng-show="changePassword.confirm_password.$error.required">Password is required.</span>
        </span>
        
        </label>  
                            
           <label ng-if="showErrorMsg==1"><span style="color:#FF0000 !important; width:100%">Passwords have to match!</span></span>
        &nbsp;
         </label>                  
                            <div class="form-submit">
                                <input type="submit" class="btn" value="save"  ng-disabled="changePassword.$invalid">
                            </div>
                        </div>
                    </form>
                        
                        
                        
                        
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>