       
            <section class="message-page" ng-init="chat()">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-7 col-xs-12 col-chat">
                        <div class="chat-area">
                            <div class="chat-top-bar">
                                <div class="chat-back">
                                    <a href=""><i class="ion-chevron-left"></i> Deals </a>
                                </div>
<!--                                <div class="hire-btn">
                                    <a ng-if="chats.is_hired==0" chatsng-click="hireProvider({{chats.lead_id}},{{chats.Userdetail.id}})">Hire</a>
                                    <p ng-if="chats.is_hired==1" class="hired-check"><i class="ion-checkmark-round"></i>Hired</p>
                                </div>-->
                            </div>
                            <div class="chat-middile-part">
                                <div class="conversationDiv">
                                     
                                <div class="full-chat">
                                    <div class="deal_data">
                                        <h3>{{chats.Dealdetail.name}}</h3>
                                      <div class="client-pic">
                                            <img class="img-responsive" src="{{chats.Dealdetail.dealimage}}" alt="">
                                        </div>  
                                        <p>{{chats.Dealdetail.description}}</p>
                                    </div> 
                                 <div ng-repeat="chat in chats.conversation">
                                        <div class="chat-pic-name" ng-if="chat.sent_by.id!=user_id">
                                            <div class="chat-pic">
                                                <img src="{{chat.sent_by.image}}" alt="">
                                            </div>
                                            <div class="chat-top-info">
                                                <h5>{{chat.sent_by.name}}</h5>
        <!--                                        <h6>10 days ago</h6>-->
                                            </div>
                                        </div>
                                    <div class="sent-chat" ng-if="chat.sent_by.id!=user_id">
                                        <div class="sent-chat-box" ng-if="chat.msg!=''">
<!--                                            <p>Hi John,</p>-->
                                            <p>{{chat.msg}}</p>
                                        </div>
                                        <p class="chat-time">{{chat.howlongago}} via {{chat.posted_through}}</p>
                                    </div>
                                    <div class="received-chat" ng-if="chat.sent_by.id==user_id">
                                        <div class="rcv-chat-box" ng-if="chat.msg!=''">
                                            <p>{{chat.msg}}</p>
                                        </div>
                                        <p class="chat-time">{{chat.howlongago}} via {{chat.posted_through}}</p>
                                    </div>
                                 </div>
                                    
                                </div>
                              </div>
                               
                                <div class="chat-bottom-bar">
                                    <div class="chat-import-icons">
                                        <span><img src="app/assets/images/icons/attach.png" alt=""></span>
                                        <span><img src="app/assets/images/icons/call.png" alt=""></span>
                                        <span><img src="app/assets/images/icons/calender.png" alt=""></span>
                                    </div>
                                   
                                    <div class="chat-type">
                                        <form method="post" ng-submit="sent_message()">
                                            
                                            <input type="text" ng-model="message.msg">
                                            <span>
                                                <button type="submit" class="send-btn ion-android-send"></button>
                                            </span>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12 col-chat">
                        <div class="chat-cleint-info">
                            <div class="client-info-top">
                                <div class="client-pic">
                                    <img class="img-responsive" src="{{chats.Userdetail.userimage}}" alt="">
                                </div>
                                <div class="client-name">
                                    <h4>{{chats.Userdetail.name}}</h4>
                                   <p class="starrating">
                                         <i class="fa fa-star" data-ng-repeat="i in range"></i>
                                         <i class="fa fa-star-o" data-ng-repeat="i in notrated"></i>
                                   </p>
                                 
                                    
<!--                                    <p class="star">
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <span>20 Review</span>
                                    </p>-->
                                <p class="starrating" ng-if="chats.Userdetail.rateing==1">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                        </p>
                                    <p class="starrating" ng-if="chats.Userdetail.rateing==2">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                        </p>
                                    <p class="starrating" ng-if="chats.Userdetail.rateing==3">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                        </p>
                                    <p class="starrating" ng-if="chats.Userdetail.rateing==4">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                        </p>
                                    <p class="starrating" ng-if="chats.Userdetail.rateing==5">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                               <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                        </p>
                                    <p class="hired">Hired {{chats.Userdetail.hired_no}} times</p>
                                </div>
                            </div>
                            <div class="clnt-cntct-info">
                                <span>
                                    <i class="ion-android-call"></i>
                                    +{{chats.Userdetail.mobile_no}}
                                </span>
                                <span>
                                    <i class="ion-ios-location"></i>
                                    {{chats.Userdetail.address}}
                                </span>
                                <span>
                                    <i class="ion-ios-email"></i>
                                   {{chats.Userdetail.email}}
                                </span>
                            </div>
                          <!--   <div class="client-box-area">
                                <h4>3 Photos</h4>
                               <div class="work-pic">
                                    <img src="app/assets/images/workpic-1.jpg" alt="">
                                    <img src="app/assets/images/workpic-2.jpg" alt="">
                                    <img src="app/assets/images/workpic-2.jpg" alt="">
                                    <img src="app/assets/images/workpic-2.jpg" alt="">
                                </div>
                            </div>
                           <div class="client-box-area">
                                <h4>Reviews</h4>
                                <div class="review-1">
                                    <p>
                                        <span class="star">
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                        </span>
                                        <span class="rvw1">20 Review</span>
                                        <span class="top-pro">Top Pro</span>
                                    </p>
                                </div>
                            </div>
                            <div class="clnt-btm-prt">
                                    <p>
                                        <span class="star">
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                        </span>
                                    </p>
                                <h4>Senior Electrician ! Professional</h4>
                                <h5>Mar 20th, 2017 <span>|</span> Verified</h5>
                            </div>
                            <div class="clnt-btm-prt">
                                    <p>
                                        <span class="star">
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                        </span>
                                    </p>
                                <h4>Great Dj</h4>
                                <h5>Mar 20th, 2017 <span>|</span> Verified</h5>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>