<!--    dashboard   page   -->
<section class="dashboard-page">
   <div class="container">
      <div id="wrapper">
         <!-- Navigation -->
         <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
         <!-- Page Content -->
         <div id="page-wrapper">
            <div class="row">
               <section class="creditPage">
                  <div class="row">
                     <div class="col-md-12 col-lg-12 col-sm-12">
                        <h2 class="text-center">Credit Score</h2>
                     </div>
                  </div>
                   <form method="post" ng-submit="saveCard();" name="creditform" novalidate>
                       <div class="row">
                     <div class="col-md-12">
                        
                         <div class="form-group row">
                           <label for="example-text-input" class="col-sm-3 col-lg-3 col-md-3 col-form-label">First Name on Card</label>
                           <div class=" col-sm-9 col-lg-9 col-md-9 ">
                               <input class="form-control" type="text" placeholder="First Name on Card" ng-model="card.firstname" required="" name="firstname"
                               ng-class="{ 'has-error': creditform.$submitted && creditform.firstname.$invalid   }"
                                >
                           </div>
                        </div>
                         <div class="form-group row" >
                           <label for="example-text-input" class="col-sm-3 col-lg-3 col-md-3 col-form-label">Last Name on Card</label>
                           <div class="col-sm-9 col-lg-9 col-md-9" >
                              <input class="form-control" type="text" placeholder="Last Name on Card" ng-model="card.lastname" required name="lastname"
                              ng-class="{ 'has-error': creditform.$submitted && creditform.lastname.$invalid   }"       
                              >
                           </div>
                        </div>
                        
                        <div class="form-group row" >
                           <label for="example-text-input" class="col-sm-3 col-lg-3 col-md-3 col-form-label">Card Number</label>
                           <div class="col-sm-9 col-lg-9 col-md-9" >
                               <input class="form-control" type="text" placeholder="xxxxx-xxxx-xxx-xx" name="creditCardNumber" required ng-model="card.creditCardNumber" minlength="14" maxlength="16" only-digits
                                      ng-class="{ 'has-error': creditform.$submitted && creditform.creditCardNumber.$invalid   }"
                                      >
                           </div>
                        </div>
                       <div class="form-group row" >
                           <label for="example-text-input" class="col-sm-3 col-lg-3 col-md-3 col-form-label">CVV</label>
                           <div class="col-sm-9 col-lg-9 col-md-9" >
                               <input class="form-control" type="password" placeholder="CVV" name="cvv2Number" required ng-model="card.cvv2Number" maxlength="4" only-digits
                               ng-class="{ 'has-error': creditform.$submitted && creditform.cvv2Number.$invalid   }"
                               >
                           </div>
                        </div>  
                        <div class="form-group row">
                           <label for="example-text-input" class="col-sm-3 col-lg-3 col-md-3 col-form-label"></label>
                           <div class="col-sm-9 col-lg-9 col-md-9">
                              <img src="app/assets/images/visadebitcard.png" class="img-responsive">
                           </div>
                        </div>
                        <div class="form-group row" >
                           <label for="example-text-input" class="col-sm-3 col-lg-3 col-md-3 col-form-label">Expires On</label>
                           <div class="col-sm-9 col-lg-9 col-md-9">
                              <div class="row">
                                 <div class="col-md-6 col-sm-6 col-lg-6" >
                                     <input class="form-control" type="text" name="expDateMonth" required placeholder="Month" ng-model="card.expDateMonth" maxlength="2" only-digits 
                                            ng-class="{ 'has-error': creditform.$submitted && creditform.expDateMonth.$invalid   }"
                                            >
                                 </div>
                                 <div class="col-md-6 col-sm-6 col-lg-6" >
                                     <input class="form-control" type="text" name="expDateYear" required placeholder="Year" ng-model="card.expDateYear" maxlength="2" only-digits
                                     ng-class="{ 'has-error': creditform.$submitted && creditform.expDateYear.$invalid   }"       
                                     >
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="buttons"><button type="submit" class="btn btn-primary">Save</button></div>
                     </div>
                  </div>
                   </form>
                  
               </section>
            </div>
            <!-- /.row -->
         </div>
         <!-- /#page-wrapper -->
      </div>
   </div>
</section>
<style>
    .has-error{border:1px solid #a94442 !important;}
</style>

