	<section class="grey-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8">
					<div class="row">
						<div class="col-md-6">
							<div class="border-radius-box dash-box">
								<div class="media dash-info">
									<div class="media-left">
										<img class="round-image" src="images/engineerImage.png">
									</div>
									<div class="media-body">
										<h3>Jackson Fernendez</h3>
										<p class="location"><i class="fa fa-map-marker"></i> California C.A. USA</p>
										<small><a href="">Edit profile</a></small>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="border-radius-box dash-box days-info">
								<p class="grey_title">Last 60 days</p>
								<ul>
									<li>
										<p>Notifications <span>14</span></p>
									</li>
									<li>
										<p>Purchases <span>6</span></p>
									</li>
									<li>
										<p>Plan <span>Lorem ipsum dolor</span></p>
									</li>
								</ul>
								<small><a href="">Manage My Campaign</a></small>
							</div>
						</div>
					</div>
					<div class="border-radius-box dash-box">
						<p class="grey_title">My Project Requests</p>
						<ul class="nav nav-tabs custom-nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#day" aria-controls="day" role="tab" data-toggle="tab">Last 70 Days (2)</a></li>
					    	<li role="presentation"><a href="#time" aria-controls="time" role="tab" data-toggle="tab">All Time  (1 )</a></li>
					    	<li><a href=""><i class="fa fa-search"></i></a></li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="day">
								<div class="table-responsive">
									<table class="table project-table">
										<tr>
											<td><div class="msg-icon"><i class="icon ion-ios-email"></i></div></td>
											<td class="name">John Doe</td>
											<td class="desc">Lorem Ipsum has industry's</td>
											<td class="date">Apr 18th</td>
											<td><div class="action">Actions <span><i class="icon ion-android-more-vertical"></i></span></div></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="subscribe-box">
						<div class="media">
							<div class="media-left">
								<img src="images/subscribe.png">
							</div>
							<div class="media-body">
								<h3>Jackson Fernendez</h3>
								<p>Lorem Ipsum is simply dummy text of the printing</p>
								<div class="arrow"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</div>
					</div>
					<div class="border-radius-box margin-bot30">
						<img src="images/map.jpg" alt="" class="img-responsive">
						<div class="map-box">
							<ul>
								<li>
									<p class="text-center">14 <span>New Leads</span></p>
								</li>
								<li>
									<p class="text-center"><a href="" class="find">Find More Projects</a></p>
								</li>
							</ul>
						</div>
					</div>
					<div class="border-radius-box margin-bot30">
						<div class="map-box">
							<p class="grey_title">Last 40 days</p>
							<ul>
								<li>
									<p>Response Rate <span><small><i class="icon ion-reply"></i></small> 100%</span></p>
								</li>
								<li>
									<p>Avg Response Time <span><small><i class="icon ion-load-c"></i></small> 7 min</span></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	