	 
      
         <section class="deals-details">
        <div class="container">
            <div class="deals-area">
                <div class="deals-pic-area">
                    <img src="{{detail.image}}"alt="" class="img-responsive">
    <!--                <div class="picZoomer">
                        <img src="{{detail.image}}"alt="">
                    </div>

                    <ul class="piclist">
                        <li><img src="{{detail.image}}" alt=""></li>

                    </ul>-->
                </div>
                <div class="deals-text">
                    <h2>{{detail.name}}
                    </h2>
                    <h2><span class="deal-end-bold">Deal End on {{detail.end_date}}</span></h2>
                    <p class="price-deal"><span>Deal Price: </span>${{detail.new_price}} <span class="pr-nm">${{detail.old_price}}</span></p>
                    <h4 class="gray">{{detail.description}}</h4>
                    <a href="#/chatsdeals/{{detail.id}}" class="btn btn-info btn-lg">Chat</a>
                </div>
            </div>
        </div>
    </section>
        <!-- /#page-wrapper -->

  