	 <section class="dashboard-page">
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle dashboard-toggle" data-target=".navbar-collapse">
                    <span>Dashbord Menu</span> 
                </button>
            </div>
            <!-- /.navbar-header -->

            
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper" class="m-l-0">
             <div class="proListing" style="position:relative; min-height:250px;">
               
                 <div class="loader" style="position:absolute; top:45%; left:45%;"></div>
             	<div class="row">
             		<div class="col-md-3 col-lg-3 col-sm-12" ng-repeat="detail in data" ng-if="Ack==1">
             			<div class="dealListing">
             				<div class="dealImage"><a href="#/dealdetails/{{detail.id}}"><img src="{{detail.image}}" class="img-responsive"></a></div>
             				<div class="dealDetail">
             					<h2><a href="#/dealdetails/{{detail.id}}">{{detail.name}}</a></h2>
             					<p>${{detail.new_price}} <span class="strikeThrough">${{detail.old_price}}</span></p>
                                                <div class="">
             						<div class="dealEnd">
             							<p>Deal End</p>
             							<div>{{detail.end_date}}</div>
             						</div>
             					</div>
                                        </div>
             			</div>
             		</div>
                    
                     <div class="notification-part" ng-if="Ack==0">
                                 <div class="norecordfound">
                                        <img src="app/assets/images/norecordfound.png" class="img-responsive">
                                </div>
                            </div>
                    
                      <div class="col-xs-12">
                <ul class="pagination" ng-show="list.length>=6">
                    <li>
                       <a ng-hide="offset == 0" ng-click="previous()">Previous</a>
                    </li>
                    <li  ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.perPage && 'active'" >
                        <a ng-click="$parent.offset = (i * $parent.perPage)">{{i+1}}</a>
                    </li>
                    
                    <li>
                        <a ng-hide="offset + perPage >= list.length" ng-click="next()">Next</a>
                    </li>
                </ul>
            </div> 
             	
             	</div>
             </div>   
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>
	