<section class="dashboard-page">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Update Deal</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
     <!--       <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
<nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
        <!-- Page Content -->
        <div id="page-wrapper">
             <div class="searchProPart">
                 <form name="searchForm" ng-submit="postDeal(data)">
               <input type="hidden" ng-model="data.id" />
                <div class="categoryParts">
                           <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" ng-model="data.name" />
                            
                          </div>  
               </div>
                     
<!--             	<div class="row">
             		<div class="col-md-4">
             			<div class="categoryParts">
                                    <div class="form-group">
                                        <label for="sel1">Category:</label>
                                        <select class="form-control" id="sel1" ng-model="data.cat_id">
                                            <option value="">Select category</option>
                                            <option ng-repeat="(key, value) in categoryList" value="{{key}}">{{value}}</option>

                                        </select>
                                   </div> 
             			</div>
             			
             		</div>
             	</div>-->
           <div class="row">
             		<div class="col-md-12 col-lg-12 col-sm-12">
             			<div class="categoryParts">
             				 <div class="catImage">
							  <label for="sel1">Image:</label>
							  <div class="catImageParts">
							  	<div class="row">
				                	<div class="col-md-12 col-lg-12 col-sm-12">
				                		<div class="uploadImage m-t-0">
                                                                <div class="upload-btn-wrapper">
                                                              
                                                               
                                             <div class="button btn" ngf-select ng-model="data.image" name="file" ngf-pattern="'image/*'"
                                    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                                    ngf-resize="{width: 100, height: 100}">Upload Image</div>
                                    
                                    <img ngf-thumbnail="data.image">
                                                              </div>
				                		</div>
				                	</div>
                				</div>
<!--                        <div class="row">
                	<div class="col-md-3 col-lg-3 col-sm12">
                		<div class="imageUploadPart">
                			<img src="images/bannerImage1.jpg" class="img-responsive">
                			<div class="cross"><a href="#">✕</a></div>
                		</div>
                	</div>
                	
                </div>-->
							  </div>
							</div> 
             			</div>
             			<div class="categoryParts">
             				    <div class="form-group">
								  <label for="comment">Comment:</label>
								  <textarea class="form-control" rows="5" id="comment" ng-model="data.description"></textarea>
								</div>  
             			</div>
             			
             			<div class="categoryParts">
             				 <div class="row">
             				 	<div class="col-md-2 col-lg-2 col-sm-12">
             				 		<div class="form-group">
                                                            <label for="usr">Market Price:</label>
                                                            <input type="text" class="form-control" id="usr" ng-model="data.old_price">
                                                    </div>
             				 	</div>
             				 </div> 
             			</div>
             			<div class="categoryParts">
             				 <div class="row">
             				 	<div class="col-md-2 col-lg-2 col-sm-12">
             				 		<div class="form-group">
                                                                <label for="usr">My Price:</label>
                                                                <input type="text" class="form-control" id="usr" ng-model="data.new_price">
                                                        </div>
             				 	</div>
             				 </div>
             			</div>
             			<div class="categoryParts">
             				 <div class="catImage">
							  <label for="sel1">Date:</label>
							  <div class="row">
							  	<div class="col-md-3">
							  		 <div class="form-group">
									    <input type="text"  class="form-control" id="datepicker" ng-model="data.start_date" >
									  </div>
							  	</div>
							  	<div style="width: 3%; float: left; text-align: center; line-height: 26px;">to</div>
							  	<div class="col-md-3">
							  		<div class="form-group">
									    <input type="text" class="form-control" id="datepicker1" ng-model="data.end_date">
									  </div>
							  	</div>
							  </div>
							</div> 
             			</div>
                            
                             <input class="form-control textField" ng-model="data.location" placeholder="Location" type="text" vs-google-autocomplete
                                             vs-latitude="data.lat" vs-longitude="data.lng"            
                                                  >
<!--             			<button type="button" class="btn btn-primary m-b-30">Submit</button>-->

                        <input type="submit" class="btn btn-primary m-b-30" value="submit"/>
             		</div>
             	</div>
                 </form>   
             </div>   
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>
