<section class="request-page">
            <div class="container">
               
                <div class="row">
                <div class="col-md-12">
                  
                </div>
                    <div class="col-md-12">
                        
                        <div class="cms_content">
                            
                            <h4 class="page-header">Email Confirmation</h4>
                        
                        
                    <form class="dash-form" ng-submit="facebookverify(user)">
                    
                        <div class="dash-name frm-arch">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" placeholder="Email" name="facebookemail" ng-model="user.facebookemail">
                            </div>
                           
                        </div>
                                                 
                            
                            <div class="form-submit">
                                <input type="submit" class="btn" value="submit">
                            </div>
                        
                    </form>
                            
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                
            </div>
        </section>