
<div  class="success-msg-area" ng-if="islogin==1" ng-show="loginmsg">
    {{loginmsg}}
</div>
<div  class="success-msg-area" ng-if="issignup==1" ng-show="signupmsg">
    {{signupmsg}}
</div>

<div class="container" style="width:100%; padding-right: ; padding-left:0">
				<div class="row">
                                    <div class="col-md-12 col-sm-12" style=" padding-right: 0">
                                            <div class="contactPart" style=" background-color:#18262E;">
							<ul>
                                                            <li style=" border-left:none;" ng-repeat="category in categoryList| limitTo: 7"><a href="javascript:void(0)" ng-click="getSubcat(category.id)"  style=" font-weight:bold;">{{category.name}}</a></li>
                                                            <li style=" border-left:none; border-right:none;"><a href="javascript:void(0)" style=" font-weight:bold;">More Services</a></li>
                                                        </ul>
						</div>
					</div>
					
				</div>
                        </div>
		
<section class="banner">
        <div class="bannerPart" style="background:url(app/assets/images/bannerPart.jpg) no-repeat;">
            <div class="innerBackground" style="min-height:585px;">
                        <div class="container">
                                <div class="row">
                                        <div class="col-md-12">
                                                <div class="backgroundHeading">
                                                        <h2>Get the best service from your neighborhood</h2>
                                                        <p>The easiest way to find and book your service professionals</p>
 
                                                        
                                                        
                                                        
    <div class="searchHeading">
        <div class="form-group">
            
            
            
        <!--<form name="searchForm" ng-submit="searchcat()">  -->
            <form name="searchForm">
          <input type="text" client-auto-complete class="form-control textField" placeholder="What are you looking for" id="usr" name="name" ng-model="serachkeyword.name">
          <input client-auto-complete class="form-control" ng-model="serachkeyword.id" placeholder="enter name" type="hidden">
            <i class="fa fa-map-marker"></i>
                <button type="submit" class="btn btn-primary" ng-click="popupOpenFromSearch()"><i class="icon ion-search"></i> Search</button>
        </form>
            
            
                
          <div class="clearfix"></div>
        </div>
    </div>
                                                        
                                                        
                                                        
                                                        
                                                        
            
                                                        
                                                        
                                                        
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<div class="vaccumnCleaner" style=" background:#F3F3F3;">
                
                <ul>
                    <li ng-repeat="category in categoryList">
                        <a href="javascript:void(0)" ng-click="getSubcat(category.id)">
<!--                            <div class="image" style="background:url({{category.image}}) no-repeat center top; width: 100%; height: 100%; overflow:hidden; background-size:cover; border-radius:100px;"
                                 ng-click="gocategory(category.id,category.name)"></div>-->
                            
                             <div class="image" style="background:url({{category.image}}) no-repeat center top; width: 100%; height: 100%; overflow:hidden; background-size:75%; border-radius:0; background-color:#18262e;background-repeat: no-repeat;background-position: center;"
                                 ></div>
                           
                        </a>
                         <div class="cat_name">{{category.name}}</div>
                    	<!--<img src="{{category.image}}" class="img-responsive"></a></li>-->
                    <!--<li><a href="#"><img src="app/assets/images/icon2.png" class="img-responsive"></a></li>
                    <li><a href="#"><img src="app/assets/images/icon3.png" class="img-responsive"></a></li>
                    <li><a href="#"><img src="app/assets/images/icon4.png" class="img-responsive"></a></li>
                    <li><a href="#"><img src="app/assets/images/icon5.png" class="img-responsive"></a></li>
                    <li><a href="#"><img src="app/assets/images/icon6.png" class="img-responsive"></a></li>
                    <li><a href="#"><img src="app/assets/images/icon7.png" class="img-responsive"></a></li>
                    <li><a href="#"><img src="app/assets/images/icon8.png" class="img-responsive"></a></li>
                    <li><a href="#"><img src="app/assets/images/icon9.png" class="img-responsive"></a></li>-->
                </ul>
            </div>


<section class="shopLocalService" ng-if="current_user_login==1">
        <div class="container">
                <div class="row">
                        <div class="col-md-12">
                                <h2>Shop Local Services<span>{{state}},{{city}}</span></h2>
                        </div>
                </div>

                <div class="row" ng-repeat="servicem in serviceList.maincat">
                   <div class="col-md-12">
                                <h3 style="font-size: 24px;color: #00aeef;font-weight: 400;margin: 0px 0 25px 0;">{{servicem.name}}</h3>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6"  ng-repeat="service in servicem.subcat">
                            
                           <div class="servicesParts">
                                <div class="servicesTopPart">
                                        <img src="{{service.image}}" ng-click="catImageClick(service.id)">
                                </div>
                                <div class="servicesBottomPart">
                                        <h2>{{service.name}}</h2>
                                        <p>{{service.name}} </p>
<!--                                        <p class="rating">Rating: 
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>

                                        </p>-->
                                        <div class="priceButton">
<!--                                                <p class="pricePart pull-left">Price <span>$734</span></p>-->
                                                <div class="pull-right viewBut">
					<!--<button class="btn btn-primary" ng-click="getSubcat(service.id)">View</button>-->
					<button class="btn btn-primary" ng-click="catImageClick(service.id)">View</button>
					</div>				
					<div class="clearfix"></div>
                                        </div>
                                </div>
                           </div>
                        </div>
                      
                    
                </div>
        </div>
</section>

<section class="worksPart">
        <div class="container">
                <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                                <h2 class="text-center">How Taskiteer Works</h2>
                                <p>Simply Download Taskiteer and Post Your Job and Wait for Service Providers to Contact You</p>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="servicePart">
                                        <i class="icon ion-ios-search"></i>
                                        <h2>Find Services</h2>
                                       <!--     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporaliqua.</p> -->
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="servicePart">
                                        <i class="icon ion-help-buoy"></i>
                                        <h2>Post Services</h2>
                                         <!--   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporaliqua.</p> -->
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="servicePart">
                                        <i class="icon ion-android-people"></i>
                                        <h2>Verified Professionals</h2>
                                       <!--  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporaliqua.</p> -->
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="servicePart">
                                        <i class="icon ion-card"></i>
                                        <h2>Secure Payments</h2>
                                        <!--    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporaliqua.</p> -->
                                </div>
                        </div>
                </div>
        </div>
</section>
<!--<section class="bestProfessional">
        <div class="container">
                <div class="row">
                        <div class="col-md-12">
                                <h2>Browse Best Professionals</h2>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-6" ng-repeat="proflist in profesionalList">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="{{proflist.User.image}}" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">{{proflist.User.name}} </a></h2></div>
                                </div>
                        </div>
                         <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage2.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Door Cleaner</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage3.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Plumber</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage4.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Electrician</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage1.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Carpenter</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage2.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Painter</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage3.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Maid</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage4.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">PEst Control</a></h2></div>
                                </div>
                        </div>

                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage1.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">House Cleaner</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage2.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Door Cleaner</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage3.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Plumber</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage4.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Electrician</a></h2></div>
                                </div>
                        </div> 
                </div>
        </div>
</section>-->
<section class="testimonialSection" style="background:url(app/assets/images/parallaxBanner.jpg) no-repeat;">
        <div class="backgroundTestimonial">
                <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                          <li data-target="#quote-carousel" data-slide-to="1"></li>
                          <li data-target="#quote-carousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                                <div class="item active">
  <div class="row">
    <div class="col-sm-12">
      <p>&ldquo;I love Taskiteer my Business has increased 3 times.&rdquo;</p>
      <p>Betty</p>
      <div class="imagePart">
          <img src="app/assets/images/testimonialImage.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>
                                <div class="item">
  <div class="row">
    <div class="col-sm-12">
      <p>&ldquo;Its so easy to get real quotes without.&rdquo;</p>
      <p>Wendal</p>
      <div class="imagePart">
          <img src="app/assets/images/testimonialImage.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>	
                                <div class="item">
  <div class="row">
    <div class="col-sm-12">
      <p>&ldquo;Its Safe and Secure.&rdquo;</p>
      <p>Jacob</p>
      <div class="imagePart">
          <img src="app/assets/images/testimonialImage.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>
                        </div>
      </div>                          
    </div>
  </div>
</div>
        </div>
</section>
<section class="downloadOurApp">
        <div class="container">
                <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-12">
                                <div class="downloadApp">
                                        <img src="app/assets/images/downloadapp.png" class="img-responsive">
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                                <div class="downloadAppText">
                                        <h2>Download Taskiteer</h2>
                                        <h3>Find Trusted and Vetted Service Professionals</h3>
                                        <p>With Taskiteer you can easily find local service professionals who specialize in exactly the type of service you need completed. Just tell us a few details about your project and we'll match you to the best professional for the job</p>
                                        <div class="buttonGroups">
                                                <ul>
                                                        <li><a href="#"><img src="app/assets/images/appstore1.png"></a></li>
                                                        <li><a href="#"><img src="app/assets/images/appstore2.png"></a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>


<style>
    /*
    .vaccumnCleaner ul li a {display: block; height: 100%; overflow: hidden; width: 100%;}
    .vaccumnCleaner ul li {overflow:hidden}
    .vaccumnCleaner ul li a img {height:100%;width:auto;}
    */
    .vaccumnCleaner ul
    {
         margin-top:0px !important;
    }
    
    
    
</style>
