<section class="banner">
        <div class="bannerPart" style="background:url(app/assets/images/bannerPart.jpg) no-repeat;">
                <div class="innerBackground">
                        <div class="container">
                                <div class="row">
                                        <div class="col-md-12">
                                                <div class="backgroundHeading">
                                                        <h2>Get the best service from your neighborhood</h2>
                                                        <p>The easiest way to find and book your service professionals</p>
 
                                                        
                                                        
                                                        
    <div class="searchHeading">
        <div class="form-group">
            
            
            
        <form name="searchForm" ng-submit="searchcat(user)">    
          <input type="text" class="form-control textField" placeholder="What are you looking for" id="usr" name="name" ng-model="user.name">
            <i class="fa fa-map-marker"></i>
                <button type="submit" class="btn btn-primary"><i class="icon ion-search"></i> Search</button>
        </form>
            
            
                
          <div class="clearfix"></div>
        </div>
    </div>
                                                        
                                                        
                                                        
                                                        
                                                        
            <div class="vaccumnCleaner">
                <ul>
                    <li ng-repeat="category in categoryList| limitTo: 9"><a href="{{category.id}}"><img src="{{category.image}}" class="img-responsive"></a></li>
                    <!--<li><a href="#"><img src="app/assets/images/icon2.png" class="img-responsive"></a></li>
                    <li><a href="#"><img src="app/assets/images/icon3.png" class="img-responsive"></a></li>
                    <li><a href="#"><img src="app/assets/images/icon4.png" class="img-responsive"></a></li>
                    <li><a href="#"><img src="app/assets/images/icon5.png" class="img-responsive"></a></li>
                    <li><a href="#"><img src="app/assets/images/icon6.png" class="img-responsive"></a></li>
                    <li><a href="#"><img src="app/assets/images/icon7.png" class="img-responsive"></a></li>
                    <li><a href="#"><img src="app/assets/images/icon8.png" class="img-responsive"></a></li>
                    <li><a href="#"><img src="app/assets/images/icon9.png" class="img-responsive"></a></li>-->
                </ul>
            </div>
                                                        
                                                        
                                                        
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>

<section class="worksPart">
        <div class="container">
                <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                                <h2 class="text-center">How It Works</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="servicePart">
                                        <i class="icon ion-ios-search"></i>
                                        <h2>Find Services</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporaliqua.</p>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="servicePart">
                                        <i class="icon ion-help-buoy"></i>
                                        <h2>Post Services</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporaliqua.</p>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="servicePart">
                                        <i class="icon ion-android-people"></i>
                                        <h2>Book Professionald</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporaliqua.</p>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="servicePart">
                                        <i class="icon ion-card"></i>
                                        <h2>Pay Safe</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporaliqua.</p>
                                </div>
                        </div>
                </div>
        </div>
</section>

<section class="shopLocalService">
        <div class="container">
                <div class="row">
                        <div class="col-md-12">
                                <h2>Shop Local Services<span>Location Based Service Critical</span></h2>
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-3 col-sm-6">
                           <div class="servicesParts">
                                <div class="servicesTopPart">
                                        <img src="app/assets/images/smallbanner.jpg">
                                </div>
                                <div class="servicesBottomPart">
                                        <h2>$734 Garage Door Installation</h2>
                                        <p>Lorem ipsum dolor met, consectetur </p>
                                        <p class="rating">Rating: 
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>

                                        </p>
                                        <div class="priceButton">
                                                <p class="pricePart pull-left">Price <span>$734</span></p>
                                                <div class="pull-right viewBut"><button type="button" class="btn btn-primary">View</button></div>				<div class="clearfix"></div>
                                        </div>
                                </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                 <div class="servicesParts">
                                <div class="servicesTopPart">
                                        <img src="app/assets/images/smallbanner.jpg">
                                </div>
                                <div class="servicesBottomPart">
                                        <h2>$734 Garage Door Installation</h2>
                                        <p>Lorem ipsum dolor met, consectetur </p>
                                        <p class="rating">Rating: 
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                        </p>
                                        <div class="priceButton">
                                                <p class="pricePart pull-left">Price <span>$734</span></p>
                                                <div class="pull-right viewBut"><button type="button" class="btn btn-primary">View</button></div>				<div class="clearfix"></div>
                                        </div>
                                </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                 <div class="servicesParts">
                                <div class="servicesTopPart">
                                        <img src="app/assets/images/smallbanner.jpg">
                                </div>
                                <div class="servicesBottomPart">
                                        <h2>$734 Garage Door Installation</h2>
                                        <p>Lorem ipsum dolor met, consectetur </p>
                                        <p class="rating">Rating: 
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                        </p>
                                        <div class="priceButton">
                                                <p class="pricePart pull-left">Price <span>$734</span></p>
                                                <div class="pull-right viewBut"><button type="button" class="btn btn-primary">View</button></div>				<div class="clearfix"></div>
                                        </div>
                                </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                 <div class="servicesParts">
                                <div class="servicesTopPart">
                                        <img src="app/assets/images/smallbanner.jpg">
                                </div>
                                <div class="servicesBottomPart">
                                        <h2>$734 Garage Door Installation</h2>
                                        <p>Lorem ipsum dolor met, consectetur </p>
                                        <p class="rating">Rating: 
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                        </p>
                                        <div class="priceButton">
                                                <p class="pricePart pull-left">Price <span>$734</span></p>
                                                <div class="pull-right viewBut"><button type="button" class="btn btn-primary">View</button></div>				<div class="clearfix"></div>
                                        </div>
                                </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                 <div class="servicesParts">
                                <div class="servicesTopPart">
                                        <img src="app/assets/images/smallbanner.jpg">
                                </div>
                                <div class="servicesBottomPart">
                                        <h2>$734 Garage Door Installation</h2>
                                        <p>Lorem ipsum dolor met, consectetur </p>
                                        <p class="rating">Rating: 
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                        </p>
                                        <div class="priceButton">
                                                <p class="pricePart pull-left">Price <span>$734</span></p>
                                                <div class="pull-right viewBut"><button type="button" class="btn btn-primary">View</button></div>				<div class="clearfix"></div>
                                        </div>
                                </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                 <div class="servicesParts">
                                <div class="servicesTopPart">
                                        <img src="app/assets/images/smallbanner.jpg">
                                </div>
                                <div class="servicesBottomPart">
                                        <h2>$734 Garage Door Installation</h2>
                                        <p>Lorem ipsum dolor met, consectetur </p>
                                        <p class="rating">Rating: 
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                        </p>
                                        <div class="priceButton">
                                                <p class="pricePart pull-left">Price <span>$734</span></p>
                                                <div class="pull-right viewBut"><button type="button" class="btn btn-primary">View</button></div>				<div class="clearfix"></div>
                                        </div>
                                </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                 <div class="servicesParts">
                                <div class="servicesTopPart">
                                        <img src="app/assets/images/smallbanner.jpg">
                                </div>
                                <div class="servicesBottomPart">
                                        <h2>$734 Garage Door Installation</h2>
                                        <p>Lorem ipsum dolor met, consectetur </p>
                                        <p class="rating">Rating: 
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                        </p>
                                        <div class="priceButton">
                                                <p class="pricePart pull-left">Price <span>$734</span></p>
                                                <div class="pull-right viewBut"><button type="button" class="btn btn-primary">View</button></div>				<div class="clearfix"></div>
                                        </div>
                                </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                 <div class="servicesParts">
                                <div class="servicesTopPart">
                                        <img src="app/assets/images/smallbanner.jpg">
                                </div>
                                <div class="servicesBottomPart">
                                        <h2>$734 Garage Door Installation</h2>
                                        <p>Lorem ipsum dolor met, consectetur </p>
                                        <p class="rating">Rating: 
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                        </p>
                                        <div class="priceButton">
                                                <p class="pricePart pull-left">Price <span>$734</span></p>
                                                <div class="pull-right viewBut"><button type="button" class="btn btn-primary">View</button></div>				<div class="clearfix"></div>
                                        </div>
                                </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                 <div class="servicesParts">
                                <div class="servicesTopPart">
                                        <img src="app/assets/images/smallbanner.jpg">
                                </div>
                                <div class="servicesBottomPart">
                                        <h2>$734 Garage Door Installation</h2>
                                        <p>Lorem ipsum dolor met, consectetur </p>
                                        <p class="rating">Rating: 
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                        </p>
                                        <div class="priceButton">
                                                <p class="pricePart pull-left">Price <span>$734</span></p>
                                                <div class="pull-right viewBut"><button type="button" class="btn btn-primary">View</button></div>				<div class="clearfix"></div>
                                        </div>
                                </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                 <div class="servicesParts">
                                <div class="servicesTopPart">
                                        <img src="app/assets/images/smallbanner.jpg">
                                </div>
                                <div class="servicesBottomPart">
                                        <h2>$734 Garage Door Installation</h2>
                                        <p>Lorem ipsum dolor met, consectetur </p>
                                        <p class="rating">Rating: 
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                        </p>
                                        <div class="priceButton">
                                                <p class="pricePart pull-left">Price <span>$734</span></p>
                                                <div class="pull-right viewBut"><button type="button" class="btn btn-primary">View</button></div>				<div class="clearfix"></div>
                                        </div>
                                </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                 <div class="servicesParts">
                                <div class="servicesTopPart">
                                        <img src="app/assets/images/smallbanner.jpg">
                                </div>
                                <div class="servicesBottomPart">
                                        <h2>$734 Garage Door Installation</h2>
                                        <p>Lorem ipsum dolor met, consectetur </p>
                                        <p class="rating">Rating: 
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                        </p>
                                        <div class="priceButton">
                                                <p class="pricePart pull-left">Price <span>$734</span></p>
                                                <div class="pull-right viewBut"><button type="button" class="btn btn-primary">View</button></div>				<div class="clearfix"></div>
                                        </div>
                                </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                 <div class="servicesParts">
                                <div class="servicesTopPart">
                                        <img src="app/assets/images/smallbanner.jpg">
                                </div>
                                <div class="servicesBottomPart">
                                        <h2>$734 Garage Door Installation</h2>
                                        <p>Lorem ipsum dolor met, consectetur </p>
                                        <p class="rating">Rating: 
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                                <i class="icon ion-star"></i>
                                        </p>
                                        <div class="priceButton">
                                                <p class="pricePart pull-left">Price <span>$734</span></p>
                                                <div class="pull-right viewBut"><button type="button" class="btn btn-primary">View</button></div>				<div class="clearfix"></div>
                                        </div>
                                </div>
                           </div>
                        </div>
                </div>
        </div>
</section>
<section class="bestProfessional">
        <div class="container">
                <div class="row">
                        <div class="col-md-12">
                                <h2>Browse Best Professionals</h2>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage1.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">House Cleaner</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage2.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Door Cleaner</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage3.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Plumber</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage4.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Electrician</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage1.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Carpenter</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage2.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Painter</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage3.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Maid</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage4.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">PEst Control</a></h2></div>
                                </div>
                        </div>

                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage1.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">House Cleaner</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage2.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Door Cleaner</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage3.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Plumber</a></h2></div>
                                </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="bottomImagePart">
                                        <a href="#"><img src="app/assets/images/bottomImage4.jpg" class="img-responsive"></a>
                                        <div class="hoverPart"><h2><a href="#">Electrician</a></h2></div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<section class="testimonialSection" style="background:url(app/assets/images/parallaxBanner.jpg) no-repeat;">
        <div class="backgroundTestimonial">
                <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                          <li data-target="#quote-carousel" data-slide-to="1"></li>
                          <li data-target="#quote-carousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                                <div class="item active">
  <div class="row">
    <div class="col-sm-12">
      <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.&rdquo;</p>
      <p>Ariel Herman</p>
      <div class="imagePart">
          <img src="app/assets/images/testimonialImage.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>
                                <div class="item">
  <div class="row">
    <div class="col-sm-12">
      <p>&ldquo;Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.&rdquo;</p>
      <p>Ariel Herman</p>
      <div class="imagePart">
          <img src="app/assets/images/testimonialImage.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>	
                                <div class="item">
  <div class="row">
    <div class="col-sm-12">
      <p>&ldquo;Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum.&rdquo;</p>
      <p>Ariel Herman</p>
      <div class="imagePart">
          <img src="app/assets/images/testimonialImage.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>
                        </div>
      </div>                          
    </div>
  </div>
</div>
        </div>
</section>
<section class="downloadOurApp">
        <div class="container">
                <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-12">
                                <div class="downloadApp">
                                        <img src="app/assets/images/downloadapp.png" class="img-responsive">
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                                <div class="downloadAppText">
                                        <h2>Download Our App</h2>
                                        <h3>Stay connected anytime, anywhere</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                                        <div class="buttonGroups">
                                                <ul>
                                                        <li><a href="#"><img src="app/assets/images/appstore1.png"></a></li>
                                                        <li><a href="#"><img src="app/assets/images/appstore2.png"></a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>


<style>
    /*
    .vaccumnCleaner ul li a {display: block; height: 100%; overflow: hidden; width: 100%;}
    .vaccumnCleaner ul li {overflow:hidden}
    .vaccumnCleaner ul li a img {height:100%;width:auto;}
    */
</style>
