 <section class="dashboard-page" >
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Job Details</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle dashboard-toggle" data-target=".navbar-collapse">
                    <span>Dashbord Menu</span> 
                </button>
            </div>
            <!-- /.navbar-header -->

            
            <!-- /.navbar-top-links -->

            <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
            <!-- /.navbar-static-side -->
       

        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                        <h4 class="page-header"></h4>
                            <div class="notification-area">
                                    <div class="userNotification">
                                   		<h2>{{detail.job.name}}</h2>
                                   		<div class="row">
                                   			<div class="col-md-4 col-lg-4 col-sm-4">
                                   				<div class="user-posting">
                                   					<div class="pull-right">Posted By</div>
                                  					<div class="userImage">
                                   						<img src="{{detail.job.userimage}}" alt="">
                                   					</div>
                                   					<h4>{{detail.job.username}}</h4>
<!--                                   					<p>Email Id : <span>{{jobdetails[0].User.email}}</span></p>											
                                   					<p>Phone No : <span>{{jobdetails[0].User.mobile_no}}</span></p>-->
                                   				</div>
                                   				
                                   			</div>
                                   			<div class="col-md-4 col-lg-4 col-sm-4"></div>
                                            <div class="col-md-4 col-lg-4 col-sm-4" ng-if="detail.job.assigneduserid!='null'">
                                   				<div class="user-posting">
                                   					<div class="pull-right">Assigned To</div>
                                   					<div class="userImage">
                                   						<img src="{{detail.job.assigneduserimage}}" alt="">
                                   					</div>
                                   					<h4>{{detail.job.assignedusername}}</h4>
<!--                                   					<p>Email Id : <span>nits.kalyan@gmail.com</span></p>											
                                   					<p>Phone No : <span>9806542</span></p>-->
                                   				</div>
                                   			</div>
                                   		</div>
                                    </div>
                                    <div class="userNotification">
                                        <h2>Description</h2>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-sm-4">                                                
                                                <h4>{{detail.job.description}}</h4>
                                                <p>Posted On: <span>{{detail.job.posttime}}</span></p>
                                            </div>                                            
                                        </div>
                                    </div>
                                   	<div class="questionandanswer">
                                            <div ng-if="detail.response.length>0" ng-repeat="response in detail.response">
                                   		<div class="questions">
                                   			<p><span>Q:. </span>
                                   			{{response.question}}</p>
                                   		</div>
                                   		<div class="answers">
                                   			<p class="ans">
                                   				<span>A:</span>
                                   			</p>
                                   			<ul>
                                   				<li><p>{{response.answer}}</p></li>
                                   			</ul>
                                   		</div>
                                   		<div class="clearfix"></div>
                                   		</div>
                                   	</div>  
<!--                                   <div class="notification-part" ng-repeat="job in jobdetails">
                               
                                    <div class="ques">
                                        <p><span>Q:</span>{{job.Question.name}}</p>
                                    </div>
                                    <div class="ans">
                                        <p class="a-n-s"><span>A:</span></p>
                                        
                                        <ul>
                                            
                                            <li><p>{{job.Userresponse.answer}}</p></li>
                                            
                                        </ul>
                                    </div>
                                
                                   </div>
                                
                          
                            
                        </div>
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>