    
        <section class="message-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-xs-12 col-chat">
                        <div class="chat-area">
                            <div class="chat-top-bar">
                                <div class="chat-back">
                                    <a href=""><i class="ion-chevron-left"></i> Quote </a>
                                </div>
                                <div class="hire-btn">
                                    <a href="#">Hire</a>
                                </div>
                            </div>
                            <div class="chat-middile-part">
                                <div class="chat-pic-name">
                                    <div class="chat-pic">
                                        <img src="images/chat-pic.jpg" alt="">
                                    </div>
                                    <div class="chat-top-info">
                                        <h5>John sent a project request</h5>
                                        <h6>10 days ago</h6>
                                    </div>
                                </div>
                                <div class="full-chat">
                                    <div class="sent-chat">
                                        <div class="sent-chat-box">
                                            <p>Hi John,</p>
                                            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                        </div>
                                        <p class="chat-time">6 days ago via web</p>
                                    </div>
                                    <div class="received-chat">
                                        <div class="rcv-chat-box">
                                            <p>In about 20 mins,  remaining essentially unchanged. It wa.s popularised in the 1960s with the release.  But also the leap into electronic typesetting, remaining essentially unchanged.  It was popularised in the 1960s with the release of Letraset sheets containing Lorem.</p>
                                        </div>
                                        <p class="chat-time">6 days ago via sms</p>
                                    </div>
                                </div>
                                <div class="chat-bottom-bar">
                                    <div class="chat-import-icons">
                                        <span><img src="images/icons/attach.png" alt=""></span>
                                        <span><img src="images/icons/call.png" alt=""></span>
                                        <span><img src="images/icons/calender.png" alt=""></span>
                                    </div>
                                    <div class="chat-type">
                                        <input type="text">
                                        <span>
                                            <button type="submit" class="send-btn ion-android-send"></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12 col-chat">
                        <div class="chat-cleint-info">
                            <div class="client-info-top">
                                <div class="client-pic">
                                    <img src="images/chat-pic.jpg" alt="">
                                </div>
                                <div class="client-name">
                                    <h4>Jackson Fernendez</h4>
                                    <p class="star">
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <span>20 Review</span>
                                    </p>
                                    <p class="hired">Hired 21 times</p>
                                </div>
                            </div>
                            <div class="clnt-cntct-info">
                                <span>
                                    <i class="ion-android-call"></i>
                                    +91 9831558866
                                </span>
                                <span>
                                    <i class="ion-ios-location"></i>
                                    California C.A. USA
                                </span>
                                <span>
                                    <i class="ion-ios-email"></i>
                                    info_abc@gmail.com
                                </span>
                            </div>
                            <div class="client-box-area">
                                <h4>3 Photos</h4>
                                <div class="work-pic">
                                    <img src="images/workpic-1.jpg" alt="">
                                    <img src="images/workpic-2.jpg" alt="">
                                    <img src="images/workpic-2.jpg" alt="">
                                    <img src="images/workpic-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="client-box-area">
                                <h4>Reviews</h4>
                                <div class="review-1">
                                    <p>
                                        <span class="star">
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                        </span>
                                        <span class="rvw1">20 Review</span>
                                        <span class="top-pro">Top Pro</span>
                                    </p>
                                </div>
                            </div>
                            <div class="clnt-btm-prt">
                                    <p>
                                        <span class="star">
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                        </span>
                                    </p>
                                <h4>Senior Electrician ! Professional</h4>
                                <h5>Mar 20th, 2017 <span>|</span> Verified</h5>
                            </div>
                            <div class="clnt-btm-prt">
                                    <p>
                                        <span class="star">
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                        </span>
                                    </p>
                                <h4>Great Dj</h4>
                                <h5>Mar 20th, 2017 <span>|</span> Verified</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    