<section class="dashboard-page">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Account Settings</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
     <!--       <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
<nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                        <h4 class="page-header">User Information</h4>
                        
                        
                    <form class="dash-form" ng-submit="updateProfile(user)">                        
                        
                        
                        <div class="dash-name frm-arch">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" placeholder="Full Name" name="name" ng-model="user.name">
                            </div>
                            <!--<div class="form-group">
                                <label>Last Name</label>
                                <input type="text" placeholder="Last Name">
                            </div>-->
                        </div>
                        <!--<div class="form-radio">
                            <h5 class="form-line">How would you like your name to appear to others on Service Professional?</h5>
                            <div>
                                <input type="radio" id="radio01"><label for="radio01"><span></span> John Doe</label>
                            </div>
                            <div>
                                <input type="radio" id="radio02"><label for="radio02"><span></span> John D</label>
                            </div>
                        </div>-->
                        <div class="form">
                            <h5 class="form-line">Contact Information</h5>
                            <div class="frm-arch">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input type="email" placeholder="Email" name="email" ng-model="user.email" readonly>
                                </div>
                                <!--<a href="#">Change</a>-->
                            </div>
                            <div class="frm-arch">
                                <div class="form-group">
                                    <label>Mobile Number</label>
                                    <input type="tel" placeholder="Mobile Number" name="phone" ng-model="user.phone">
                                </div>
                                <!--<a href="#">Change</a>-->
                            </div>
                            <div class="frm-arch">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" placeholder="Address" name="address" ng-model="user.address">
                                </div>
                                <!--<a href="#">Change</a>-->
                            </div>
                            
                            <div class="frm-arch">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <textarea rows="5" cols="35" placeholder="About Me" name="about_me" ng-model="user.about_me" style="width: 100%;background: #fbfbfb; border: none;"></textarea>
                                    
                                    <!--<input type="text" placeholder="About Me" name="about_me" ng-model="user.about_me">-->
                                </div>
                                <!--<a href="#">Change</a>-->
                            </div>
                            
                            
                            <div class="frm-arch">
                                <div class="form-group">
				      <label>Image</label>
				      <div class="col-sm-10">
                        <div class="btn btn-default" ngf-select ng-model="user.profile_image" name="image" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                        ngf-resize="{width: 100, height: 100}" ngf-change="changeimagepath($file)">Browse</div>
                        <img class="thumbnail_upload_img myaccount_userimage" ngf-thumbnail="user.profile_image">
				      </div>
                                </div>
                            </div>
                            
                            
                            
                            
                            <div class="form-submit">
                                <input type="submit" class="btn" value="save">
                            </div>
                        </div>
                        
                        
                        <div class="success-msg-area" ng-show="submissionSuccess">{{submissionSuccess}}</div>
                        
                        
                    </form>
                        
                        
                        
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>