 <section class="dashboard-page"  ng-init="getjoblistpro()">
     
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> My assigned Jobs</h1>
                  <ul class="dash-sub-top-menu pull-right">
                      
                      <li ng-class="{'select': status==1}"><a href="#/myappliedproject/1">Ongoing</a></li>
                      <li ng-class="{'select': status==2}"><a href="#/myappliedproject/2">Closed</a></li>
                  </ul>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle dashboard-toggle" data-target=".navbar-collapse">
                    <span>Dashbord Menu</span> 
                </button>
            </div>
            <!-- /.navbar-header -->

            
            <!-- /.navbar-top-links -->

            <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
            <!-- /.navbar-static-side -->
       

        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row" style="position:relative; min-height:250px;">
                    
<!--                    <div class="personalDetails_listing" style="position:relative; min-height:500px;">-->
                
                <div class="loader" style="position:absolute; top:45%; left:45%;"></div>
<!--                    </div>-->
                    
                        <h4 class="page-header" ng-if="page_caption_status=='all'">All jobs in my category</h4>
                        <h4 class="page-header" ng-if="page_caption_status==1">Ongoing Assined Jobs</h4>
                        <h4 class="page-header" ng-if="page_caption_status==2">Closed Assigned Jobs</h4>
                        <div class="notification-area">
                          
                            <div class="notification-part" ng-repeat="job in data" ng-if="Ack==1">
                               
                                    <div class="noti-img">
                                        <img src="{{job.profile_image}}" alt="">
                                        
                                    </div>
                                    
                                    <h5 class="noti-info-text">
                                        Posted By: {{job.name}}<br>   
                                    Title:{{job.title}} <br>   
                                    Service name : <span>{{job.category_id}}</span><br/>
                                    Address: {{job.address}}<br/>
                                    Project status:
                                    <span ng-if="job.status==0">Pending</span>
                                    <span ng-if="job.status==1">Ongoing</span>
                                    <span ng-if="job.status==4">Closed</span>
                                    <span ng-if="job.status==5">Approved</span>
                                    <br/>
                                    Posted On : <span>{{job.posttime}}</span>
                                    </h5>

                                <div class="pull-right btnParts" ng-if="!job.assigned_to && !job.is_bid">
                                    <a class="btn btn-primary" ng-click="sendQuote(job)">Send Quote</a>
                                    <a class="btn btn-primary" ui-sref="frontend.jobdetails({id:job.id})" target="_blank">Job Details</a>
                                    </div>
                                     <div class="pull-right btnParts" ng-if="job.is_bid">
                                         <a class="btn btn-primary" href="javascript:void(0)">Applied</a>
                                         <a class="btn btn-primary" ui-sref="frontend.jobdetails({id:job.id})" target="_blank">Job Details</a>
                                   
                                    </div>
<!--                                <a ng-if="job.Providers.length==0" class="btn btn-success" href="#" target="_blank">
                                    Matching pros({{job.Providers.length}})</a>-->
                                
                            </div>
                            
                            <div class="notification-part" ng-if="Ack!=1">
                                 <div class="norecordfound">
                                        <img src="app/assets/images/norecordfound.png" class="img-responsive">
                                </div>
                            </div>
                            
                              <div class="col-xs-12">
                                <ul class="pagination" ng-show="jobList.length>=6">
                                    <li>
                                       <a ng-hide="offset == 0" ng-click="previous()">Previous</a>
                                    </li>
                                    <li  ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.perPage && 'active'" >
                                        <a ng-click="$parent.offset = (i * $parent.perPage)">{{i+1}}</a>
                                    </li>

                                    <li>
                                        <a ng-hide="offset + perPage >= list.length" ng-click="next()">Next</a>
                                    </li>
                                </ul>
                            </div> 
                            
                        </div>
                </div>
                <!-- /.row -->
               
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>