 <section class="dashboard-page"  ng-init="getjoblist()">
       
          <div class="top-dash-heading">
              <div class="container">
                  <h1 class="pull-left"><i class="ion-android-settings"></i> My Posted Jobs</h1>
                  <ul class="dash-sub-top-menu pull-right">
                      <li ng-class="{'select': status=='all'}"><a href="#/myproject/all">All</a></li>
                      <li ng-class="{'select': status==0} "><a href="#/myproject/0">Pending</a></li>
                      <li ng-class="{'select': status==5} "><a href="#/myproject/5">Approved</a></li>
                      <li ng-class="{'select': status==1} "><a href="#/myproject/1">Ongoing</a></li>
                      <li ng-class="{'select': status==4} "><a href="#/myproject/4">Closed</a></li>
                  </ul>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
        <!--<nav class="navbar navbar-default navbar-static-top" role="navigation">-->
            <!--<div class="navbar-header">
                <button type="button" class="navbar-toggle dashboard-toggle" data-target=".navbar-collapse">
                    <span>Dashbord Menu</span> 
                </button>
            </div>-->
            <!-- /.navbar-header -->

            
            <!-- /.navbar-top-links -->

            <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
            <!-- /.navbar-static-side -->
       

        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row" style="position:relative; min-height:250px;">
                     <div class="loader" style="position:absolute; top:45%; left:45%;"></div>
                        <h4 class="page-header" ng-if="status=='all'">My Posted Jobs</h4>
                        <h4 class="page-header" ng-if="status==0">Pending Jobs</h4>
                        <h4 class="page-header" ng-if="status==1">Ongoing Jobs</h4>
                        <h4 class="page-header" ng-if="status==4">Closed Jobs</h4>
                        <h4 class="page-header" ng-if="status==5">Approved Jobs</h4>
                        
                        <div class="notification-area">
                           
                            <div class="notification-part" ng-repeat="job in data" ng-if="Ack==1">
                               
                                    <div class="noti-img">
                                        <img src="{{sidebar_image}}" alt="">
                                    </div>
                                    <h5 class="noti-info-text">
                                    Title:{{job.Lead.title}}<br>    
                                    Service name : <span>{{job.Category.project_name}}</span><br/>
                                    Address: {{job.Lead.address}}<br/>
                                    Project status:
                                    <span ng-if="job.Lead.status==0">Pending</span>
                                    <span ng-if="job.Lead.status==1">Ongoing</span>
                                    <span ng-if="job.Lead.status==4">Closed</span>
                                    <span ng-if="job.Lead.status==5">Approved</span>
                                    <br/>
                                    Posted On : <span>{{job.Lead.posttime}}</span>
                                    </h5>
                                <div class="pull-right btnParts">
                                    <a class="btn btn-primary" href="#/quotes/{{job.Lead.id}}" target="_blank" ng-if="job.Lead.status!=0">Quotes</a>
                                    &nbsp; &nbsp;<a  class="btn btn-danger" ng-click="remove(job.Lead.id)">Delete</a>
<!--                                &nbsp;&nbsp;<a ng-if="job.Providers.length>0" class="btn btn-success" href="#/appliedproviders/{{job.Lead.id}}" target="_blank">
                                    Matching pros({{job.Providers.length}})</a>-->
                                    	&nbsp; &nbsp;<a  class="btn btn-primary" href="#/jobdetails/{{job.Lead.id}}" target="_blank">Details</a>
                                        &nbsp;&nbsp;<a  class="btn btn-primary" href="javascript:void(0)" ng-click="payment(job.Lead.quote)" ng-if="!job.Lead.is_paid && job.Lead.status==4">Pay</a>
                                        &nbsp;&nbsp;<a  class="btn btn-primary" href="javascript:void(0)" ng-click="setcomplete(job.Lead.id)" ng-if="job.Lead.status==1">Set Complete</a>
                                        &nbsp;<img src="app/assets/images/ajax-loader.gif"  ng-show="loader==job.Lead.id">

                                        &nbsp;&nbsp;<a  class="btn btn-primary" href="javascript:void(0)" ng-click="showmodal(job.Lead.quote)" ng-if="job.Lead.is_paid==1 && !job.Lead.is_refund && job.Lead.is_refund.paystatus">Refund</a>
                                    </div>
                                
<!--                                <a ng-if="job.Providers.length==0" class="btn btn-success" href="#" target="_blank">
                                    Matching pros({{job.Providers.length}})</a>-->
                                
                            </div>
                            
                            <div class="notification-part" ng-if="Ack==0">
                                 <div class="norecordfound">
                                        <img src="app/assets/images/norecordfound.png" class="img-responsive">
                                </div>
                            </div>
                            
                             <div class="col-xs-12">
                <ul class="pagination" ng-show="jobList.length>=6">
                    <li>
                       <a ng-hide="offset == 0" ng-click="previous()">Previous</a>
                    </li>
                    <li  ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.perPage && 'active'" >
                        <a ng-click="$parent.offset = (i * $parent.perPage)">{{i+1}}</a>
                    </li>
                    
                    <li>
                        <a ng-hide="offset + perPage >= list.length" ng-click="next()">Next</a>
                    </li>
                </ul>
            </div> 
                            
                        </div>
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>


  
  <div class="modal fade" id="refundmodal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Refund Reason</h4>
        </div>
          <form method="post" ng-submit="refund();" name="refundform" novalidate="">
              <div class="modal-body" ng-class="{ 'has-error': refundform.$submitted && refundform.reason.$invalid   }">
                  <textarea placeholder="Please Type Here" name="reason" class="form-control" ng-model="refunddata.reason" required=""></textarea>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Refund</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </form>  
        
      </div>
      
    </div>
  </div>
 