<section class="dashboard-page" ng-init="mydeals()">
       
        
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
        <!--<nav class="navbar navbar-default navbar-static-top" role="navigation">-->
            <!--<div class="navbar-header">
                <button type="button" class="navbar-toggle dashboard-toggle" data-target=".navbar-collapse">
                    <span>Dashbord Menu</span> 
                </button>
            </div>-->
            <!-- /.navbar-header -->

            
            <!-- /.navbar-top-links -->

            <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
            <!-- /.navbar-static-side -->
       

        <!-- Page Content -->
        <div id="page-wrapper">
             <div class="proListing">
                 <div class="success-msg-area" ng-show="submissionSuccess">{{submissionSuccess}}</div>
             	<div class="table-responsive"  ng-if="Ack==1">
             		<table class="table table-striped">
					    <thead>
					      <tr>
                                                <th width="14%">Title</th>
					        <th width="14%">Image</th>
					        <th width="20%">Old Price</th>
					        <th width="20%">Deal Price</th>
					        <th width="30%">Avalability</th>
                                                <th>Action</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="detail in list" >
                                                   <td><p>{{detail.name}}</p></td>
					        <td>
					       <div class="imgPartPro"><img src="{{detail.image}}" class="img-responsive"></div>
					        </td>
					        <td><p style="text-decoration: line-through;">${{detail.old_price}}</p></td>
					        <td><p>${{detail.new_price}}</p></td>
					        <td><p>{{detail.start_date}} to {{detail.end_date}}</p></td>
                                                <td class="action-btn-deal">
                                    <a href="#/editdeal/{{detail.id}}" class="btn btn-success"><i class="ion-edit"></i></a>
                                    <a  class="btn btn-danger" ng-click="remove({{detail.id}})"><i class="ion-close"></i></a></td>
					      </tr>
					     
					    </tbody>
					  </table>
             	</div>
                 
                  <div class="notification-part" ng-if="Ack==0">
                                 <div class="norecordfound">
                                        <img src="app/assets/images/norecordfound.png" class="img-responsive">
                                </div>
                            </div>
                            
             </div>   
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>