 <section class="dashboard-page"  ng-init="favlist()">
       
          <div class="top-dash-heading">
              <div class="container">
                  <h1 class="pull-left"><i class="ion-android-settings"></i> My Favourites Provider</h1>
                  
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
        <!--<nav class="navbar navbar-default navbar-static-top" role="navigation">-->
            <!--<div class="navbar-header">
                <button type="button" class="navbar-toggle dashboard-toggle" data-target=".navbar-collapse">
                    <span>Dashbord Menu</span> 
                </button>
            </div>-->
            <!-- /.navbar-header -->

            
            <!-- /.navbar-top-links -->

            <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
            <!-- /.navbar-static-side -->
       

        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row" style="position:relative; min-height:250px;">
                        <h4 class="page-header">My Favourites Provider</h4>
                       
                        
                        <div class="notification-area">
                            
                           
                            <div class="notification-part" ng-repeat="favourite in favourites" ng-if="Ack==1" >
                                <div ng-click="go_profile(favourite.id)" style=" cursor: pointer">
                                    <div class="noti-img">
                                        <img src="{{favourite.image}}" alt="">
                                    </div>
                                    <h5 class="noti-info-text">
                                    Name:<span>{{favourite.name}}</span><br/>    
                                    Service Location : <span>{{favourite.service_location!=''?favourite.service_location:"N/A"}}</span><br/>
                                   
                                    Address: {{favourite.address!=''?favourite.address:'N/A'}}<br/>
                                    
                                    <br/>
                                    </h5>
                                </div>   
                                <div class="pull-right btnParts">
                                    <a  class="btn btn-danger" ng-click="remove(favourite.fav_id)">Unfavourite</a>
                                
                            </div>
                            
                            
                            
                        </div>
                        <div class="notification-part" ng-if="Ack==0">
                                 <div class="norecordfound">
                                        <img src="app/assets/images/norecordfound.png" class="img-responsive">
                                </div>
                            </div>    
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>