<section class="dashboard-page">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Notification</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle dashboard-toggle" data-target=".navbar-collapse">
                    <span>Dashbord Menu</span> 
                </button>
            </div>
            <!-- /.navbar-header -->

            
            <!-- /.navbar-top-links -->

            <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
            <!-- /.navbar-static-side -->
       

        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                        <h4 class="page-header">Notification</h4>
                        <div class="notification-area">
                            <div class="notification-part" ng-if="Ack==1" ng-repeat="noti in notificationArr">
                                <a href="#">
                                    <div class="noti-img">
                                        <img src="{{noti.userimage}}" alt=""><b>{{noti.username}}</b>
                                    </div>
                                    <h5>{{noti.msg}} - <span>{{noti.msgContent}} </span> , {{noti.posttime}}</h5>
                                </a>
                            </div>
                            
                            <div class="notification-part" ng-if="Ack==0">
                              <div class="norecordfound">
                                        <img src="app/assets/images/norecordfound.png" class="img-responsive">
                                </div>  
                            </div>
                            
                        </div>
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>