<section class="dashboard" ng-init="details();">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
                                <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
				</div>
				<div class="col-md-8">
					<div class="settingrightpage">
						<h1 class="SettingsPage-mainHeader">Notifications</h1>
						<h4 class="business_subheader">Business Related Settings</h4>
						<h2 class="serviceHeading m-b-30 m-t-20">Emails about job requests</h2>
						<div class="settingPageList">
							<div class="SettingsPage-list-item">
								<span class="listItemText bottomText">New customer requests</span>
								<div>
									<span class="listItemArrow">
										<div class="checkbox switcher">
									      <label for="test2">
                                                                                  <input type="checkbox" id="test2" ng-model="response.email.new_customer" ng-true-value="1" ng-change="savesettings();"   >
									        <span><small></small></span>
									      </label>
									    </div>
									</span>
								</div>
							</div>
							<div class="SettingsPage-list-item">
								<span class="listItemText bottomText">Request reminders</span>
								<div>
									<span class="listItemArrow">
										<div class="checkbox switcher">
									      <label for="test3">
									        <input type="checkbox" id="test3" ng-model="response.email.request_reminder" ng-true-value="1" ng-change="savesettings();" >
									        <span><small></small></span>
									      </label>
									    </div>
									</span>
								</div>
							</div>
							<div class="SettingsPage-list-item">
								<span class="listItemText bottomText">New customer activity (messages or hires)</span>
								<div>
									<span class="listItemArrow">
										<div class="checkbox switcher">
									      <label for="test4">
									        <input type="checkbox" id="test4" ng-model="response.email.customer_activity" ng-true-value="1" ng-change="savesettings();">
									        <span><small></small></span>
									      </label>
									    </div>
									</span>
								</div>
							</div>
							<div class="SettingsPage-list-item">
								<span class="listItemText bottomText">Customer viewed quote</span>
								<div>
									<span class="listItemArrow">
										<div class="checkbox switcher">
									      <label for="test5">
									        <input type="checkbox" id="test5" ng-model="response.email.viewed_quote" ng-true-value="1" ng-change="savesettings();" >
									        <span><small></small></span>
									      </label>
									    </div>
									</span>
								</div>
							</div>
							<div class="SettingsPage-list-item">
								<span class="listItemText bottomText">Other quote activity</span>
								<div>
									<span class="listItemArrow">
										<div class="checkbox switcher">
									      <label for="test6">
									        <input type="checkbox" id="test6" ng-model="response.email.quote_activity" ng-true-value="1" ng-change="savesettings();" >
									        <span><small></small></span>
									      </label>
									    </div>
									</span>
								</div>
							</div>
							<div class="SettingsPage-list-item">
								<span class="listItemText bottomText">ProAssist setup reminder email</span>
								<div>
									<span class="listItemArrow">
										<div class="checkbox switcher">
									      <label for="test7">
									        <input type="checkbox" id="test7" ng-model="response.email.reminder_email" ng-true-value="1" ng-change="savesettings();" >
									        <span><small></small></span>
									      </label>
									    </div>
									</span>
								</div>
							</div>
							<div class="SettingsPage-list-item">
								<span class="listItemText bottomText">Quote follow up</span>
								<div>
									<span class="listItemArrow">
										<div class="checkbox switcher">
									      <label for="test8">
									        <input type="checkbox" id="test8" ng-model="response.email.quote_followup" ng-true-value="1" ng-change="savesettings();" >
									        <span><small></small></span>
									      </label>
									    </div>
									</span>
								</div>
							</div>
						</div>
						<h2 class="serviceHeading m-b-30 m-t-20">Text messages about job requests</h2>
						<div class="settingPageList">
							<div class="SettingsPage-list-item">
								<span class="listItemText bottomText">New customer requests</span>
								<div>
									<span class="listItemArrow">
										<div class="checkbox switcher">
									      <label for="test9">
									        <input type="checkbox" id="test9" ng-model="response.sms.new_customer" ng-true-value="1" ng-change="savesettings();">
									        <span><small></small></span>
									      </label>
									    </div>
									</span>
								</div>
							</div>
							<div class="SettingsPage-list-item">
								<span class="listItemText bottomText">New customer activity (messages or hires)</span>
								<div>
									<span class="listItemArrow">
										<div class="checkbox switcher">
									      <label for="test10">
									        <input type="checkbox" id="test10"ng-model="response.sms.customer_activity" ng-true-value="1" ng-change="savesettings();">
									        <span><small></small></span>
									      </label>
									    </div>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	