	<!--    dashboard   page   -->
        <section class="dashboard-page" ng-init="listing();">
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                	<div class="col-md-12 col-lg-12 col-sm-12">
                        <h1 class="up-heading">Upload Your Portfolio</h1>
                        <p class="gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                		<div class="uploadImage">
                				<div class="upload-btn-wrapper">
                                                <button class="btn" ngf-select ngf-accept="'image/*'" ngf-change="saveportfolio($file)"><i class="ion-plus-circled"></i>Upload a file</button>
                                              </div>
                		</div>
                        <!--<div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-6 col-port-folio">
                                <img src="http://104.131.83.218/serviceprof/api/category_images/bigimage/smallbanner.jpg" alt="pic">
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-6 col-port-folio">
                                <img src="http://104.131.83.218/serviceprof/api/category_images/bigimage/smallbanner.jpg" alt="pic">
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-6 col-port-folio">
                                <img src="http://104.131.83.218/serviceprof/api/category_images/bigimage/smallbanner.jpg" alt="pic">
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-6 col-port-folio">
                                <img src="http://104.131.83.218/serviceprof/api/category_images/bigimage/smallbanner.jpg" alt="pic">
                            </div>
                        </div>-->
                	</div>
                </div>
                <div class="row">
                	<div class="col-md-3 col-lg-3 col-sm-12" ng-repeat="portdata in response">
                		<div class="imageUploadPart">
                			<img src="{{portdata.image}}" class="img-responsive">
                			<div class="cross"><a href="javascript:void(0)" ng-click="deleteimg(portdata.id)">&#10005</a></div>
                		</div>
                	</div>
                	
                	
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>
	
	

	
	