<section class="photosList">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="headerLeft">
						<div class="headerPhoto" style="background-image: url({{detail.response.Provider.image}})"></div>
						<div class="headerDetail">
							<h1>{{detail.response.Provider.name}}</h1>
							<p class="Header-detail-location">{{detail.response.Provider.address}}</p>
							<div class="starRatings">
								<p class="starrating" ng-if="detail.response.Provider.avg_score==1">
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
                                                                                <i class="fa fa-star-o"></i>
                                                                                <i class="fa fa-star-o"></i>
                                                                                <i class="fa fa-star-o"></i>
									</p>
                                                                    <p class="starrating" ng-if="detail.response.Provider.avg_score==2">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
                                                                                <i class="fa fa-star-o"></i>
                                                                                <i class="fa fa-star-o"></i>
                                                                                <i class="fa fa-star-o"></i>
									</p>
                                                                    <p class="starrating" ng-if="detail.response.Provider.avg_score==3">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
                                                                                <i class="fa fa-star"></i>
                                                                                <i class="fa fa-star-o"></i>
                                                                                <i class="fa fa-star-o"></i>
									</p>
                                                                    <p class="starrating" ng-if="detail.response.Provider.avg_score==4">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
                                                                                <i class="fa fa-star"></i>
                                                                                <i class="fa fa-star"></i>
                                                                                <i class="fa fa-star-o"></i>
									</p>
                                                                    <p class="starrating" ng-if="detail.response.Provider.avg_score==5">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
                                                                               <i class="fa fa-star"></i>
                                                                                <i class="fa fa-star"></i>
                                                                                <i class="fa fa-star"></i>
									</p>
							<p class="reviews">{{detail.response.Provider.reviews.length}} reviews</p>
								<a href="#" target="_blank">
									<img src="https://static3.thumbtackstatic.com/media/top-pros/badge_64x20.svg">
								</a>
                                                        <a class="btn btn-info" ng-click="openReviewPopup()" ng-if="user_id != profile_id">Add Review</a>
							</div>
						</div>	
						
					</div>
				</div>
<!--				<div class="col-md-4 col-sm-4 col-lg-4">
					<div class="Header-cta">
						<p>Get up to five quotes from pros like Glamorous Drinks within hours.</p>
						<button type="button" class="btn btn-primary btn-block">Get Quotes</button>
					</div>
				</div>-->
			</div>
<!--			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12">
					<div class="servicePageNavigation">
						<div class="navigationBasicHorizontal">
							<ul>
								<li><a href="#">Photos (19)</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Reviews (48)</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>-->
		</div>
	</section>
	<section class="media-viewer" ng-if="portfolio.length>0">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12">
					<ul class="MediaViewer-thumbnailList">
						<li class="MediaViewer-thumbnail" ng-repeat="portdata in portfolio">
							<div class="MediaViewer-thumbnailWrapper">
								<img alt="" title="" src="{{portdata.image}}" style="width: 210px; height: 210px;">
							</div>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</section>

<section class="About ServicePage-sectionEnd">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="headingservicepage">
					<h2 class="ServicePage-sectionHeader"> About this pro</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<div class="abtResponseTitle">
					<h4>How does your service stand out?</h4>
                                        <p>{{detail.response.Provider.service_standout}}</p>
				<div class="abtResponseTitle">
					<h4>What do you enjoy about the work you do?</h4>
					<p>{{detail.response.Provider.enjoy}}</p>
				</div>
                                </div>
			</div>
			<div class="col-md-6 col-lg-6">
				<div class="abtpanel">
					<div class="abtdetail">
						<div class="mapmaker"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
						<div class="mapDetail"><h4>Location</h4>
                                                <p>{{detail.response.Provider.address}}</p></div>
					</div>
<!--					<div class="abtdetail">
						<div class="row">
							<div class="col-md-6">
								<div class="mapmaker"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
						<div class="mapDetail"><h4>Years in business</h4>
												<p>3</p></div>
							</div>
							<div class="col-md-6">
								<div class="mapmaker"><i class="icon ion-android-people"></i></div>
						<div class="mapDetail"><h4>Number of employees</h4>
												<p>3</p></div>
							</div>
						</div>
					</div>-->
					<div class="abtdetail">
						<div class="mapmaker"><i class="fa fa-trophy" aria-hidden="true"></i></div>
						<div class="mapDetail"><h4>Times hired on Thumbtack</h4>
                                                <p>{{detail.response.Provider.hired}}</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="reviews">
   
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="reviews-header">
					<h2 class="reviews-header-title">Reviews</h2>
					<div class="Reviews-header-rating">
<!--					<span class="starrating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</span>-->
					<span class="reviewCount">{{detail.response.Provider.reviews.length}} Reviews</span>
				</div>
				</div>
				<div class="reviewListPart">
					<ul class="Reviews-list">
                                            
						<li class="review" ng-repeat="rating in detail.response.Provider.reviews">
							<div class="review-info">
								<span class="review-info-name">{{rating.review_from_name}}</span>
								<span class="review-info-date">{{rating.ratting_date}}</span>
<!--								<div class="review-info-category">{{rating.avg_score}}</div>-->
								<div class="review-rating">
									<span class="starrating" ng-if="rating.avg_score==1">
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
                                                                                <i class="fa fa-star-o"></i>
                                                                                <i class="fa fa-star-o"></i>
                                                                                <i class="fa fa-star-o"></i>
									</span>
                                                                    <span class="starrating" ng-if="rating.avg_score==2">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
                                                                                <i class="fa fa-star-o"></i>
                                                                                <i class="fa fa-star-o"></i>
                                                                                <i class="fa fa-star-o"></i>
									</span>
                                                                    <span class="starrating" ng-if="rating.avg_score==3">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
                                                                                <i class="fa fa-star"></i>
                                                                                <i class="fa fa-star-o"></i>
                                                                                <i class="fa fa-star-o"></i>
									</span>
                                                                    <span class="starrating" ng-if="rating.avg_score==4">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
                                                                                <i class="fa fa-star"></i>
                                                                                <i class="fa fa-star"></i>
                                                                                <i class="fa fa-star-o"></i>
									</span>
                                                                    <span class="starrating" ng-if="rating.avg_score==5">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
                                                                               <i class="fa fa-star"></i>
                                                                                <i class="fa fa-star"></i>
                                                                                <i class="fa fa-star"></i>
									</span>
<!--									<span class="review-rating-verified">Verified Review</span>-->
								</div>
								<div class="review-content">{{rating.comment}}</div>
							</div>
						</li>
						
					</ul>
				</div>
<!--				<div class="showMore text-center"><a href="#">Show More</a></div>-->
			</div>
		</div>
	</div>
</section>

<div class="modal fade" id="profileReviewModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Review</label>
            <textarea class="form-control" id="message-text" ng-model="review.content"></textarea>
          </div>          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveReview()">Submit</button>
      </div>
    </div>
  </div>
</div>