<div  ng-init="intitprojects()">
<section class="projectsHeading">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="projectsHeadline">
                                            <h2 ng-if="searchval==''"><i class="icon ion-chevron-left"></i>All Projects</h2>
                                            <h2 ng-if="searchval != ''">Search Results of :{{searchval}}</h2>
					</div>
				</div>
<!--				<div class="col-md-8 col-sm-6">
					<div class="projectsRightPart">
						<p>Senior Electrician <span><a href="#">- 9 Unread</a></span></p>
					</div>
				</div>-->
			</div>
		</div>
	</section>
<section class="grey-wrapper">
		<div class="container" style="position:relative; min-height:250px;">
                    <div class="loader" style="position:absolute; top:45%; left:45%;"></div>
			<div class="row" >
				<div class="col-md-4 col-sm-6" ng-repeat="detail in data">
					<div class="border-box project-box">
						<div class="media">
							<div class="media-left">
								<img src="{{detail.userimage}}" class="round-image">
								<div class="curvePart">{{detail.username}}</div>
							</div>
							<div class="media-body">
<!--								<h4>{{detail.project_name}}</h4>-->
								<h4>{{detail.title}}</h4>

                                                                <p>{{detail.address}}</p>
<!--								<p>Rating:<span class="ratingPart"><i class="icon ion-android-star"></i>
									  <i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i></span></p>
								<p class="review">16 Review <span class="seperator">|</span> Responds in 10m</p>
								<div class="price">$734</div>-->
                                    <p class="review">Posted On {{detail.posttime}}</p>
							</div>
						</div>
						<div class="project-body">
							<p>{{detail.description}}</p>
<!--                                                        <p>{{detail.description | limitTo : 200 : 0}}...</p>-->
							<h5 class="text-center">
                                                       
                                                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="sendQuote(detail)">Send a Quote</a></h5>
                                                        
						</div>
					</div>
				</div>
                                  <div class="col-md-4 col-sm-6" ng-if="Ack==0">
                                <div class="norecordfound">
                                        <img src="app/assets/images/norecordfound.png" class="img-responsive">
                                </div>
                            </div>
                             <div class="col-xs-12">
                <ul class="pagination" ng-show="list.length>=6">
                    <li>
                       <a ng-hide="offset == 0" ng-click="previous()">Previous</a>
                    </li>
                    <li  ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.perPage && 'active'" >
                        <a ng-click="$parent.offset = (i * $parent.perPage)">{{i+1}}</a>
                    </li>
                    
                    <li>
                        <a ng-hide="offset + perPage >= list.length" ng-click="next()">Next</a>
                    </li>
                </ul>
            </div> 
			</div>
		</div>
	</section>    
</div>
