<div ng-init="viewprovider();">
<section class="profile-top-section" style="background: url('{{response.coverimage}}') no-repeat;">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-3">
				<div class="dash-round-pic">
					<img src="{{response.image}}" alt="">
					<a href="javascript:void(0)" ngf-select ngf-accept="'image/*'" ngf-max-size="1MB"  ngf-change="profileimage($file)"  ><i class="fa fa-edit"></i></a>
				</div>
			</div>
			
			<div class="col-md-10 col-sm-9">
				<div class="all-info">
                                    <h2><span ng-show="!editname">{{response.name}}</span> 
                                        <span ng-show="editname">
                                            <input type="text" ng-model="response.name" class="editname" ng-blur="saveprofile(response.name);">
                                        </span>
                                        
                                        
                                        <span class="edit-icon"><a href="javascript:void(0)" ng-click="editname=!editname"><i class="fa fa-edit"></i></a></span></h2>
					<p>({{response.main_service}})</p>
					<p>{{response.address}}</p>
					<div class="edit-btn">
						<a href="javascript:void(0)" ngf-select ngf-accept="'image/*'"  ngf-change="coverimage($file)"  class="btn btn-primary btn-block"><i class="fa fa-edit"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="grey-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="aboutleft whiteCart">
					<!--<div class="abouthd">
						<div class="stargrp">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
						</div>
						<button class="btn btn-default btn-block requestBtn">request Reviews</button>
					</div>-->
					<div class="aboutleftSiteList">
						<div class="errIcon">
							<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
						</div>
						<ul>
							<li class="active"><i class="fa fa-home" aria-hidden="true"></i> 
                                                            <span ng-if="!editbusiness">Years in business is {{!response.business_name?'unknown':response.business_name}}</span> 
                                                            <span ng-if="editbusiness"><input type="text" placeholder="Enter Business Name" ng-model="response.business_name" ng-blur="saveprofile(response.business_name)"></span> 
                                                            <!--<a href="javascript:void(0)" ng-click="editbusiness=1" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>--></li>
<!--							<li><i class="fa fa-home" aria-hidden="true"></i> <span>Years in business is unknown</span></li>
							<li><i class="fa fa-home" aria-hidden="true"></i> <span>Years in business is unknown</span></li>
							<li><i class="fa fa-home" aria-hidden="true"></i> <span>Years in business is unknown</span></li>
							<li><i class="fa fa-home" aria-hidden="true"></i> <span>Years in business is unknown</span></li>
							<li><i class="fa fa-home" aria-hidden="true"></i> <span>Years in business is unknown</span></li>-->
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="about whiteCart">
					<div class="abouthd">
                                            <h4>About <a href="javascript:void(0)" class="edtBtn" ng-click="editabout=1"><!--<i class="fa fa-pencil" aria-hidden="true"></i>--></a></h4>
						<p ng-if="!editabout">{{response.about_me | limitTo :90}}</p>
                                                <p ng-if="editabout"><textarea ng-model="response.about_me" ng-blur="saveprofile(response.about_me);"  style=" width:532px;height:68px;"></textarea></p>
						<!--<a href="#">Permalink</a>-->
					</div>
					<div class="srvcPart">
						<div class="srvcItem">
							<h5>Services Offered<!--<a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>--></h5>
							<ul>
                                                            <li ng-repeat="serv in response.provide_service | limitTo : 4">{{serv.name }}</li>
                                                            <li ng-repeat="serv in response.provide_service | limitTo : response.remain_service : 4" ng-if="showall">{{serv.name}}</li>
								
							</ul>
                                                        <a href="javascript:void(0)" ng-click="showall=1" ng-show="!showall">Show More</a>
                                                        <a href="javascript:void(0)" ng-click="showall=0" ng-show="showall">Show Less</a>
						</div>
						<div class="srvcItem">
							<h5>Licensing 
                                                        <!--<a href="javascript:void(0)" ngf-select ngf-change="uploadlisence($file)"  ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="1MB"><i class="fa fa-pencil" aria-hidden="true"></i></a>-->
                                                        </h5>
							<!--<a href="javascript:void(0)" ngf-select ngf-change="uploadlisence1($file)"  ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="1MB"><i class="fa fa-plus" aria-hidden="true"></i> <span style="color: #3d454d">Add a license</span></a>-->
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="whiteCart">
                                    <h2>Professional information <!--<a href="javascript:void(0)" class="edtBtn" ng-click="editcontact=1"><i class="fa fa-pencil" aria-hidden="true"></i></a>--></h2>
					<div class="profInfo" ng-if="!editcontact">
						<div class="prof_item"> Phone Number </div>
						<div class="prof_item"> 
                                                    <a href="javascript:void(0)" ng-show="!showphone" ng-click="showphone=1">Click to view</a> 
                                                    <a href="javascript:void(0)" ng-show="showphone">{{response.mobile_no}}</a>
                                                
                                                </div>
						<div class="prof_item"> Address: </div>
						<div class="prof_item"> {{response.address}} </div>
					</div>
                                        <div class="profInfo" ng-if="editcontact">
						<div class="prof_item"> Phone Number </div>
						<div class="prof_item"> 
                                                    <input type="text"  ng-model="response.mobile_no" ng-blur="saveprofile(response.mobile_no);" only-digits>
                                                
                                                </div>
						<div class="prof_item"> Address: </div>
                                                <div class="prof_item">
                                                    <textarea ng-model="response.address" ng-blur="saveprofile(response.address);" style="width:196px; height:83px;"></textarea>
                                                        
                                                </div>
					</div>
                                        
                                        
				</div>
				<div class="whiteCart">
					<div class="editMode">
						<p>You are in: Edit Mode</p>
						<p>Click the pencil icon next to the section you want to edit</p>
						<!--<a href="#" class="btn btn-default btn-block"><i class="fa fa-refresh" aria-hidden="true"></i> Switch to homeowner view</a>-->
					</div>
				</div>
			</div>
		</div>
		<div class="about_map">
			<h4>Service Area</h4>
<!--			<div style="height: 200px; background: #3077be; ">Map</div>-->
                          <ng-map center="{{response.service_lat}},{{response.service_lang}}" zoom="10">
                          <marker position="[{{response.service_lat}}, {{response.service_lang}}]" title="{{response.service_location}}"></marker>    
</ng-map>    

		</div>
	</div>
</section>
</div>    
			

<style>
    .editname
    {
        border:0;
        background:transparent;
        width:30%;
    }
</style>    