
	<!--    dashboard   page   -->
      
      <section class="dashboard-page">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Account Settings</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle dashboard-toggle" data-target=".navbar-collapse">
                    <span>Dashbord Menu</span> 
                </button>
            </div>
            <!-- /.navbar-header -->

            
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="myaccount-page.html"><i class="ion-ios-person"></i> User Information<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="dashboard-account-page.html">Sub 1</a>
                                </li>
                                <li>
                                    <a href="#morris.html">Sub 2</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cog"></i> Trades & Services</a>
                        </li>
                        <li>
                            <a href="#"><i class="ion-android-notifications"></i> Notification</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                    <h4 class="page-header">User Information</h4>
                    <form class="form-area-question">
                      <div class="form-group">
                          <label>Add Profile Picture:</label>
                          <div class="photo-upload">
                              <div class="upload-pic">
                                  <img src="images/avtar-pic.jpg" alt="">
                              </div>
                              <div class="fileUpload btn">
                                    <span>+ upload a picture</span>
                                    <input type="file" class="upload">
                                </div>
                          </div>
                      </div>
                        <div class="form-group">
                          <label>Name:</label>
                          <input type="text">
                        </div>
                        <div class="form-group col-qus-ans">
                          <label>Lorem Ipsum</label>
                          <p>
                            <input type="checkbox">
                            <label>galley of type</label>
                          </p>
                            <p>
                            <input type="checkbox">
                            <label>scrambled it to make</label>
                          </p>
                        </div>
                        <div class="form-group col-qus-ans">
                          <label>Lorem Ipsum</label>
                          <p>
                            <input type="radio">
                            <label>galley of type</label>
                          </p>
                            <p>
                            <input type="radio">
                            <label>scrambled it to make</label>
                          </p>
                        </div>
                      <div class="form-group form-select-group">
                          <label>Gender:</label>
                          <select>
                              <option value="female">Female</option>
                          </select>
                      </div>
                      <div class="form-group form-select-group">
                          <label>Date of birth:</label>
                          <select>
                              <option value="year">year</option>
                          </select>
                          <select>
                              <option value="month">month</option>
                          </select>
                          <select>
                              <option value="date">date</option>
                          </select>
                      </div>
                        <div class="form-group">
                          <label>Comment:</label>
                            <textarea rows="3"></textarea>
                        </div>
                        <div class="form-group col-qus-ans">
                          <p>
                            <input type="checkbox">
                            <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry</label>
                          </p>
                        </div>
                        <div class="col-xs-12 form-group form-submit">
                            <button class="btn">Save</button>
                        </div>
                     
              </form>
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
        </section>
	