<section class="dashboard-page">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Account Settings</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
     <!--       <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
<nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                    <h4 class="page-header">Submit and Get Matched to Pre-screened Addition Contractors</h4>
                        
                    <div class="question-area">
                        <div class="col-xs-12 col-qus-ans">
                            <div class="ques-title">
                                <h4 class="form-line">What best describes this project? </h4>
                                <div class="ans-part">
                                        <div>
                                            <input type="radio"><label> Design and build</label>
                                        </div>
                                        <div>
                                            <input type="radio"><label>Build - Use existing architectural drawings</label>
                                        </div>
                                        <div>
                                            <input type="radio"><label>Design - Create architectural drawingss</label>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-qus-ans">
                            <div class="ques-title">
                                <h4 class="form-line">Select the rooms included in this project:</h4>
                                <div class="ans-part ans-part-sm">
                                    <p>
                                        <input type="checkbox">
                                        <label for="check1">Bathroom</label>
                                    </p>
                                    <p>
                                        <input type="checkbox">
                                        <label for="check2">Bathroom</label>
                                    </p>
                                    <p>
                                        <input type="checkbox">
                                        <label>Bathroom</label>
                                    </p>
                                    <p>
                                        <input type="checkbox">
                                        <label for="check1">Bathroom</label>
                                    </p>
                                    <p>
                                        <input type="checkbox">
                                        <label for="check2">Bathroom</label>
                                    </p>
                                    <p>
                                        <input type="checkbox">
                                        <label>Bathroom</label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-qus-ans">
                            <div class="ques-title">
                                <h4 class="form-line">What is Lorem Ipsum?</h4>
                                <div class="ans-part">
                                    <p>
                                        <input type="checkbox">
                                        <label for="check1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</label>
                                    </p>
                                    <p>
                                        <input type="checkbox">
                                        <label for="check2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</label>
                                    </p>
                                    <p>
                                        <input type="checkbox">
                                        <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-qus-ans">
                            <div class="ques-title">
                                <h4 class="form-line">What is Lorem Ipsum?</h4>
                                <div class="ans-part">
                                    <select>
                                        <option>Lorem Ipsum is simply dummy text of the printing</option>
                                        <option>Lorem Ipsum is simply dummy text of the printing</option>
                                        <option>Lorem Ipsum is simply dummy text of the printing</option>
                                        <option>Lorem Ipsum is simply dummy text of the printing</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 form-submit">
                            <button class="btn">Click Here to Continue</button>
                        </div>
                    </div>  
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>