
	<!--    dashboard   page   -->
      
      <section class="dashboard-page">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Account Settings</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle dashboard-toggle" data-target=".navbar-collapse">
                    <span>Dashbord Menu</span> 
                </button>
            </div>
            <!-- /.navbar-header -->

            
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="myaccount-page.html"><i class="ion-ios-person"></i> User Information<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="dashboard-account-page.html">Sub 1</a>
                                </li>
                                <li>
                                    <a href="#morris.html">Sub 2</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cog"></i> Trades & Services</a>
                        </li>
                        <li>
                            <a href="#"><i class="ion-android-notifications"></i> Notification</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                    <div class="success-msg">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
                    </div>
                    <div style="suggested-list">
                        <div class="suggested-list-area">
                            <div class="noti-img">
                                <img src="images/testimonialImage.jpg" alt="">
                            </div>
                            <h3>Rosy Wilson</h3>
                            <p>Lorem Ipsum is simply dummy text</p>
                            <a href="#" class="btn view-p-btn">View Profile</a>
                        </div>
                        <div class="suggested-list-area">
                            <div class="noti-img">
                                <img src="images/testimonialImage.jpg" alt="">
                            </div>
                            <h3>Rosy Wilson</h3>
                            <p>Lorem Ipsum is simply dummy text</p>
                            <a href="#" class="btn view-p-btn">View Profile</a>
                        </div>
                        <div class="suggested-list-area">
                            <div class="noti-img">
                                <img src="images/testimonialImage.jpg" alt="">
                            </div>
                            <h3>Rosy Wilson</h3>
                            <p>Lorem Ipsum is simply dummy text</p>
                            <a href="#" class="btn view-p-btn">View Profile</a>
                        </div>
                        <div class="suggested-list-area">
                            <div class="noti-img">
                                <img src="images/testimonialImage.jpg" alt="">
                            </div>
                            <h3>Rosy Wilson</h3>
                            <p>Lorem Ipsum is simply dummy text</p>
                            <a href="#" class="btn view-p-btn">View Profile</a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
        </section>
	
