   <section class="request-page" ng-init="quotelist()">
            <div class="container">
<!--                <div class="request-top-area">
                    <div class="rqs-hide-btn"><i class="fa fa-minus"></i></div>
                    <h3>Service Professional Pro Assist!</h3>
                    <h5>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuri.es, but also the leap into electronic typesetting, remaining essentially unchanged.</h5>
                    <div class="rq-tp-btn">
                        <a href="#" class="btn btn-learn">Learn More</a>
                        <a href="#" class="btn btn-try">Try Now!</a>
                    </div>
                </div>-->
                <div class="request-part">
<!--                    <div class="rqt-hd-prt">
                        <h3>Requests</h3>
                        <form class="rqst-filter">
                            <select>
                                <option>Most Relevant</option>
                            </select>
                        </form>
                    </div>-->
                    <div class="col-xs-12 col-rqst">
                       <div class="loader" style="position:absolute; top:45%; left:45%;"></div> 
                        <div class="rquest-box" ng-repeat="detail in data" ng-if="Ack==1">
                             <div class="pic-area">
                                <div class="rqst-pic">
                                    <a href="#/prodetail/{{detail.userid}}" target="_blank"><img src="{{detail.userimage}}" alt=""></a>
                                    
                                    <span class="active-show" ng-if="detail.is_hired==1"><i class="ion-checkmark"></i></span>
                                </div>
                            </div>
                           
                            <div class="rqst-content">
                                
<!--                                <h4 ng-if="detail.is_hired==1"><a class="btn btn-info" href="#/assignedprodetail/{{detail.userid}}/{{detail.lead_id}}" target="_blank">{{detail.username}}</a></h4>-->
<h4>
    <a href="#/prodetail/{{detail.userid}}" target="_blank">{{detail.username}}</a> 
    <a href="javascript:void(0)" ng-click="addfav(detail.userid)"><img src="app/assets/images/fav.png"></a>
</h4>

                                <p class="gray tm-rq"><i class="fa  fa-circle"></i>Last online {{detail.last_login}}</p>
                                <p class="star">
<!--                                 <jk-rating-stars rating="detail.rateing" read-only="readOnly" ></jk-rating-stars>-->

                                    <ng-rating ng-model="detail.rateing"
                                               icon-class="starico"
                                               ></ng-rating>

                                    <a href="#"><span class="gray">{{detail.total_review}} review</span></a>
                                    
                                    <a class="btn btn-info" href="#/addreview/{{detail.userid}}/{{detail.lead_id}}" target="_blank" ng-if="detail.is_hired==1">Review</a>
                                </p>
                                <div class="rqs-3-area">
                                    <ul>
                                        <li><p class="text-bold">{{detail.hired}}</p>
                                            <p>Times hired</p>
                                        </li>
                                        
                                        <li><p class="text-bold">10 min</p>
                                            <p>Response time</p>
                                        </li>
                                    </ul>
                                </div>
                                <p>{{detail.comment}}</p>
                            </div>
                            <div class="rqst-right-part">
                                <p class="price-text" ng-if="detail.price>0">R {{detail.price}}</p>
                                <p>{{detail.posttime}}</p>
<!--                                <a href="#" class="rqs-pass">Pass</a>-->
                                <div class="clear-fix"></div>
                                <a ng-if="detail.is_hired==0" class="btn btn-info" ng-click="showmodal({{detail.lead_id}},{{detail.userid}})">Hire</a>
                                <a  class="btn btn-info" ui-sref="frontend.chats({quote_id:{{detail.id}}})">Message</a>
                                
                                 

                            </div>
                        </div>
                        
                        <div class="rquest-box" ng-if="Ack==0">
                            <div class="norecordfound">
                                        <img src="app/assets/images/norecordfound.png" class="img-responsive">
                                </div>
                        </div>
                       
                        <div class="col-xs-12">
                <ul class="pagination" ng-show="list.length>=6">
                    <li>
                       <a ng-hide="offset == 0" ng-click="previous()">Previous</a>
                    </li>
                    <li  ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.perPage && 'active'" >
                        <a ng-click="$parent.offset = (i * $parent.perPage)">{{i+1}}</a>
                    </li>
                    
                    <li>
                        <a ng-hide="offset + perPage >= list.length" ng-click="next()">Next</a>
                    </li>
                </ul>
            </div> 
                       
                    </div>
                </div>
            </div>
        </section>

 <div class="modal fade" id="hireModel" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Hire</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure to hire?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="hireProvider(lead_id,userid)">OK</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
