<!--<div class="bg-gray">
    <div class="container">
        <ul  class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Private</a></li>
            <li><a href="#">Pictures</a></li>
            <li class="active">Vacation</li>        
        </ul>
    </div>
</div>   -->
<section class="request-page" ng-init="quotesendlist()">
            <div class="container" style="position:relative; min-height:250px;">
                <div class="loader" style="position:absolute; top:45%; left:45%;"></div>   
<!--                <div class="request-top-area">
                    <div class="rqs-hide-btn"><i class="fa fa-minus"></i></div>
                    <h3>Service Professional Pro Assist!</h3>
                    <h5>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuri.es, but also the leap into electronic typesetting, remaining essentially unchanged.</h5>
                    <div class="rq-tp-btn">
                        <a href="#" class="btn btn-learn">Learn More</a>
                        <a href="#" class="btn btn-try">Try Now!</a>
                    </div>
                </div>-->
                <div class="request-part">
<!--                    <div class="rqt-hd-prt">
                        <h3>Requests</h3>
                        <form class="rqst-filter">
                            <select>
                                <option>Most Relevant</option>
                            </select>
                        </form>
                    </div>-->
                    <div class="col-xs-12 col-rqst">
                     
                        <div class="rquest-box" ng-repeat="detail in data" ng-if="Ack==1">
                             <div class="pic-area">
                                <div class="rqst-pic">
                                    <a href='#/prodetail/{{detail.userid}}' target="_blank"><img src="{{detail.userimage}}" alt=""></a>
                                    
                                </div>
                            </div>
                           
                            <div class="rqst-content">
                                
<!--                                <h4 ng-if="detail.is_hired==1"><a class="btn btn-info" href="#/assignedprodetail/{{detail.userid}}/{{detail.lead_id}}" target="_blank">{{detail.username}}</a></h4>-->
<h4><a href='#/prodetail/{{detail.userid}}' target="_blank">{{detail.username}}</a></h4>
                                 <p class="price-text">{{detail.category}}</p>
                                  <p class="gray">{{detail.address}}</p>
<!--                                <p class="gray tm-rq"><i class="fa  fa-circle"></i>Last online 54m ago</p>
                                <p class="star">
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star-half"></i>
                                    <i class="ion-android-star-outline"></i>
                                    <a href="#"><span class="gray">20 review</span></a>
                                    
                                    <a class="btn btn-info" href="#/addreview/{{detail.userid}}/{{detail.lead_id}}" target="_blank" ng-if="detail.is_hired==1">Leave a review</a>
                                </p>
                                <div class="rqs-3-area">
                                    <ul>
                                        <li><p class="text-bold">35</p>
                                            <p>Times hired</p>
                                        </li>
                                        
                                        <li><p class="text-bold">10 min</p>
                                            <p>Response time</p>
                                        </li>
                                    </ul>
                                </div>-->
                                <p>{{detail.comment}}</p>
                            </div>
                            <div class="rqst-right-part">
                                <p class="price-text" ng-if="detail.price>0">${{detail.price}}</p>
                                <p>{{detail.posttime}}</p>
<!--                                <a href="#" class="rqs-pass">Pass</a>-->
                                <div class="clear-fix"></div>
                                <p ng-if="detail.is_hired==1" class="hired-check"><i class="ion-checkmark-round"></i>Hired</p>
                                
                                <a  class="btn btn-info" ui-sref="frontend.chats({quote_id:{{detail.id}}})">Message</a>
                                
                                <a href="#/jobdetails/{{detail.lead_id}}" class="btn btn-primary" target="_blank">Job Details</a>

                            </div>
                        </div>
                        
                        <div class="rquest-box" ng-if="Ack==0">
                            <div class="norecordfound">
                                        <img src="app/assets/images/norecordfound.png" class="img-responsive">
                                </div>
                        </div>
                        
                         <div class="col-xs-12">
                <ul class="pagination" ng-show="list.length>=6">
                    <li>
                       <a ng-hide="offset == 0" ng-click="previous()">Previous</a>
                    </li>
                    <li  ng-repeat="i in navButtons" ng-class="$parent.offset == i * $parent.perPage && 'active'" >
                        <a ng-click="$parent.offset = (i * $parent.perPage)">{{i+1}}</a>
                    </li>
                    
                    <li>
                        <a ng-hide="offset + perPage >= list.length" ng-click="next()">Next</a>
                    </li>
                </ul>
            </div> 
                       
                    </div>
                </div>
            </div>
        </section>