   <section class="request-page">
            <div class="container">
                <div class="request-top-area">
                    <div class="rqs-hide-btn"><i class="fa fa-minus"></i></div>
                    <h3>Service Professional Pro Assist!</h3>
                    <h5>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuri.es, but also the leap into electronic typesetting, remaining essentially unchanged.</h5>
                    <div class="rq-tp-btn">
                        <a href="#" class="btn btn-learn">Learn More</a>
                        <a href="#" class="btn btn-try">Try Now!</a>
                    </div>
                </div>
                <div class="request-part">
                    <div class="rqt-hd-prt">
                        <h3>Requests</h3>
                        <form class="rqst-filter">
                            <select>
                                <option>Most Relevant</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-xs-12 col-rqst">
                        <div class="rquest-box">
                            <div class="rqst-pic">
                                <img src="images/testimonialImage.jpg" alt="">
                            </div>
                            <div class="rqst-content">
                                <h4>Jackson Fernendez</h4>
                                <p class="star">
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star-half"></i>
                                    <i class="ion-android-star-outline"></i>
                                </p>
                                <h5>Photo booth  Kd, Detox 700123</h5>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                            </div>
                            <div class="rqst-right-part">
                                <p>18m ago</p>
                                <a href="#" class="rqs-pass">Pass</a>
                            </div>
                        </div>
                        <div class="rquest-box">
                            <div class="rqst-pic">
                                <img src="images/testimonialImage.jpg" alt="">
                            </div>
                            <div class="rqst-content">
                                <h4>Tip For Success <span>important</span></h4>
                                <p class="star">
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star-half"></i>
                                    <i class="ion-android-star-outline"></i>
                                </p>
                                <h5>Photo booth  Kd, Detox 700123</h5>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                            </div>
                            <div class="rqst-right-part">
                                <div class="rq-close">
                                    <i class="ion-close"></i>
                                </div>
                                <a href="#" class="rqs-ask btn">ASK FOR REVIEWS</a>
                            </div>
                        </div>
                        <div class="rquest-box">
                            <div class="rqst-pic">
                                <img src="images/testimonialImage.jpg" alt="">
                            </div>
                            <div class="rqst-content">
                                <h4>Tip For Success</h4>
                                <p class="star">
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star-half"></i>
                                    <i class="ion-android-star-outline"></i>
                                </p>
                                <h5>Photo booth  Kd, Detox 700123</h5>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                            </div>
                            <div class="rqst-right-part">
                                <p>18m ago</p>
                                <a href="#" class="rqs-pass">Pass</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>