<section class="dashboard-page">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Account Settings</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
     <!--       <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
<nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
        <!-- Page Content -->
        <div id="page-wrapper">
             <div class="searchProPart">
                 
                     <form name="searchForm" ng-submit="searchPro();">    
             	<div class="row">
             		<div class="col-md-4">
             			<div class="categoryParts">
             				 <div class="form-group">
							  <label for="sel1">Category:</label>
							  <select class="form-control" id="sel1" ng-model="pro.subcat_id">
                                                              <option value="">Select category</option>
                                                              <option ng-repeat="(key, value) in categoryList" value="{{key}}">{{value}}</option>
							  
							  </select>
                                        </div> 
             			</div>
             			
             		</div>
             	</div>
             	<div class="row">
             		<div class="col-md-12">
             			<div class="searchParts">
             				<div class="form-group">
					        
                                            <input class="form-control textField" ng-model="location" placeholder="Location" id="usr" type="text" vs-google-autocomplete
                                             vs-latitude="pro.lat" vs-longitude="pro.lng"            
                                                  >
<!--                                                  <input type="hidden" ng-model="pro.lat" />
                                                  <input type="hidden" ng-model="pro.lng" />-->
					            <i class="fa fa-map-marker"></i>
<!--					            <button type="submit" class="btn btn-primary"><i class="icon ion-search"></i> Search</button>-->
					         <input type="submit" class="btn btn-primary" value="Search">
          					<div class="clearfix"></div>
        				</div>
             			</div>
             		</div>
             	</div>
                 </form>   
             </div>   
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>