<section class="dashboard-page" ng--init="getlocation();">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Service Area</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
     <!--       <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
<nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                    <h4 class="page-header">Edit Service Area</h4>                  
                        <form class="dash-form" name="servicearea" ng-submit="savelocation()" novalidate="">
                        <div class="form">
                            <div class="frm-arch">
                                <div class="form-group" ng-class="{ 'has-error': servicearea.$submitted && servicearea.service_location.$invalid   }">
                                    <label>Service Area</label>
                                    <input type="text" name="service_location" ng-model="user.service_location"  required vs-google-autocomplete 
                                     vs-latitude="user.service_lat" vs-longitude="user.service_lang"       
                                     >
                                </div>
                             
                            </div>
                            </div>
                            <div class="form-submit">
                                <input type="submit" class="btn" value="save">
                            </div>
                        </form>
                        </div>
                        
                        
                        
        </div>
        
                        
                                                
                        
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>
<style>
 .has-error
 {
      border:1px solid #a94442 !important;
 }
</style>    