<section class="dashboard-page">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Job Post Confirmation</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
     <!--       <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
<nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                    <h4 class="page-header">Job Post Confirmation</h4>                        
                    <div class="question-area">
                                                <p style="font-weight: 800;font-size: large;text-align: center;">Your Job has posted successfully.<!--. Admin will review the Job and get back to you soon !!!!--></p>

                        
                       
                    </div>  
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>