 <section class="dashboard-page"  ng-init="view()">
       
          <div class="top-dash-heading">
              <div class="container">
                  <h1 class="pull-left"><i class="ion-android-settings"></i>Transaction History</h1>
                  
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
        <!--<nav class="navbar navbar-default navbar-static-top" role="navigation">-->
            <!--<div class="navbar-header">
                <button type="button" class="navbar-toggle dashboard-toggle" data-target=".navbar-collapse">
                    <span>Dashbord Menu</span> 
                </button>
            </div>-->
            <!-- /.navbar-header -->

            
            <!-- /.navbar-top-links -->

            <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
            <!-- /.navbar-static-side -->
       

        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row" style="position:relative; min-height:250px;">
                     <div class="loader" style="position:absolute; top:45%; left:45%;" ng-if="responsestatus"></div>
                        <h4 class="page-header">Transaction History</h4>
                        
                        <div class="notification-area">
                           
                            <div class="notification-part" ng-repeat="transaction in transactions" ng-if="Ack==1">
                               
                                    <div class="noti-img">
                                        <img src="{{transaction.image}}" alt="">
                                    </div>
                                    <h5 class="noti-info-text">
                                        Job Title : {{transaction.title}}<br>
                                        Service name : {{transaction.service_name}}<br/>
                                        Address: {{transaction.address}}<br/>
                                        Amount:{{transaction.amount | currency}}
                                    
                                    <br/>
                                    Payment On : <span>{{transaction.payment_time}}</span>
                                    </h5>
                               

                                
                            </div>
                            
                            <div class="notification-part" ng-if="Ack==0">
                                 <div class="norecordfound">
                                        <img src="app/assets/images/norecordfound.png" class="img-responsive">
                                </div>
                            </div>
                            
                             
                            
                        </div>
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>


  
 