<section class="dashboard-page">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Account Settings</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
         <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>

        <!-- Page Content -->
        <div id="page-wrapper" style="height: 250px;">
                <div class="row">
                        <h4 class="page-header">Verification</h4>
                        <div class="notification-area">
                        
                            <div class="notification-part">
                                
								  
								  	<div class="row">
								  		
								  		<div class="col-sm-6 text-center">
								  			<div class="images_verification text-center">
								  				<img src="app/assets/images/verified.png" style="margin:0 auto; width: 150px" class="img-responsive" />
								  			</div>
								  			<button style="margin-top: 15px auto; text-align: center;" type="button" class="btn btn-primary">Verified</button>
								  		</div>
								  		
								  		<div class="col-sm-6 text-center" ng-if="user.is_verify=='0'">
								  			<div class="images_verification text-center">
								  				<img src="app/assets/images/call.png" style="margin:0 auto; width: 150px" class="img-responsive" />
								  			</div>
								  		<a href="#/verify_phone">	<button style="margin-top: 15px auto; text-align: center;" type="button" class="btn btn-primary">Verify Now</button> </a>
								  		</div>

                      <div class="col-sm-6 text-center" ng-if="user.is_verify=='1'">
                        <div class="images_verification text-center">
                          <img src="app/assets/images/call-verified.png" style="margin:0 auto; width: 150px" class="img-responsive" />
                        </div>
                     <button style="margin-top: 15px auto; text-align: center;" type="button" class="btn btn-primary">Verified</button>
                      </div>

								  		
								  	</div>
								   
								 
								 
								  
                            </div>

                       
                            
                        </div>
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>