<section class="dashboard-page">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Account Settings</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
     <!--       <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
<nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                        <h4 class="page-header">OTP Confirmation</h4>
                        
                        
                    <form class="dash-form" ng-submit="phoneverifyotp(user)">
                        
                        <div style="color: red" ng-show="submissionPhotp">{{submissionPhotp}}</div>
                        <div style="color: green" ng-show="submissionPhotpsucc">{{submissionPhotpsucc}}</div>
                        
                        <div class="dash-name frm-arch">
                            <div class="form-group">
                                <label>Please Enter correct OTP</label>
                                <input type="password" placeholder="OTP" name="name" ng-model="user.phoneverifyotp">
                            </div>
                           
                        </div>
                     
                      
                            
                            
                            <div class="form-submit">
                                <input type="submit" class="btn" value="submit">
                            </div>                        
                    </form>
                        
                </div>        
                        
                        
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>