<section class="dashboard-page">
          <div class="top-dash-heading">
              <div class="container">
                  <h1><i class="ion-android-settings"></i> Account Settings</h1>
              </div>
          </div>
          <div class="container">
              <div id="wrapper">

        <!-- Navigation -->
     <!--       <div data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
<nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                        <h4 class="page-header">Mobile Verification</h4>
                        
                        
                    <form class="dash-form" ng-submit="phoneverify(user)">
                        
                        
                        <div style="color: red" ng-show="submissionphone">{{submissionphone}}</div>
                        
                        
                        <div class="dash-name frm-arch">
                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input type="text" placeholder="Mobile no" name="name" ng-model="user.phoneverify">
                            </div>
                           
                        </div>
                     
                      
                            
                            
                            <div class="form-submit">
                                <input type="submit" class="btn" value="submit">
                            </div>
                        
                    </form>
                </div>
                        
                        
                        
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
          </div>
      </section>