<!--    dashboard   page   -->
<section class="dashboard-page" ng-init="view();">
   <div class="container">
      <div id="wrapper">
         <!-- Navigation -->
         <nav class="navbar navbar-default navbar-static-top" data-ng-include=" 'app/views/partials/sidebar.html' " role="navigation"></nav>
         <!-- Page Content -->
         <div id="page-wrapper">
            <div class="row">
               <section class="creditPage" >
                  <div class="row">
                     <div class="col-md-12 col-lg-12 col-sm-12">
                        <h2 class="text-center">View Card Details</h2>
                     </div>
                  </div>
                  <div class="row" ng-if="Ack">
                     <div class="col-md-12">
                        <div class="form-group row">
                           <label for="example-text-input" class="col-sm-3 col-lg-3 col-md-3 col-form-label">Customer Id</label>
                           <div class="col-sm-9 col-lg-9 col-md-9">
                              {{card.customerId}}
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-sm-3 col-lg-3 col-md-3 col-form-label">Name on Card</label>
                           <div class="col-sm-9 col-lg-9 col-md-9">
                              <label class="cardDetails">{{card.name}}</label>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label for="example-text-input" class="col-sm-3 col-lg-3 col-md-3 col-form-label">Card Number</label>
                           <div class="col-sm-9 col-lg-9 col-md-9">
                              <label class="cardDetails">{{card.CardNumber}}</label>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label for="example-text-input" class="col-sm-3 col-lg-3 col-md-3 col-form-label">Card Type</label>
                           <div class="col-sm-9 col-lg-9 col-md-9">
                              <label class="cardDetails">{{card.cardType}}</label>
                           </div>
                        </div>
                        <!--<div class="form-group row">
                           <label for="example-text-input" class="col-sm-3 col-lg-3 col-md-3 col-form-label">Card Type</label>
                           <div class="col-sm-9 col-lg-9 col-md-9">
                           		<img src="images/visadebitcard.png" class="img-responsive">
                           </div>
                           </div>-->
                        <div class="form-group row">
                           <label for="example-text-input" class="col-sm-3 col-lg-3 col-md-3 col-form-label">Expires On</label>
                           <div class="col-sm-9 col-lg-9 col-md-9">
                              <div class="row">
                                 <div class="col-md-2 col-sm-2 col-lg-2">
                                    <label class="cardDetails">{{card.expirationMonth}}</label>
                                 </div>
                                 <div class="col-md-2 col-sm-2 col-lg-2">
                                    <label class="cardDetails">{{card.expirationYear}}</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--<div class="buttons"><button type="button" class="btn btn-primary">Save</button></div>-->
                     </div>
                  </div>
                   
                   <div class="row" ng-if="!Ack" style="text-align:center">
                      <h2>Card Information not saved</h2>
                  </div>
               </section>
            </div>
            <!-- /.row -->
         </div>
         <!-- /#page-wrapper -->
      </div>
   </div>
</section>

